playbook/playbook-Cortex_ASM_-_Azure_Enrichment.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 1.7.30
    packID: CortexAttackSurfaceManagement
    packName: Cortex Attack Surface Management
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: Given the IP address, this playbook enriches Azure information relevant
  to ASM alerts.
id: Cortex ASM - Azure Enrichment
inputs:
- description: IP address of the service.
  key: RemoteIP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: remoteip
      root: inputs
name: Cortex ASM - Azure Enrichment
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2d64b816-89fc-41a2-854f-bb692f819049
      iscommand: false
      name: ""
      version: -1
    taskid: 2d64b816-89fc-41a2-854f-bb692f819049
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -320
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
      - "4"
      - "7"
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4ecaeaef-26e3-4dea-8d9e-3077b1b74f27
      iscommand: false
      name: Set Fields
      type: title
      version: -1
    taskid: 4ecaeaef-26e3-4dea-8d9e-3077b1b74f27
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": -30
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: MSGraphUser
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                root: Account
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "42"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there is IAM information to set in the service owner
        field.
      id: a3f191ac-7170-45ae-8dc5-99bc34dba8aa
      iscommand: false
      name: Is there IAM information?
      type: condition
      version: -1
    taskid: a3f191ac-7170-45ae-8dc5-99bc34dba8aa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -440,
          "y": 160
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Compute
                root: Azure
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "42"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there is Azure Compute information to set in the
        system ID fields.
      id: bcc6fdaf-5e48-4b16-8b24-09aa970a8e17
      iscommand: false
      name: Is there Azure compute information?
      type: condition
      version: -1
    taskid: bcc6fdaf-5e48-4b16-8b24-09aa970a8e17
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 240,
          "y": 160
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Network
                root: Azure
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there is Azure network information to set in the
        ASM Private IP field.
      id: c26383e9-d9ff-438f-808e-ee61a3346087
      iscommand: false
      name: Is there Azure network information?
      type: condition
      version: -1
    taskid: c26383e9-d9ff-438f-808e-ee61a3346087
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 160
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmserviceowner
      keys:
        simple: name,email,source,timestamp
      val1:
        complex:
          accessor: DisplayName
          root: Account
      val2:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Account.Email.Address
              operator: isEmpty
            - left:
                iscontext: true
                value:
                  simple: Account.Email.Address
              operator: isNotEmpty
          root: Account
          transformers:
          - args:
              field:
                value:
                  simple: Email
            operator: getField
          - args:
              field:
                value:
                  simple: Address
            operator: getField
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: n/a
            operator: SetIfEmpty
      val3:
        simple: Azure
      val4:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the potential Azure service owner to the grid field for the
        ASM service owner object.
      id: d4404283-acdd-4acf-89af-da03742b990e
      iscommand: false
      name: Set service owner grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: d4404283-acdd-4acf-89af-da03742b990e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -440,
          "y": 540
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 504447f8-8014-40c3-8298-47c42263c4b0
      iscommand: false
      name: Service Owner
      type: title
      version: -1
    taskid: 504447f8-8014-40c3-8298-47c42263c4b0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -440,
          "y": 395
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e5838619-5ed2-4781-87aa-a714059bab56
      iscommand: false
      name: System IDs
      type: title
      version: -1
    taskid: e5838619-5ed2-4781-87aa-a714059bab56
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 240,
          "y": 395
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-SG
      val2:
        complex:
          accessor: id
          root: Azure.Network.Interfaces.NetworkSecurityGroup
          transformers:
          - args:
              from:
                value:
                  simple: networkSecurityGroups/
            operator: substringFrom
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets Azure NSG information to the grid field for the ASM system
        IDs object.
      id: 03cce49f-830e-4512-8f0d-b7cb31084bed
      iscommand: false
      name: Set system IDs grid field (NSG)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 03cce49f-830e-4512-8f0d-b7cb31084bed
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 240,
          "y": 750
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-RG
      val2:
        complex:
          accessor: ResourceGroup
          root: Azure.Compute
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets Azure resource group information to the grid field for the
        ASM system IDs object. The variable name "CLOUD-RG" is chosen because multiple
        CSPs have a concept of a resource group including Alibaba, IBM Cloud, and
        Azure.
      id: 73400d3c-a716-4661-8566-5de1c157fc3c
      iscommand: false
      name: Set system IDs grid field (Resource Group)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 73400d3c-a716-4661-8566-5de1c157fc3c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 240,
          "y": 950
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-NIC
      val2:
        complex:
          accessor: id
          root: Azure.Compute.NetworkInterfaces
          transformers:
          - args:
              from:
                value:
                  simple: networkInterfaces/
            operator: substringFrom
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets Azure NIC information to the grid field for the ASM system
        IDs object. The variable name "ASSET-NIC" is chosen because it can used for
        more than just compute resources in all cloud providers.
      id: a8741572-ed2d-4dc3-8ff9-72fda657bdd9
      iscommand: false
      name: Set system IDs grid field (NIC)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: a8741572-ed2d-4dc3-8ff9-72fda657bdd9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1120
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-ID
      val2:
        complex:
          accessor: ID
          root: Azure.Compute
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the Azure Compute instance ID to the grid field for the ASM
        system IDs object.
      id: 3bb6875c-a2fe-40e9-8bc4-c50d92f809c8
      iscommand: false
      name: Set system IDs grid field (ID)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 3bb6875c-a2fe-40e9-8bc4-c50d92f809c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1290
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmprivateip
      keys:
        simple: ip,source
      val1:
        complex:
          accessor: PrivateIPAddress
          root: Azure.Network.Interfaces.IPConfigurations
      val2:
        simple: Azure
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the private IP to the grid field for the ASM private IP object.
      id: 4754cbe8-72a4-4523-80ca-6d3d08b82a6f
      iscommand: false
      name: Set private IP grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 4754cbe8-72a4-4523-80ca-6d3d08b82a6f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 540
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8a224e02-de55-421c-84c6-d2e0d9755745
      iscommand: false
      name: Private IP
      type: title
      version: -1
    taskid: 8a224e02-de55-421c-84c6-d2e0d9755745
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 405
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 089d582c-44d7-4ca2-8034-59c15a439316
      iscommand: false
      name: Cloud
      type: title
      version: -1
    taskid: 089d582c-44d7-4ca2-8034-59c15a439316
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 750,
          "y": 395
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmcloud
      keys:
        simple: provider,organization,project,region,other
      val1:
        simple: Azure
      val2:
        complex:
          accessor: id
          root: Azure.Compute.NetworkInterfaces
          transformers:
          - args:
              from:
                value:
                  simple: subscriptions/
              to:
                value:
                  simple: /resourceGroups
            operator: ExtractInbetween
      val3:
        complex:
          accessor: ResourceGroup
          root: Azure.Compute
      val4:
        complex:
          accessor: Location
          root: Azure.Compute
      val5:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets Azure subscription, resource group, and location information
        to the grid field for the ASM cloud object.
      id: 65f0d4d7-46dd-4e48-8f34-864170426cf6
      iscommand: false
      name: Set cloud grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 65f0d4d7-46dd-4e48-8f34-864170426cf6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 750,
          "y": 530
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-NAME
      val2:
        complex:
          accessor: Name
          root: Azure.Compute
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the Azure Compute instance name to the grid field for the
        ASM system IDs object.
      id: 290b4a5c-825a-4add-89a7-f04291ac94e3
      iscommand: false
      name: Set system IDs grid field (Compute Name)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 290b4a5c-825a-4add-89a7-f04291ac94e3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1460
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Compute
                root: Azure
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Network
                root: Azure
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there is Azure Compute information to set in the
        Cloud ASM fields.
      id: e19d66ed-95d9-449f-88b0-bc6b9bba2ce6
      iscommand: false
      name: Is there Azure compute information?
      type: condition
      version: -1
    taskid: e19d66ed-95d9-449f-88b0-bc6b9bba2ce6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 750,
          "y": 160
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      AzureIP:
        complex:
          root: inputs.RemoteIP
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: d6c63bb2-4ecf-4774-8d6b-753900f93014
      iscommand: false
      name: Azure - Enrichment
      playbookId: Azure - Enrichment
      type: playbook
      version: -1
    taskid: d6c63bb2-4ecf-4774-8d6b-753900f93014
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": -190
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_azure
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: da34d968-430d-4aee-86ca-c4e820757418
      iscommand: false
      name: Set true flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: da34d968-430d-4aee-86ca-c4e820757418
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 705
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_azure
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 37124e52-78a1-464f-8820-b81a150dd5b9
      iscommand: false
      name: Set true flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: 37124e52-78a1-464f-8820-b81a150dd5b9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 750,
          "y": 705
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cb8dbbb3-3ab2-4ad9-8a7c-43d1cae20ec7
      iscommand: false
      name: System IDs - End
      type: title
      version: -1
    taskid: cb8dbbb3-3ab2-4ad9-8a7c-43d1cae20ec7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1830
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5f867ab1-c5de-4ea9-8bb2-fdcb056576f6
      iscommand: false
      name: Private IP - End
      type: title
      version: -1
    taskid: 5f867ab1-c5de-4ea9-8bb2-fdcb056576f6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 1010
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: df829f18-4e1b-4b2f-8776-a8ab4dcc157b
      iscommand: false
      name: Cloud - End
      type: title
      version: -1
    taskid: df829f18-4e1b-4b2f-8776-a8ab4dcc157b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 750,
          "y": 1010
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_azure
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 8d86a6fd-4dfb-4ca7-8d42-a879a6c1d4a7
      iscommand: false
      name: Set true flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: 8d86a6fd-4dfb-4ca7-8d42-a879a6c1d4a7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1605
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_azure
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 4705690b-b641-46e4-80a6-d7d5bd134012
      iscommand: false
      name: Set true flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: 4705690b-b641-46e4-80a6-d7d5bd134012
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -440,
          "y": 705
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f5740794-f742-459d-86bc-830a9c6bf575
      iscommand: false
      name: Service Owner - End
      type: title
      version: -1
    taskid: f5740794-f742-459d-86bc-830a9c6bf575
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -440,
          "y": 1425
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_azure
      value:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: f84d4ab6-ac4a-4f2d-8946-444fae9e20aa
      iscommand: false
      name: Set false flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: f84d4ab6-ac4a-4f2d-8946-444fae9e20aa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -170,
          "y": 870
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_azure
      value:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 2d832d75-c6f4-4f01-8a45-deaf1dd608c3
      iscommand: false
      name: Set false flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: 2d832d75-c6f4-4f01-8a45-deaf1dd608c3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 830
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5ba9c0c3-21ed-4591-8506-98b64b7edfdc
      iscommand: false
      name: Closing Steps
      type: title
      version: -1
    taskid: 5ba9c0c3-21ed-4591-8506-98b64b7edfdc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1197.5,
          "y": 1990
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8994fe70-4aa3-4add-8795-9817f67c360c
      iscommand: false
      name: Complete
      type: title
      version: -1
    taskid: 8994fe70-4aa3-4add-8795-9817f67c360c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1207.5,
          "y": 2580
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmenrichmentstatus
      keys:
        simple: source,record_exists,timestamp
      val1:
        simple: Azure
      val2:
        simple: "true"
      val3:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format. For example:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: e64e324a-53bb-4451-8e5a-87127d32bada
      iscommand: false
      name: Set ASM enrichment status to true
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: e64e324a-53bb-4451-8e5a-87127d32bada
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1442.5,
          "y": 2360
        }
      }
  "47":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: asm_enrichment_flag_azure
          operator: containsGeneral
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "48"
      "yes":
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if enrichment was performed by checking for a value of true
        in the relevant flag variable.
      id: 24b06f4b-f7b5-4fd5-84f6-3a0d1f954fce
      iscommand: false
      name: Was enrichment performed?
      type: condition
      version: -1
    taskid: 24b06f4b-f7b5-4fd5-84f6-3a0d1f954fce
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1197.5,
          "y": 2140
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmenrichmentstatus
      keys:
        simple: source,record_exists,timestamp
      val1:
        simple: Azure
      val2:
        simple: "false"
      val3:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format. For example:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 16059233-a236-482c-8950-51ad875e40b8
      iscommand: false
      name: Set ASM enrichment status to false
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 16059233-a236-482c-8950-51ad875e40b8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 990,
          "y": 2360
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-TYPE
      val2:
        simple: Azure Compute
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the type of cloud asset to the grid field for the ASM system
        IDs object.
      id: 04cc55a1-4d5e-4c75-8424-56efa9d1f73e
      iscommand: false
      name: Set system IDs grid field (type)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 04cc55a1-4d5e-4c75-8424-56efa9d1f73e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 240,
          "y": 580
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "25_19_yes": 0.6,
      "3_42_#default#": 0.32,
      "3_9_yes": 0.5,
      "4_11_yes": 0.43,
      "4_42_#default#": 0.31,
      "7_18_yes": 0.5
    },
    "paper": {
      "dimensions": {
        "height": 2965,
        "width": 2262.5,
        "x": -440,
        "y": -320
      }
    }
  }
