playbook/playbook-WildFire_Malware.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    itemVersion: 3.0.21
    packID: Core
    packName: Core - Investigation and Response
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook handles WildFire Malware alerts.
  It performs enrichment on the different alert entities and establishes a verdict.
  For a possible true positive alert, the playbook performs further investigation for related IOCs and executes a containment plan.
id: WildFire Malware
inputSections:
- description: Alert management settings and data, including escalation processes,
    and user engagements.
  inputs:
  - EmailAddress
  - ShouldCloseAutomatically
  - AutoMarkFP
  name: Alert Management
- description: Enrichment settings and data, including assets and indicators enrichment
    using third-party enrichers.
  inputs:
  - Query
  - sha256
  name: Enrichment
- description: Investigation settings and data, including any deep dive alert investigation
    and verdict determination.
  inputs:
  - GraywarePhishingAsMalware
  name: Investigation
- description: Remediation settings and data, including containment, eradication,
    and recovery.
  inputs:
  - AutoContainment
  - BlockIndicators
  - HostAutoContainment
  - OriginalFileContainment
  - RelatedFileContainment
  - FileRemediation
  - AutoRecovery
  name: Remediation
- description: Ticket management settings and data.
  inputs:
  - ShouldOpenTicket
  - serviceNowShortDescription
  - serviceNowImpact
  - serviceNowUrgency
  - serviceNowSeverity
  - serviceNowTicketType
  - serviceNowCategory
  - serviceNowAssignmentGroup
  - ZendeskPriority
  - ZendeskRequester
  - ZendeskStatus
  - ZendeskSubject
  - ZendeskTags
  - ZendeskType
  - ZendeskAssigne
  - ZendeskCollaborators
  - description
  - addCommentPerEndpoint
  - CommentToAdd
  name: Ticket Management
inputs:
- description: The SHA256 hash of the suspected file. Decided by the DT expression
    wether it's the initiator or the target file SHA256.
  key: sha256
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: alert
      transformers:
      - args:
          dt:
            value:
              simple: .=pickvalue(val);function pickvalue(x){if(x.initiatorsha256){return
                x.initiatorsha256} else {return x.filesha256}}
        operator: DT
- description: Whether to treat grayware and phishing alerts as malware.
  key: GraywarePhishingAsMalware
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: |-
    Whether to execute the containment plan (except isolation) automatically.
    The specific containment playbook inputs should also be set to 'True'.
  key: AutoContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: Whether to automatically execute endpoint isolation in case there are
    investigation findings.
  key: HostAutoContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: Set to True if you want to block the indicators.
  key: BlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: Set to True if you want to quarantine the original malicious file.
  key: OriginalFileContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: Set to True to quarantine the identified files found in the investigation.
  key: RelatedFileContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: "Choose 'Quarantine' or 'Delete'  to avoid file remediation conflicts.
    \nFor example, choosing 'Quarantine' ignores the 'Delete file' task under the
    eradication playbook and executes only file quarantine."
  key: FileRemediation
  playbookInputQuery: null
  required: false
  value:
    simple: Quarantine
- description: Whether to automatically mark alerts that were found as benign by the
    'Enrichment for Verdict' playbook and report false positive alerts to WildFire.
    True/False.
  key: AutoMarkFP
  playbookInputQuery: null
  required: false
  value: {}
- description: User's email address to use when reporting false positive alerts to
    WildFire.
  key: EmailAddress
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether to automatically close the alert after investigation and remediation
    are finished. True/False.
  key: ShouldCloseAutomatically
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether to execute the Recovery playbook after the investigation and
    remediation are finished. True/False.
  key: AutoRecovery
  playbookInputQuery: null
  required: false
  value: {}
- description: The query for searching previous alerts based on the file we want to
    respond to. Decided by the If-Then-Else expression wether it's the initiator or
    the target file.
  key: Query
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: alert
      transformers:
      - args:
          condition:
            value:
              simple: lhs!=rhs
          conditionB: {}
          conditionInBetween: {}
          else:
            value:
              simple: ${alert= 'initiatorsha256:"' + val.initiatorsha256 + '" and
                sourceBrand:"' + val.sourceBrand + '" and name:"' + val.name + '"'}
          equals: {}
          lhs:
            iscontext: true
            value:
              simple: alert.filesha256
          lhsB: {}
          options: {}
          optionsB: {}
          rhs: {}
          rhsB: {}
          then:
            value:
              simple: ${alert= '(filesha256:"' + val.filesha256 + '" and sourceBrand:"'
                + val.sourceBrand + '" and name:"' + val.name + '"'}
        operator: If-Then-Else
- description: Whether to open a ticket automatically in a ticketing system. (True/False).
  key: ShouldOpenTicket
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: A short description of the ticket.
  key: serviceNowShortDescription
  playbookInputQuery: null
  required: false
  value:
    simple: XSIAM Incident ID - ${parentIncidentFields.incident_id}
- description: The impact for the new ticket. Leave empty for ServiceNow default impact.
  key: serviceNowImpact
  playbookInputQuery: null
  required: false
  value: {}
- description: The urgency of the new ticket. Leave empty for ServiceNow default urgency.
  key: serviceNowUrgency
  playbookInputQuery: null
  required: false
  value: {}
- description: The severity of the new ticket. Leave empty for ServiceNow default
    severity.
  key: serviceNowSeverity
  playbookInputQuery: null
  required: false
  value: {}
- description: The ServiceNow ticket type. Options are "incident", "problem", "change_request",
    "sc_request", "sc_task", or "sc_req_item". Default is "incident".
  key: serviceNowTicketType
  playbookInputQuery: null
  required: false
  value: {}
- description: The category of the ServiceNow ticket.
  key: serviceNowCategory
  playbookInputQuery: null
  required: false
  value: {}
- description: The group to which to assign the new ticket.
  key: serviceNowAssignmentGroup
  playbookInputQuery: null
  required: false
  value: {}
- description: The urgency with which the ticket should be addressed. Allowed values
    are "urgent", "high", "normal", or "low".
  key: ZendeskPriority
  playbookInputQuery: null
  required: false
  value: {}
- description: The user who requested this ticket.
  key: ZendeskRequester
  playbookInputQuery: null
  required: false
  value: {}
- description: The state of the ticket. Allowed values are "new", "open", "pending",
    "hold", "solved", or "closed".
  key: ZendeskStatus
  playbookInputQuery: null
  required: false
  value: {}
- description: The value of the subject field for this ticket.
  key: ZendeskSubject
  playbookInputQuery: null
  required: false
  value:
    simple: XSIAM Incident ID - ${parentIncidentFields.incident_id}
- description: The array of tags applied to this ticket.
  key: ZendeskTags
  playbookInputQuery: null
  required: false
  value: {}
- description: The type of this ticket. Allowed values are "problem", "incident",
    "question", or "task".
  key: ZendeskType
  playbookInputQuery: null
  required: false
  value: {}
- description: The agent currently assigned to the ticket.
  key: ZendeskAssigne
  playbookInputQuery: null
  required: false
  value: {}
- description: The users currently CC'ed on the ticket.
  key: ZendeskCollaborators
  playbookInputQuery: null
  required: false
  value: {}
- description: The ticket description.
  key: description
  playbookInputQuery: null
  required: false
  value:
    simple: ${parentIncidentFields.description}. ${parentIncidentFields.xdr_url}
- description: 'Whether to append a new comment to the ticket for each endpoint in
    the incident. Possible values: True/False.'
  key: addCommentPerEndpoint
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Comment for the ticket.
  key: CommentToAdd
  playbookInputQuery: null
  required: false
  value:
    simple: '${alert.name}. Alert ID: ${alert.id}'
name: WildFire Malware
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "110"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 11a57176-6631-4746-8d87-2c8d5ac617b2
      iscommand: false
      name: ""
      version: -1
    taskid: 11a57176-6631-4746-8d87-2c8d5ac617b2
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -310,
          "y": -1360
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: alert.action
          operator: containsGeneral
          right:
            value:
              simple: PREVENTED
        - left:
            iscontext: true
            value:
              simple: alert.action
          operator: isEqualString
          right:
            value:
              simple: BLOCKED
      label: "Yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "121"
      "Yes":
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a WildFire Post-Detection alert?
      id: d5eba40e-7195-481c-88d7-af5f92d29173
      iscommand: false
      name: Was the malware prevented? (blocked)
      type: condition
      version: -1
    taskid: d5eba40e-7195-481c-88d7-af5f92d29173
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 170,
          "y": -100
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "122"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a9d14fb6-20de-4c18-85cf-f1dd7ad1d84d
      iscommand: false
      name: Investigation
      type: title
      version: -1
    taskid: a9d14fb6-20de-4c18-85cf-f1dd7ad1d84d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -140,
          "y": 1950
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "131"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e249e98d-3fb1-4355-8097-9b47893a41ad
      iscommand: false
      name: Pre-Investigation Containment
      type: title
      version: -1
    taskid: e249e98d-3fb1-4355-8097-9b47893a41ad
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 730,
          "y": 430
        }
      }
  "36":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: VerdictDescription
                root: WildFire.Verdicts
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: malware
      label: Malware
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "127"
      Malware:
      - "126"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check WildFire alert type.
      id: 3b500480-3ba3-4d88-8c70-0755876824d7
      iscommand: false
      name: Check WildFire type
      type: condition
      version: -1
    taskid: 3b500480-3ba3-4d88-8c70-0755876824d7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 170,
          "y": 940
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "100"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2d31a492-5195-4c55-89e1-5a3a4f72a469
      iscommand: false
      name: False Positive Alert
      type: title
      version: -1
    taskid: 2d31a492-5195-4c55-89e1-5a3a4f72a469
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1260,
          "y": -730
        }
      }
  "65":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoMarkFP
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "124"
      "yes":
      - "105"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should report alert to WildFire and handle as False Positive?
      id: 97186ec1-fbcf-4ac0-8d77-b0e6e1e16f02
      iscommand: false
      name: Should report alert to WildFire and handle as False Positive?
      type: condition
      version: -1
    taskid: 97186ec1-fbcf-4ac0-8d77-b0e6e1e16f02
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1260,
          "y": -235
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "70"
      Allow list:
      - "68"
      Block list:
      - "69"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual - Review and handle alert.
      id: 68e3dfd4-484f-41b7-854c-65ba29772bcc
      iscommand: false
      name: Manual - Review and handle alert
      type: condition
      version: -1
    taskid: 68e3dfd4-484f-41b7-854c-65ba29772bcc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 730,
          "y": 1430
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    scriptarguments:
      comment:
        simple: Added by Cortex XSIAM.
      hash_list:
        complex:
          root: inputs.sha256
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Adds requested files to allow list if they are not already on block
        list or allow list.
      id: 31672110-c4e9-406c-81cb-23406c8b6f0b
      iscommand: true
      name: Add hash to Allowed List
      script: '|||core-allowlist-files'
      type: regular
      version: -1
    taskid: 31672110-c4e9-406c-81cb-23406c8b6f0b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 1610
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    scriptarguments:
      comment:
        simple: Added by Cortex XSIAM.
      hash_list:
        complex:
          root: inputs.sha256
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Block lists requested files which have not already been block listed
        or added to allow list.
      id: 4cc55fc7-ac15-48c1-8132-d49a04088e57
      iscommand: true
      name: Add hash to Blocked List
      script: '|||core-blocklist-files'
      type: regular
      version: -1
    taskid: 4cc55fc7-ac15-48c1-8132-d49a04088e57
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 410,
          "y": 1610
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "117"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should investigate further?
      id: 6a8efaa2-3376-45d1-8afe-c4800887730c
      iscommand: false
      name: Should investigate further?
      type: condition
      version: -1
    taskid: 6a8efaa2-3376-45d1-8afe-c4800887730c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 730,
          "y": 1780
        }
      }
  "84":
    continueonerrortype: ""
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e6a5956d-d3e5-496b-8178-ee8e15e90f8e
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: e6a5956d-d3e5-496b-8178-ee8e15e90f8e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1260,
          "y": 3810
        }
      }
  "95":
    continueonerrortype: ""
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "98"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b23bee88-5564-4714-8763-b4a58be43dc1
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: b23bee88-5564-4714-8763-b4a58be43dc1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -400,
          "y": 2650
        }
      }
  "98":
    continueonerrortype: ""
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      scriptArguments:
        BlockIndicators:
          simple: "True"
        ContainmentType:
          simple: Auto
        EndpointContainment:
          simple: "False"
        FileContainment:
          simple: "True"
        ScheduledTaskConatinment:
          simple: "True"
        UserContainment:
          simple: "True"
      wait: 1
    nexttasks:
      '#none#':
      - "117"
    note: false
    quietmode: 0
    scriptarguments:
      AutoContainment:
        complex:
          root: inputs.AutoContainment
      BlockIndicators:
        complex:
          root: inputs.BlockIndicators
      ClearUserSessions:
        simple: "False"
      EndpointID:
        complex:
          accessor: agentid
          root: alert
      FileContainment:
        complex:
          root: inputs.RelatedFileContainment
      FileHash:
        complex:
          root: alert
          transformers:
          - args:
              condition:
                value:
                  simple: lhs!=rhs
              conditionB: {}
              conditionInBetween: {}
              else:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.initiatorsha256
              equals: {}
              lhs:
                iscontext: true
                value:
                  simple: alert.filesha256
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.filesha256
            operator: If-Then-Else
      FilePath:
        complex:
          root: alert
          transformers:
          - args:
              condition:
                value:
                  simple: lhs!=rhs
              conditionB: {}
              conditionInBetween: {}
              else:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.initiatorpath
              equals: {}
              lhs:
                iscontext: true
                value:
                  simple: alert.filesha256
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.filepath
            operator: If-Then-Else
      FileRemediation:
        complex:
          root: inputs.FileRemediation
      HostContainment:
        complex:
          root: inputs.HostAutoContainment
      UserContainment:
        simple: "False"
      UserVerification:
        simple: "False"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the containment actions available with Cortex XSIAM, including the following tasks:
        * Isolate endpoint
        * Disable account
        * Quarantine file
        * Block indicators
        * Clear user session (currently, the playbook supports only Okta)

        Note: The playbook inputs enable manipulating the execution flow; read the input descriptions for details.
      id: fe3720ee-c866-4565-8228-df2a038ebca7
      iscommand: false
      name: Containment Plan
      playbookId: Containment Plan
      type: playbook
      version: -1
    taskid: fe3720ee-c866-4565-8228-df2a038ebca7
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -400,
          "y": 2800
        }
      }
  "100":
    continueonerrortype: ""
    id: "100"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "65"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: WildFire report  - Review  identified characteristics
      id: ff411158-cffb-487c-8407-18ada6a4c1b4
      iscommand: false
      name: WildFire report  - Review  identified characteristics
      type: regular
      version: -1
    taskid: ff411158-cffb-487c-8407-18ada6a4c1b4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1260,
          "y": -415
        }
      }
  "105":
    continueonerrortype: ""
    id: "105"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "111"
    note: false
    quietmode: 0
    scriptarguments:
      email:
        complex:
          root: inputs.EmailAddress
      file_hash:
        complex:
          root: inputs.sha256
      new_verdict:
        simple: "0"
      reason:
        simple: Marked as False Positive in a Cortex XSIAM investigation.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: report FP to wildfire through XDR
      id: b14c75d0-887e-4c7b-81b7-3b63317b95db
      iscommand: true
      name: Report False Positive to WildFire
      script: '|||core-report-incorrect-wildfire'
      type: regular
      version: -1
    taskid: b14c75d0-887e-4c7b-81b7-3b63317b95db
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1260,
          "y": 110
        }
      }
  "106":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: alert.autime
          operator: greaterThan
          right:
            iscontext: true
            value:
              simple: TimeNowUnix
      label: 24H
    continueonerrortype: ""
    id: "106"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      24H:
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check hash execution timestamp.
      id: 377be20d-9ffd-4b2d-81d1-11711fc1a769
      iscommand: false
      name: Check hash execution timestamp
      type: condition
      version: -1
    taskid: 377be20d-9ffd-4b2d-81d1-11711fc1a769
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 530,
          "y": 260
        }
      }
  "110":
    continueonerrortype: ""
    id: "110"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "119"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5b78e324-ed38-4740-8481-3c44a317b848
      iscommand: false
      name: Verdict
      type: title
      version: -1
    taskid: 5b78e324-ed38-4740-8481-3c44a317b848
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -310,
          "y": -1210
        }
      }
  "111":
    continueonerrortype: ""
    id: "111"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    scriptarguments:
      FileSHA256:
        complex:
          root: inputs.sha256
      ShouldCloseAutomatically:
        complex:
          root: inputs.ShouldCloseAutomatically
      alertName:
        complex:
          accessor: name
          root: alert
      sourceIP:
        complex:
          accessor: hostip
          root: alert
      username:
        complex:
          accessor: username
          root: alert
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |
        This playbook handles false positive alerts.
      id: d9f34c1e-5a36-48e3-8b2c-29bbcd5d465e
      iscommand: false
      name: Handle False Positive Alerts
      playbookId: Handle False Positive Alerts
      type: playbook
      version: -1
    taskid: d9f34c1e-5a36-48e3-8b2c-29bbcd5d465e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1260,
          "y": 295
        }
      }
  "112":
    continueonerrortype: ""
    id: "112"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: Resolved - Threat Handled
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the alert.
      id: 467cd753-37e5-4118-8962-2c0bfefedbb9
      iscommand: true
      name: close alert
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 467cd753-37e5-4118-8962-2c0bfefedbb9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 730,
          "y": 3640
        }
      }
  "113":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoRecovery
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "113"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "114"
      "yes":
      - "116"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should restore affected endpoint?
      id: 7d84c915-3451-4325-809d-8ea91a0134c1
      iscommand: false
      name: Should restore affected endpoint?
      type: condition
      version: -1
    taskid: 7d84c915-3451-4325-809d-8ea91a0134c1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 730,
          "y": 3115
        }
      }
  "114":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ShouldCloseAutomatically
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "112"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should close alert automatically?
      id: 86efbb93-4ae8-4f28-87ed-f9651e61c920
      iscommand: false
      name: Should close alert automatically?
      type: condition
      version: -1
    taskid: 86efbb93-4ae8-4f28-87ed-f9651e61c920
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 730,
          "y": 3460
        }
      }
  "116":
    continueonerrortype: ""
    id: "116"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "114"
    note: false
    quietmode: 0
    scriptarguments:
      FileHash:
        complex:
          root: inputs.sha256
      endpointID:
        complex:
          accessor: agentid
          root: alert
      releaseFile:
        simple: "false"
      unIsolateEndpoint:
        simple: "true"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the recovery actions available with Cortex XSIAM, including the following tasks:
        * Unisolate endpoint
        * Restore quarantined file

        Note: The playbook inputs enable manipulating the execution flow; read the input descriptions for details.
      id: bf231072-4b35-4c62-81c2-d23c8d52faf4
      iscommand: false
      name: Recovery Plan
      playbookId: Recovery Plan
      type: playbook
      version: -1
    taskid: bf231072-4b35-4c62-81c2-d23c8d52faf4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 3290
        }
      }
  "117":
    continueonerrortype: ""
    id: "117"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "113"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 32f5a428-81f0-4bba-84f5-c67f27f14312
      iscommand: false
      name: Recovery
      type: title
      version: -1
    taskid: 32f5a428-81f0-4bba-84f5-c67f27f14312
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 730,
          "y": 2970
        }
      }
  "119":
    continueonerrortype: ""
    id: "119"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "123"
    note: false
    quietmode: 0
    scriptarguments:
      CloseReason:
        simple: Resolved - False Positive,Resolved - Duplicate Incident,Resolved -
          Known Issue
      Domain:
        complex:
          accessor: domainname
          root: alert
      FileSHA256:
        complex:
          root: inputs.sha256
      IP:
        complex:
          accessor: hostip
          root: alert
      URL:
        complex:
          accessor: url
          root: alert
      User:
        complex:
          accessor: username
          root: alert
      query:
        complex:
          root: inputs.Query
      threshold:
        simple: "5"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook checks prior alert closing reasons and performs enrichment
        and prevalence checks on different IOC types. It then  returns the information
        needed to establish the alert's verdict.
      id: 8808fc83-42e2-46ba-8e7f-fb563844a57e
      iscommand: false
      name: Enrichment for Verdict
      playbookId: Enrichment for Verdict
      type: playbook
      version: -1
    taskid: 8808fc83-42e2-46ba-8e7f-fb563844a57e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -310,
          "y": -1070
        }
      }
  "120":
    continueonerrortype: ""
    id: "120"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      AutoContainment:
        simple: "True"
      BlockIndicators:
        simple: "False"
      ClearUserSessions:
        simple: "False"
      EndpointID:
        complex:
          accessor: agentid
          root: alert
      FileContainment:
        complex:
          root: inputs.OriginalFileContainment
      FileHash:
        complex:
          root: inputs.sha256
      FilePath:
        complex:
          accessor: filepath
          root: alert
      FileRemediation:
        complex:
          root: inputs.FileRemediation
      HostAutoContainment:
        simple: "False"
      UserContainment:
        simple: "False"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the containment actions available with Cortex XSIAM, including the following tasks:
        * Isolate endpoint
        * Disable account
        * Quarantine file
        * Block indicators
        * Clear user session (currently, the playbook supports only Okta)

        Note: The playbook inputs enable manipulating the execution flow; read the input descriptions for details.
      id: 91549068-a885-437b-878f-f3b77bf310e7
      iscommand: false
      name: Containment Plan
      playbookId: Containment Plan
      type: playbook
      version: -1
    taskid: 91549068-a885-437b-878f-f3b77bf310e7
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 730,
          "y": 770
        }
      }
  "121":
    continueonerrortype: ""
    id: "121"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "106"
    note: false
    quietmode: 0
    scriptarguments:
      contextKey:
        simple: LastDay
      daysAgo:
        simple: "1"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: 7cae09e9-4e9f-4429-8bb9-0c8948b300a6
      iscommand: false
      name: Get time for the last day
      script: GetTime
      type: regular
      version: -1
    taskid: 7cae09e9-4e9f-4429-8bb9-0c8948b300a6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 530,
          "y": 70
        }
      }
  "122":
    continueonerrortype: ""
    id: "122"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "133"
    note: false
    quietmode: 0
    scriptarguments:
      HuntCnCTechniques:
        simple: "True"
      HuntCollectionTechniques:
        simple: "True"
      HuntDefenseEvasionTechniques:
        simple: "True"
      HuntDiscoveryTechniques:
        simple: "True"
      HuntExecutionTechniques:
        simple: "True"
      HuntImpactTechniques:
        simple: "True"
      HuntInitialAccessTechniques:
        simple: "True"
      HuntLateralMovementTechniques:
        simple: "True"
      HuntPersistenceTechniques:
        simple: "True"
      HuntPrivilegeEscalationTechniques:
        simple: "True"
      HuntReconnaissanceTechniques:
        simple: "True"
      agentID:
        complex:
          accessor: agentid
          root: alert
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the endpoint investigation actions available with Cortex XSIAM, including the following tasks:
        * Pre-defined MITRE Tactics
        * Host fields (Host ID)
        * Attacker fields (Attacker IP, External host)
        * MITRE techniques
        * File hash (currently, the playbook supports only SHA256)

        Note: The playbook inputs enable manipulating the execution flow; read the input descriptions for details.
      id: 3b5bd7f4-a3b2-4482-83fd-1384d3752d89
      iscommand: false
      name: Endpoint Investigation Plan
      playbookId: Endpoint Investigation Plan
      type: playbook
      version: -1
    taskid: 3b5bd7f4-a3b2-4482-83fd-1384d3752d89
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -140,
          "y": 2100
        }
      }
  "123":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: PreviousVerdict
          operator: isEqualString
          right:
            value:
              simple: False Positive
      label: False Positive
    - condition:
      - - left:
            iscontext: true
            value:
              simple: FileVerdict
          operator: isNotEqualString
          right:
            value:
              simple: Suspicious
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: value
                root: Core.AnalyticsPrevalence.Hash
          operator: containsGeneral
          right:
            value:
              simple: "true"
      label: Possible False Positive
    continueonerrortype: ""
    id: "123"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "132"
      False Positive:
      - "46"
      Possible False Positive:
      - "129"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Establish verdict for the alert.
      id: 790be732-ca45-4102-84d4-cab60749cf0d
      iscommand: false
      name: Establish verdict
      type: condition
      version: -1
    taskid: 790be732-ca45-4102-84d4-cab60749cf0d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -310,
          "y": -900
        }
      }
  "124":
    continueonerrortype: ""
    id: "124"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "Yes":
      - "105"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual - Mark alert as False Positive?
      id: 4aff2497-2e70-4c17-8f49-761f71907f5f
      iscommand: false
      name: Manual - Mark alert as False Positive?
      type: condition
      version: -1
    taskid: 4aff2497-2e70-4c17-8f49-761f71907f5f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -930,
          "y": -65
        }
      }
  "126":
    continueonerrortype: ""
    id: "126"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 58d68deb-99a8-445e-89a4-ef6a3cc5f0bc
      iscommand: false
      name: Malware
      type: title
      version: -1
    taskid: 58d68deb-99a8-445e-89a4-ef6a3cc5f0bc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -140,
          "y": 1110
        }
      }
  "127":
    continueonerrortype: ""
    id: "127"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "128"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bb4343c4-ee10-4a3c-8805-3a086cc29f9b
      iscommand: false
      name: Grayware and Phishing
      type: title
      version: -1
    taskid: bb4343c4-ee10-4a3c-8805-3a086cc29f9b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 430,
          "y": 1110
        }
      }
  "128":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.GraywarePhishingAsMalware
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "128"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "66"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should treat grayware and phishing as malware?
      id: be0aa583-fbf8-4740-864b-0f9dac027680
      iscommand: false
      name: Should treat grayware and phishing as malware?
      type: condition
      version: -1
    taskid: be0aa583-fbf8-4740-864b-0f9dac027680
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 430,
          "y": 1260
        }
      }
  "129":
    continueonerrortype: ""
    id: "129"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "130"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 50b6ea0b-3d7e-4427-8893-764c3a7afe27
      iscommand: false
      name: Possible False Positive
      type: title
      version: -1
    taskid: 50b6ea0b-3d7e-4427-8893-764c3a7afe27
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -480,
          "y": -730
        }
      }
  "130":
    continueonerrortype: ""
    id: "130"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "100"
      "Yes":
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manuel Review - Should continue to investigate?
      id: 8c62b789-f058-48cf-8804-f805b639f731
      iscommand: false
      name: Manuel Review - Should continue to investigate?
      type: condition
      version: -1
    taskid: 8c62b789-f058-48cf-8804-f805b639f731
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -480,
          "y": -590
        }
      }
  "131":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoContainment
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "131"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      "yes":
      - "120"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is auto-containment set to true?
      id: d5ab1ed4-53c0-4885-8e89-a0ccc84a057b
      iscommand: false
      name: Is auto-containment set to true?
      type: condition
      version: -1
    taskid: d5ab1ed4-53c0-4885-8e89-a0ccc84a057b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 730,
          "y": 570
        }
      }
  "132":
    continueonerrortype: ""
    id: "132"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "134"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 535e2207-e112-4fe9-8d43-9686af287db7
      iscommand: false
      name: Possible True Positive
      type: title
      version: -1
    taskid: 535e2207-e112-4fe9-8d43-9686af287db7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 170,
          "y": -730
        }
      }
  "133":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: foundIncidents
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "133"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "117"
      "yes":
      - "135"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Are there investigation findings?
      id: 10dae87a-97f4-43fd-8196-14386596e581
      iscommand: false
      name: Are there investigation findings?
      type: condition
      version: -1
    taskid: 10dae87a-97f4-43fd-8196-14386596e581
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -140,
          "y": 2280
        }
      }
  "134":
    continueonerrortype: ""
    id: "134"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "136"
    note: false
    quietmode: 2
    scriptarguments:
      manual_severity:
        simple: high
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.field
      id: 0d11e289-2dc4-4eba-8d92-08335800fcf8
      iscommand: true
      name: Set Alert Severity to High
      script: Builtin|||setParentIncidentFields
      type: regular
      version: -1
    taskid: 0d11e289-2dc4-4eba-8d92-08335800fcf8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": -600
        }
      }
  "135":
    continueonerrortype: ""
    id: "135"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "95"
    note: false
    quietmode: 2
    scriptarguments:
      manual_severity:
        simple: high
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.field
      id: b40b3fef-fdd3-4523-80a3-671fcfd4d630
      iscommand: true
      name: Set Alert Severity to High
      script: Builtin|||setParentIncidentFields
      type: regular
      version: -1
    taskid: b40b3fef-fdd3-4523-80a3-671fcfd4d630
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -400,
          "y": 2475
        }
      }
  "136":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.ShouldOpenTicket
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "136"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "137"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether to open a ticket automatically in a ticketing system.
      id: fceea6e8-768a-4a0a-8103-24549dad7f2a
      iscommand: false
      name: Should open a ticket automatically in a ticketing system?
      type: condition
      version: -1
    taskid: fceea6e8-768a-4a0a-8103-24549dad7f2a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 170,
          "y": -440
        }
      }
  "137":
    continueonerrortype: ""
    id: "137"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      CommentToAdd:
        complex:
          root: inputs.CommentToAdd
      ZendeskAssigne:
        complex:
          root: inputs.ZendeskAssigne
      ZendeskCollaborators:
        complex:
          root: inputs.ZendeskCollaborators
      ZendeskPriority:
        complex:
          root: inputs.ZendeskPriority
      ZendeskRequester:
        complex:
          root: inputs.ZendeskRequester
      ZendeskStatus:
        complex:
          root: inputs.ZendeskStatus
      ZendeskSubject:
        complex:
          root: inputs.ZendeskSubject
      ZendeskTags:
        complex:
          root: inputs.ZendeskTags
      ZendeskType:
        complex:
          root: inputs.ZendeskType
      addCommentPerEndpoint:
        complex:
          root: inputs.addCommentPerEndpoint
      description:
        complex:
          root: inputs.description
      serviceNowAssignmentGroup:
        complex:
          root: inputs.serviceNowAssignmentGroup
      serviceNowCategory:
        complex:
          root: inputs.serviceNowCategory
      serviceNowImpact:
        complex:
          root: inputs.serviceNowImpact
      serviceNowSeverity:
        complex:
          root: inputs.serviceNowSeverity
      serviceNowShortDescription:
        complex:
          root: inputs.serviceNowShortDescription
      serviceNowTicketType:
        complex:
          root: inputs.serviceNowTicketType
      serviceNowUrgency:
        complex:
          root: inputs.serviceNowUrgency
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: "`Ticket Management - Generic` allows you to open new tickets or
        update comments to the existing ticket in the following ticketing systems:\n-ServiceNow
        \n-Zendesk \nusing the following sub-playbooks:\n-`ServiceNow - Ticket Management`\n-`Zendesk
        - Ticket Management`\n"
      id: 587f0a09-53b6-48fc-89bd-a76903215367
      iscommand: false
      name: Ticket Management - Generic
      playbookId: Ticket Management - Generic
      type: playbook
      version: -1
    taskid: 587f0a09-53b6-48fc-89bd-a76903215367
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": -270
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "106_36_#default#": 0.4,
      "113_116_yes": 0.42,
      "114_84_#default#": 0.17,
      "124_25_#default#": 0.5,
      "128_25_yes": 0.13,
      "128_66_#default#": 0.59,
      "130_36_Yes": 0.47,
      "133_117_#default#": 0.29,
      "36_126_Malware": 0.61,
      "36_127_#default#": 0.52,
      "3_36_Yes": 0.31,
      "65_105_yes": 0.49,
      "66_68_Allow list": 0.5,
      "66_69_Block list": 0.45,
      "66_70_#default#": 0.53,
      "70_25_yes": 0.23
    },
    "paper": {
      "dimensions": {
        "height": 5235,
        "width": 2700,
        "x": -1260,
        "y": -1360
      }
    }
  }
