playbook/playbook-Eradication_Plan_-_Terminate_Process.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    itemVersion: 2.6.15
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: "This playbook is one of the sub-playbooks in the eradication plan. \nThis
  playbook handles the termination of the processes as a crucial step in the eradication
  action.\nThe playbook executes actions of process termination, which is a crucial
  step in the eradication process.\nThe process termination can be performed based
  on either the process ID or the process name."
id: Eradication Plan - Terminate Process
inputs:
- description: "Choose 'PID' to terminate the process by PID or 'Name' to terminate
    the process by process name. \nNote: If neither option is selected, the process
    will not be terminated."
  key: ProcessTermination
  playbookInputQuery: null
  required: false
  value:
    simple: Name
- description: The endpoint ID to run commands over.
  key: EndpointID
  playbookInputQuery: null
  required: false
  value: {}
- description: The file path for the process termination.
  key: FilePath
  playbookInputQuery: null
  required: false
  value: {}
- description: The process ID to terminate.
  key: ProcessID
  playbookInputQuery: null
  required: false
  value: {}
name: Eradication Plan - Terminate Process
outputs:
- contextPath: TerminatedProcessFromEndpoints
  description: The terminated process from endpoint
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c2bd2d8-2747-473f-873c-fdf0258c1425
      iscommand: false
      name: ""
      version: -1
    taskid: 0c2bd2d8-2747-473f-873c-fdf0258c1425
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 190,
          "y": -180
        }
      }
  "1":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.EndpointID
          operator: isNotEmpty
          right:
            value: {}
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.ProcessTermination
          operator: isEqualString
          right:
            value:
              simple: PID
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ProcessID
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ProcessID
          operator: notContainsGeneral
          right:
            value:
              simple: \
      label: PID
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.ProcessTermination
          operator: isEqualString
          right:
            value:
              simple: Name
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.EndpointID
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FilePath
          operator: isNotEmpty
      label: Name
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      Name:
      - "22"
      PID:
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to terminate the process automatically, manually, or not
        at all.
      id: 387a0de2-f9a3-412a-8531-299ba47ac010
      iscommand: false
      name: Should terminate the process?
      type: condition
      version: -1
    taskid: 387a0de2-f9a3-412a-8531-299ba47ac010
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 190,
          "y": -40
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b6c458a7-8533-4692-87af-498de4ea894f
      iscommand: false
      name: Done - Process Termination
      type: title
      version: -1
    taskid: b6c458a7-8533-4692-87af-498de4ea894f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 190,
          "y": 1240
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      action_id:
        complex:
          accessor: action_id
          root: Core.GetActionStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieve the results of a script execution action.
      id: d1bf1eb3-8962-4fe0-8f37-dd1d6e67fc1d
      iscommand: true
      name: Get command result
      script: '|||core-get-script-execution-results'
      type: regular
      version: -1
    taskid: d1bf1eb3-8962-4fe0-8f37-dd1d6e67fc1d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -70,
          "y": 500
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_ids:
        complex:
          root: inputs.EndpointID
      process_name:
        complex:
          root: FilePath
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: '[^\\]+$'
              unpack_matches: {}
            operator: RegexExtractAll
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Initiates a new endpoint script execution kill process.
      id: f3850073-38b9-4991-8e2e-ac78bd2372e6
      iscommand: true
      name: process termination
      script: '|||core-run-script-kill-process'
      type: regular
      version: -1
    taskid: f3850073-38b9-4991-8e2e-ac78bd2372e6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -70,
          "y": 320
        }
      }
  "10":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: standard_output
                root: Core.ScriptResult.results
          operator: notEndWith
          right:
            value:
              simple: 'killed: 0.'
      label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the process was terminated.
      id: 5bb3ab00-26df-4e11-89b2-a213d1eba8aa
      iscommand: false
      name: Was the process terminated?
      type: condition
      version: -1
    taskid: 5bb3ab00-26df-4e11-89b2-a213d1eba8aa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -70,
          "y": 670
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: TerminatedProcessFromEndpoints=
      ignore-outputs:
        simple: "true"
      key:
        complex:
          root: inputs.EndpointID
      value:
        complex:
          accessor: standard_output
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: Core.ScriptResult.results._return_value
              operator: isEqualString
              right:
                value:
                  simple: "True"
          root: Core.ScriptResult.results
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: .*name (.*) found.*
              unpack_matches: {}
            operator: RegexExtractAll
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 960374b2-8b4a-4577-8bf1-ac02f9ceccf4
      iscommand: false
      name: Set terminated process per endpoint ID
      script: Set
      type: regular
      version: -1
    taskid: 960374b2-8b4a-4577-8bf1-ac02f9ceccf4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -70,
          "y": 860
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: TerminatedProcessOnEndpoints=
      key:
        simple: TerminatedProcessPerEndpointsID
      value:
        complex:
          root: TerminatedProcessFromEndpoints
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.context
      id: 42d427fd-6d4a-4b70-8b1a-35c76fdd8d45
      iscommand: true
      name: Set Deleted files per endpoint ID to the Alert context
      script: Builtin|||setParentIncidentContext
      type: regular
      version: -1
    taskid: 42d427fd-6d4a-4b70-8b1a-35c76fdd8d45
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -70,
          "y": 1040
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      commands:
        simple: taskkill /F /PID ${ProcessID}
      endpoint_ids:
        complex:
          root: inputs.EndpointID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Initiate a new endpoint script execution of shell commands.
      id: 961146c8-6afd-4e75-8de9-d6a3171cf051
      iscommand: true
      name: process termination
      script: '|||core-run-script-execute-commands'
      type: regular
      version: -1
    taskid: 961146c8-6afd-4e75-8de9-d6a3171cf051
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 320
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      action_id:
        complex:
          accessor: action_id
          root: Core.ScriptRun
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieve the results of a script execution action.
      id: 98faa8b1-1539-4e59-8274-c8434226eff7
      iscommand: true
      name: Get command result
      script: '|||core-get-script-execution-results'
      type: regular
      version: -1
    taskid: 98faa8b1-1539-4e59-8274-c8434226eff7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 500
        }
      }
  "16":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: standard_output
                root: Core.ScriptResult.results
          operator: endWith
          right:
            value:
              simple: has been terminated.
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the termination of the process was successful.
      id: 1a42b9b2-db4a-4905-8dd5-4b47d18449fc
      iscommand: false
      name: Was the process terminated?
      type: condition
      version: -1
    taskid: 1a42b9b2-db4a-4905-8dd5-4b47d18449fc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 440,
          "y": 670
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: TerminatedProcessFromEndpoints=
      ignore-outputs:
        simple: "true"
      key:
        complex:
          root: inputs.EndpointID
      value:
        complex:
          accessor: standard_output
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: Core.ScriptResult.results._return_value
              operator: isEqualString
              right:
                value:
                  simple: "True"
          root: Core.ScriptResult.results
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: .*name (.*) found.*
              unpack_matches: {}
            operator: RegexExtractAll
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 800bc596-f674-43ff-84cf-91da9573954b
      iscommand: false
      name: Set terminated process per endpoint ID
      script: Set
      type: regular
      version: -1
    taskid: 800bc596-f674-43ff-84cf-91da9573954b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 860
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: TerminatedProcessOnEndpoints=
      key:
        simple: TerminatedProcessPerEndpointsID
      value:
        complex:
          root: TerminatedProcessFromEndpoints
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.context
      id: 0056cbe7-0eda-4bea-832f-9438e1f45936
      iscommand: true
      name: Set Deleted files per endpoint ID to the Alert context
      script: Builtin|||setParentIncidentContext
      type: regular
      version: -1
    taskid: 0056cbe7-0eda-4bea-832f-9438e1f45936
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 1040
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: The process termination has failed.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: c7749af3-73ff-4422-87dd-e8caeb84c069
      iscommand: false
      name: Print Error
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: c7749af3-73ff-4422-87dd-e8caeb84c069
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 860
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: The process termination has failed.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 4e7794f3-70a6-4941-8e9e-65ef20777dca
      iscommand: false
      name: Print Error
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 4e7794f3-70a6-4941-8e9e-65ef20777dca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -490,
          "y": 860
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ProcessID
      value:
        complex:
          root: inputs.ProcessID
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: PID\":\"(\d+?)\"
              unpack_matches: {}
            operator: RegexExtractAll
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: inputs.ProcessID
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: e5475bb4-564f-4364-892b-12b130016b7a
      iscommand: false
      name: Set PID
      script: Set
      type: regular
      version: -1
    taskid: e5475bb4-564f-4364-892b-12b130016b7a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 150
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: FilePath
      value:
        complex:
          root: inputs.FilePath
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: Path\":\"(.+?)\"
              unpack_matches: {}
            operator: RegexExtractAll
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: inputs.FilePath
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 77d2329d-39ac-4e97-8490-b759589f91ad
      iscommand: false
      name: Set Path
      script: Set
      type: regular
      version: -1
    taskid: 77d2329d-39ac-4e97-8490-b759589f91ad
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -70,
          "y": 150
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_17_yes": 0.41,
      "1_5_#default#": 0.14
    },
    "paper": {
      "dimensions": {
        "height": 1485,
        "width": 1750,
        "x": -490,
        "y": -180
      }
    }
  }
