playbook/playbook-Get_entity_alerts_by_MITRE_tactics.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.8.0
    itemVersion: 2.0.12
    packID: Core
    packName: Core - Investigation and Response
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook searches XDR alerts related to specific entities , on a given timeframe, based on MITRE tactics.
  Note: The playbook's inputs enable manipulating the execution flow. Read the input descriptions for details.
id: Get entity alerts by MITRE tactics
inputs:
- description: Set to True to hunt for identified alerts with MITRE Reconnaissance
    techniques.
  key: HuntReconnaissanceTechniques
  playbookInputQuery: null
  required: false
  value: {}
- description: Set to True to hunt for identified alerts with MITRE Initial Access
    techniques.
  key: HuntInitialAccessTechniques
  playbookInputQuery: null
  required: false
  value: {}
- description: Set to True to hunt for identified alerts with MITRE Execution techniques.
  key: HuntExecutionTechniques
  playbookInputQuery: null
  required: false
  value: {}
- description: Set to True to hunt for identified alerts with MITRE Persistence techniques.
  key: HuntPersistenceTechniques
  playbookInputQuery: null
  required: false
  value: {}
- description: Set to True to hunt for identified alerts with MITRE Privilege Escalation
    techniques.
  key: HuntPrivilegeEscalationTechniques
  playbookInputQuery: null
  required: false
  value: {}
- description: Set to True to hunt for identified alerts with MITRE Defense Evasion
    techniques.
  key: HuntDefenseEvasionTechniques
  playbookInputQuery: null
  required: false
  value: {}
- description: Set to True to hunt for identified alerts with MITRE Discovery techniques.
  key: HuntDiscoveryTechniques
  playbookInputQuery: null
  required: false
  value: {}
- description: Set to True to hunt for identified alerts with MITRE Lateral Movement
    techniques.
  key: HuntLateralMovementTechniques
  playbookInputQuery: null
  required: false
  value: {}
- description: Set to True to hunt for identified alerts with MITRE Collection techniques
    .
  key: HuntCollectionTechniques
  playbookInputQuery: null
  required: false
  value: {}
- description: Set to True to hunt for identified alerts with MITRE Command and Control
    techniques.
  key: HuntCnCTechniques
  playbookInputQuery: null
  required: false
  value: {}
- description: Set to True to hunt for identified alerts with MITRE Impact techniques.
  key: HuntImpactTechniques
  playbookInputQuery: null
  required: false
  value: {}
- description: Set to True to hunt for identified alerts with MITRE Credential Access
    techniques.
  key: HuntCredentialAccessTechniques
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    A time range to execute the hunting in.
    The input should be in the following format:
    * 1 day
    * 2 minutes
    * 4 hours
    * 8 days
  key: timeRange
  playbookInputQuery: null
  required: true
  value:
    simple: 20 days
- description: Whether to run all the sub-tasks for Mitre Tactics.
  key: RunAll
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: Entity type to search. Entity type can be username, hostname, or any
    other element that exists in the alert.
  key: EntityType
  playbookInputQuery: null
  required: true
  value:
    simple: hostname
- description: Entity value.
  key: EntityID
  playbookInputQuery: null
  required: true
  value: {}
name: Get entity alerts by MITRE tactics
outputs:
- contextPath: foundIncidents
  description: Alerts found
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 302a9eb3-8c68-4d64-8f6b-131e948ecaf7
      iscommand: false
      name: ""
      version: -1
    taskid: 302a9eb3-8c68-4d64-8f6b-131e948ecaf7
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": -1070
        }
      }
  "1":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntDiscoveryTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for Discovery techniques.
      id: ebc87177-bc3c-424b-8942-163568ba814d
      iscommand: false
      name: Should hunt for Discovery techniques?
      type: condition
      version: -1
    taskid: ebc87177-bc3c-424b-8942-163568ba814d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2690
        }
      }
  "2":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntPersistenceTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for Persistence techniques.
      id: 0491050a-7fb5-408d-8b73-37a5546c6309
      iscommand: false
      name: Should hunt for Persistence techniques?
      type: condition
      version: -1
    taskid: 0491050a-7fb5-408d-8b73-37a5546c6309
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 800
        }
      }
  "3":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntInitialAccessTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for Initial Access techniques.
      id: 1540edab-f2f8-4399-80bc-e2164b0c79a8
      iscommand: false
      name: Should hunt for Initial Access techniques?
      type: condition
      version: -1
    taskid: 1540edab-f2f8-4399-80bc-e2164b0c79a8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": -140
        }
      }
  "4":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntPrivilegeEscalationTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for Privilege Escalation techniques.
      id: cf7a29b6-b093-485e-892c-5c370f8048a9
      iscommand: false
      name: Should hunt for Privilege Escalation techniques?
      type: condition
      version: -1
    taskid: cf7a29b6-b093-485e-892c-5c370f8048a9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1270
        }
      }
  "5":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntDefenseEvasionTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "61"
      "yes":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for Defense Evasion techniques.
      id: 39fb11d9-9044-40d2-8bbb-55178f37c5fe
      iscommand: false
      name: Should hunt for Defense Evasion techniques?
      type: condition
      version: -1
    taskid: 39fb11d9-9044-40d2-8bbb-55178f37c5fe
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1740
        }
      }
  "6":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntExecutionTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for Execution techniques.
      id: 25eb8782-ff8f-45ad-8f90-d557162d5f34
      iscommand: false
      name: Should hunt for Execution techniques?
      type: condition
      version: -1
    taskid: 25eb8782-ff8f-45ad-8f90-d557162d5f34
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 330
        }
      }
  "7":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntLateralMovementTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for Lateral Movement techniques.
      id: 1c88b8c3-7f85-4d8c-8976-5de72385b945
      iscommand: false
      name: Should hunt for Lateral Movement techniques?
      type: condition
      version: -1
    taskid: 1c88b8c3-7f85-4d8c-8976-5de72385b945
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3190
        }
      }
  "8":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntCollectionTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for Collection techniques.
      id: ce7bb2c0-c938-431e-8f1f-ee6cd472f222
      iscommand: false
      name: Should hunt for Collection techniques?
      type: condition
      version: -1
    taskid: ce7bb2c0-c938-431e-8f1f-ee6cd472f222
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3685
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c8c20feb-fb05-4f05-8806-1ea67f2e338d
      iscommand: false
      name: Persistence
      type: title
      version: -1
    taskid: c8c20feb-fb05-4f05-8806-1ea67f2e338d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 40,
          "y": 970
        }
      }
  "15":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Hunt Persistence techniques - Cortex XDR - Endpoint Investigation
      tags:
        simple: Persistence
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: Persistence
      fromdate:
        complex:
          root: inputs.timeRange
      query:
        simple: categoryname:"Persistence" ${inputs.EntityType}:"${inputs.EntityID}"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto alerts. A summarized version of this scrips is avilable with the summarizedversion argument.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 02c6c340-5d90-482a-89be-7192d814909e
      iscommand: false
      name: Hunt Persistence techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 02c6c340-5d90-482a-89be-7192d814909e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1100
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b5db8bc1-ab7b-49bb-8ee4-d51097c07ad8
      iscommand: false
      name: Initial Access
      type: title
      version: -1
    taskid: b5db8bc1-ab7b-49bb-8ee4-d51097c07ad8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 40,
          "y": 30
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 64425da4-ed52-4365-8ed0-811facc2d0b8
      iscommand: false
      name: Execution
      type: title
      version: -1
    taskid: 64425da4-ed52-4365-8ed0-811facc2d0b8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 40,
          "y": 500
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dd957617-a76a-44a8-8be1-8b40a19d2693
      iscommand: false
      name: Privilege Escalation
      type: title
      version: -1
    taskid: dd957617-a76a-44a8-8be1-8b40a19d2693
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1440
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 07d0a259-29d9-451a-89c1-4e1c50604a38
      iscommand: false
      name: Defense Evasion
      type: title
      version: -1
    taskid: 07d0a259-29d9-451a-89c1-4e1c50604a38
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1910
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4f83c90e-d82c-4e5e-8288-6b0710004378
      iscommand: false
      name: Discovery
      type: title
      version: -1
    taskid: 4f83c90e-d82c-4e5e-8288-6b0710004378
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 40,
          "y": 2880
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 779b9772-b687-4545-81e1-71e23a9e3f66
      iscommand: false
      name: Lateral Movement
      type: title
      version: -1
    taskid: 779b9772-b687-4545-81e1-71e23a9e3f66
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 40,
          "y": 3360
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e26ce4db-90b6-41a4-883d-b6c0ce8615b6
      iscommand: false
      name: Collection
      type: title
      version: -1
    taskid: e26ce4db-90b6-41a4-883d-b6c0ce8615b6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3860
        }
      }
  "23":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntCnCTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for Command and Control techniques.
      id: c65d46cf-f3e3-4415-8093-35626ae2f468
      iscommand: false
      name: Should hunt for CnC techniques?
      type: condition
      version: -1
    taskid: c65d46cf-f3e3-4415-8093-35626ae2f468
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 4170
        }
      }
  "24":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntImpactTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "52"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for Impact techniques.
      id: d1170ab7-81f3-4bfe-833d-deb0b094c3c4
      iscommand: false
      name: Should hunt for Impact techniques?
      type: condition
      version: -1
    taskid: d1170ab7-81f3-4bfe-833d-deb0b094c3c4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 4630
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6df09e1a-b245-4011-8cbf-0e18d4bf6646
      iscommand: false
      name: Command and Control
      type: title
      version: -1
    taskid: 6df09e1a-b245-4011-8cbf-0e18d4bf6646
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 40,
          "y": 4340
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 938f0be4-11c5-4f55-83ce-2b18b446248b
      iscommand: false
      name: Impact
      type: title
      version: -1
    taskid: 938f0be4-11c5-4f55-83ce-2b18b446248b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 40,
          "y": 4800
        }
      }
  "27":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntReconnaissanceTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for Reconnaissance techniques.
      id: c50771b5-4f51-47f5-82ce-e052c01f3ce3
      iscommand: false
      name: Should hunt for suspicious Reconnaissance techniques?
      type: condition
      version: -1
    taskid: c50771b5-4f51-47f5-82ce-e052c01f3ce3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": -620
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e623f95c-3938-4004-89ea-17c4e5168435
      iscommand: false
      name: Reconnaissance
      type: title
      version: -1
    taskid: e623f95c-3938-4004-89ea-17c4e5168435
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 40,
          "y": -450
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: Reconnaissance
      fromdate:
        complex:
          root: inputs.timeRange
      query:
        simple: categoryname:"Reconnaissance" ${EntityType}:"${EntityID}"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto alerts. A summarized version of this scrips is avilable with the summarizedversion argument.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 43dd8587-3505-41fd-8984-9e4fc3e186d4
      iscommand: false
      name: Hunt Reconnaissance techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 43dd8587-3505-41fd-8984-9e4fc3e186d4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": -320
        }
      }
  "30":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Hunt Initial Access techniques - Cortex XDR - Endpoint Investigation
      tags:
        simple: Initial Access
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: Initial_Access
      fromdate:
        complex:
          root: inputs.timeRange
      query:
        simple: categoryname:"Initial Access" ${inputs.EntityType}:"${inputs.EntityID}"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto alerts. A summarized version of this scrips is avilable with the summarizedversion argument.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: e323ce49-5189-4cc7-8b93-fe56d9b240a4
      iscommand: false
      name: Hunt Initial Access techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: e323ce49-5189-4cc7-8b93-fe56d9b240a4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 160
        }
      }
  "31":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Hunt Initial Access techniques - Cortex XDR - Endpoint Investigation
      tags:
        simple: Execution
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: Execution
      fromdate:
        complex:
          root: inputs.timeRange
      query:
        simple: categoryname:"Execution" ${inputs.EntityType}:"${inputs.EntityID}"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto alerts. A summarized version of this scrips is avilable with the summarizedversion argument.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: aed98789-43ff-4262-8377-198ed7c88bad
      iscommand: false
      name: Hunt Execution techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: aed98789-43ff-4262-8377-198ed7c88bad
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 630
        }
      }
  "32":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Hunt Privilege Escalation techniques - Cortex XDR - Endpoint Investigation
      tags:
        simple: Privilege Escalation
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: Privilege_Escalation
      fromdate:
        complex:
          root: inputs.timeRange
      query:
        simple: categoryname:"Privilege Escalation" ${inputs.EntityType}:"${inputs.EntityID}"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto alerts. A summarized version of this scrips is avilable with the summarizedversion argument.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 75040cb1-ce79-49b6-8299-e81e4363d666
      iscommand: false
      name: Hunt Privilege Escalation techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 75040cb1-ce79-49b6-8299-e81e4363d666
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1570
        }
      }
  "33":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Hunt Privilege Escalation techniques - Cortex XDR - Endpoint Investigation
      tags:
        simple: Defense_Evasion
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: Defense_Evasion
      fromdate:
        complex:
          root: inputs.timeRange
      query:
        simple: categoryname:"Defense Evasion" ${inputs.EntityType}:"${inputs.EntityID}"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto alerts. A summarized version of this scrips is avilable with the summarizedversion argument.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: cfb0daf3-7164-4b7f-8a74-d85a3ec04f1a
      iscommand: false
      name: Hunt Defense Evasion techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: cfb0daf3-7164-4b7f-8a74-d85a3ec04f1a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 2050
        }
      }
  "34":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Hunt Discovery techniques - Cortex XDR - Endpoint Investigation
      tags:
        simple: Discovery
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: Discovery
      fromdate:
        complex:
          root: inputs.timeRange
      query:
        simple: categoryname:"Discovery" ${inputs.EntityType}:"${inputs.EntityID}"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto alerts. A summarized version of this scrips is avilable with the summarizedversion argument.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 18b0a0d3-479c-43cf-8944-6e7a00053e5e
      iscommand: false
      name: Hunt Discovery techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 18b0a0d3-479c-43cf-8944-6e7a00053e5e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 3020
        }
      }
  "35":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Hunt Lateral Movement techniques - Cortex XDR - Endpoint Investigation
      tags:
        simple: Lateral_Movement
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: Lateral_Movement
      fromdate:
        complex:
          root: inputs.timeRange
      query:
        simple: categoryname:"Lateral Movement" ${inputs.EntityType}:"${inputs.EntityID}"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto alerts. A summarized version of this scrips is avilable with the summarizedversion argument.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 8c3c6fea-a0e3-4f56-891d-7b6dd2f1361b
      iscommand: false
      name: Hunt Lateral Movement techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 8c3c6fea-a0e3-4f56-891d-7b6dd2f1361b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 3510
        }
      }
  "36":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Hunt Lateral Movement techniques - Cortex XDR - Endpoint Investigation
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: Collection
      fromdate:
        complex:
          root: inputs.timeRange
      query:
        simple: alert_category:"Collection" ${inputs.EntityType}:"${inputs.EntityID}"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto alerts. A summarized version of this scrips is avilable with the summarizedversion argument.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 702c83ab-d33a-4174-808a-f40e1cf5da4e
      iscommand: false
      name: Hunt Collection techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 702c83ab-d33a-4174-808a-f40e1cf5da4e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4000
        }
      }
  "37":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Hunt Command and Control techniques - Cortex XDR - Endpoint Investigation
      tags:
        simple: Command and Control
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: Command_And_Control
      fromdate:
        complex:
          root: inputs.timeRange
      query:
        simple: categoryname:"Command and Control" ${inputs.EntityType}:"${inputs.EntityID}"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto alerts. A summarized version of this scrips is avilable with the summarizedversion argument.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 53d66b30-860d-4300-8566-ac53bd6a4b1c
      iscommand: false
      name: Hunt Command and Control techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 53d66b30-860d-4300-8566-ac53bd6a4b1c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 4460
        }
      }
  "38":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Hunt Impact techniques - Cortex XDR - Endpoint Investigation
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: Impact_techniques
      fromdate:
        complex:
          root: inputs.timeRange
      query:
        simple: categoryname:"Impact" ${inputs.EntityType}:"${inputs.EntityID}"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto alerts. A summarized version of this scrips is avilable with the summarizedversion argument.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 4c59295d-f79b-46be-823a-e7474b74fbba
      iscommand: false
      name: Hunt Impact techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 4c59295d-f79b-46be-823a-e7474b74fbba
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 4940
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b0dae12e-e1bc-42f1-8468-b21672f49b3d
      iscommand: false
      name: Hunt by MITRE Tactics
      type: title
      version: -1
    taskid: b0dae12e-e1bc-42f1-8468-b21672f49b3d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": -940
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2bde920f-39fe-4e09-8f38-74cbb7b716f8
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 2bde920f-39fe-4e09-8f38-74cbb7b716f8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 5110
        }
      }
  "58":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.RunAll
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "28"
      - "16"
      - "14"
      - "18"
      - "19"
      - "20"
      - "21"
      - "22"
      - "25"
      - "26"
      - "17"
      - "62"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Run all hunting queries on Mitre tactics?
      id: 9e0a3f64-3ce5-4293-87b7-1d0d9e3f8248
      iscommand: false
      name: Run all Hunting Queries on Mitre Tactics?
      type: condition
      version: -1
    taskid: 9e0a3f64-3ce5-4293-87b7-1d0d9e3f8248
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -190,
          "y": -800
        }
      }
  "61":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntCredentialAccessTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "1"
      "yes":
      - "62"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for Credential Access techniques.
      id: 65b4ff8b-26a9-41c9-8594-4c54eb40f73b
      iscommand: false
      name: Should hunt for Credential Access techniques?
      type: condition
      version: -1
    taskid: 65b4ff8b-26a9-41c9-8594-4c54eb40f73b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2220
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f20c8f0b-ad48-4694-87b0-d45df078237d
      iscommand: false
      name: Credential Access
      type: title
      version: -1
    taskid: f20c8f0b-ad48-4694-87b0-d45df078237d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 60,
          "y": 2390
        }
      }
  "63":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Hunt Privilege Escalation techniques - Cortex XDR - Endpoint Investigation
      tags:
        simple: Defense_Evasion
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: Defense_Evasion
      fromdate:
        complex:
          root: inputs.timeRange
      query:
        simple: categoryname:"Credential Access" ${inputs.EntityType}:"${inputs.EntityID}"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto alerts. A summarized version of this scrips is avilable with the summarizedversion argument.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 3ea75390-1640-4f1b-8199-0f27af643584
      iscommand: false
      name: Hunt Credential Access techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 3ea75390-1640-4f1b-8199-0f27af643584
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 60,
          "y": 2520
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "58_26_yes": 0.89
    },
    "paper": {
      "dimensions": {
        "height": 6245,
        "width": 1020,
        "x": -190,
        "y": -1070
      }
    }
  }
