playbook/playbook-Containment_Plan_-_Clear_User_Sessions.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    itemVersion: 2.4.2
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  ## Containment Plan - Clear User Sessions

  This playbook is a sub-playbook within the containment plan playbook.
  The playbook clears the users' sessions using Okta integration. (currently, the playbook supports only Okta)
id: Containment Plan - Clear User Sessions
inputs:
- description: Set to 'True' to clear the user active Okta sessions.
  key: ClearUserSessions
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: The username to disable.
  key: Username
  playbookInputQuery: null
  required: false
  value: {}
- description: The Okta IAM users domain. The domain will be appended to the username.
    E.g., username@IAMUserDomain.
  key: IAMUserDomain
  playbookInputQuery: null
  required: false
  value: {}
name: Containment Plan - Clear User Sessions
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f2a578bb-7b26-4477-8391-2e40e77fb9d5
      iscommand: false
      name: ""
      version: -1
    taskid: f2a578bb-7b26-4477-8391-2e40e77fb9d5
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 770,
          "y": -150
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      userId:
        complex:
          accessor: ID
          root: Account
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Removes all active identity provider sessions. This forces the user to authenticate on the next operation. Optionally revokes OpenID Connect and OAuth refresh and access tokens issued to the user.
        For more information and examples:
        https://developer.okta.com/docs/reference/api/users/#user-sessions
      id: 965b6bb7-8584-4ee9-86be-705ca7951fba
      iscommand: true
      name: Auto clear user sessions
      script: '|||okta-clear-user-sessions'
      type: regular
      version: -1
    taskid: 965b6bb7-8584-4ee9-86be-705ca7951fba
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 770,
          "y": 745
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 581b7da6-4c88-41a6-8175-a2116add396c
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 581b7da6-4c88-41a6-8175-a2116add396c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 770,
          "y": 1150
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        complex:
          root: UsersSessionToClear
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Fetches information for a single user. You must enter one or more
        parameters for the command to run.
      id: ea29c7c0-e180-4c2e-8593-3948400c532e
      iscommand: true
      name: Get Okta user ID
      script: '|||okta-get-user'
      type: regular
      version: -1
    taskid: ea29c7c0-e180-4c2e-8593-3948400c532e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 770,
          "y": 575
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: UsersSessionCleared
      value:
        complex:
          accessor: Username
          root: Account
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.context
      id: bda090c7-6749-46e5-8453-31f56d8b778c
      iscommand: true
      name: Set the username to the Alert context
      script: Builtin|||setParentIncidentContext
      type: regular
      version: -1
    taskid: bda090c7-6749-46e5-8453-31f56d8b778c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 770,
          "y": 920
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: UsersSessionToClear
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: notContainsGeneral
              right:
                value:
                  simple: administrator
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: notContainsGeneral
              right:
                value:
                  simple: system
          root: inputs.Username
          transformers:
          - operator: uniq
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: '[^\\]+$'
              unpack_matches: {}
            operator: RegexExtractAll
          - args:
              prefix: {}
              suffix:
                iscontext: true
                value:
                  simple: inputs.IAMUserDomain
            operator: concat
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: cceb9ed8-97d2-4b2a-8688-c02b46be05a6
      iscommand: false
      name: Set users to clear the session
      script: Set
      type: regular
      version: -1
    taskid: cceb9ed8-97d2-4b2a-8688-c02b46be05a6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 770,
          "y": 400
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "11"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Okta v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'.
      id: 4025c083-2630-4171-889e-5f05b1fc51eb
      iscommand: false
      name: Is Okta enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 4025c083-2630-4171-889e-5f05b1fc51eb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 770,
          "y": 200
        }
      }
  "17":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.ClearUserSessions
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Username
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to clear the user sessions based on the input values.
      id: f1d3409f-55f4-4804-8a48-354971cae04e
      iscommand: false
      name: Should clear the user sessions?
      type: condition
      version: -1
    taskid: f1d3409f-55f4-4804-8a48-354971cae04e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 770,
          "y": 0
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "15_2_#default#": 0.15,
      "17_15_yes": 0.48,
      "17_2_#default#": 0.11
    },
    "paper": {
      "dimensions": {
        "height": 1365,
        "width": 380,
        "x": 770,
        "y": -150
      }
    }
  }
