playbook/playbook-Cortex_ASM_-_On_Prem_Enrichment.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.8.0
    itemVersion: 1.7.29
    packID: CortexAttackSurfaceManagement
    packName: Cortex Attack Surface Management
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  Given an IP address, port, and protocol of a service, this playbook enriches on-prem integrations to find the related firewall rule and other related information.

  Conditions:
  - Multiple integration instances configured at the same time are not supported (Panorama or standalone NGFW).
  - !pan-os-security-policy-match fails if any firewall is disconnected (Panorama).
  - Matching on different rules for different firewalls not supported (Panorama).
id: Cortex ASM - On Prem Enrichment
inputs:
- description: IP address of the service.
  key: RemoteIP
  playbookInputQuery: null
  required: true
  value:
    complex:
      accessor: remoteip
      root: alert
- description: Port number of the service.
  key: RemotePort
  playbookInputQuery: null
  required: true
  value:
    complex:
      accessor: remoteport
      root: alert
- description: Protocol of the service.
  key: RemoteProtocol
  playbookInputQuery: null
  required: true
  value:
    complex:
      accessor: appid
      root: alert
name: Cortex ASM - On Prem Enrichment
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4627b363-29d7-4351-880f-f69276a11174
      iscommand: false
      name: ""
      version: -1
    taskid: 4627b363-29d7-4351-880f-f69276a11174
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 520,
          "y": -160
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Panorama
      description: Show firewall device software version.
      id: c495e804-5dcc-4474-84fc-29935ff3bb46
      iscommand: true
      name: pan-os-show-device-version
      script: Panorama|||pan-os-show-device-version
      type: regular
      version: -1
    taskid: c495e804-5dcc-4474-84fc-29935ff3bb46
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 520,
          "y": 630
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      destination:
        complex:
          root: inputs.RemoteIP
      destination-port:
        complex:
          root: inputs.RemotePort
      protocol:
        complex:
          root: inputs.RemoteProtocol
          transformers:
          - operator: toUpperCase
          - args:
              algorithm: {}
              caseless: {}
              compare_fields: {}
              context: {}
              default_value: {}
              flags: {}
              mappings:
                value:
                  simple: '{"TCP":6, "UDP": 17}'
              priority: {}
              wildcards: {}
            operator: MapPattern
      source:
        simple: 0.0.0.0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Panorama
      description: Checks whether a session matches a specified security policy. This
        command is only available on firewall instances.
      id: 9ec49b1d-f3ef-4338-80d5-53f8c0388991
      iscommand: true
      name: pan-os-security-policy-match
      script: Panorama|||pan-os-security-policy-match
      type: regular
      version: -1
    taskid: 9ec49b1d-f3ef-4338-80d5-53f8c0388991
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 520,
          "y": 260
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Name
                root: Panorama.SecurityPolicyMatch.Rules
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Action
                root: Panorama.SecurityPolicyMatch.Rules
          operator: isEqualString
          right:
            value:
              simple: allow
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if firewall rule information was found (allow rules only).
      id: e62a440c-57ac-4c93-8bb5-ef4e4ce71649
      iscommand: false
      name: Was a match found that allows exposure traffic?
      type: condition
      version: -1
    taskid: e62a440c-57ac-4c93-8bb5-ef4e4ce71649
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": 410
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0ed129bf-45cb-4997-82d0-f2838151a0f2
      iscommand: false
      name: Continue
      type: title
      version: -1
    taskid: 0ed129bf-45cb-4997-82d0-f2838151a0f2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -350,
          "y": 2535
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Model
                root: Panorama.Device.Info
          operator: containsGeneral
          right:
            value:
              simple: Panorama
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if one of the integration instances is for a Panorama device.
      id: f5797d40-066e-4f19-84b1-8ae33501e28e
      iscommand: false
      name: Is there a Panorama instance?
      type: condition
      version: -1
    taskid: f5797d40-066e-4f19-84b1-8ae33501e28e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": 780
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      rulename:
        complex:
          accessor: Name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Panorama.SecurityPolicyMatch.Rules.Action
              operator: isEqualString
              right:
                value:
                  simple: allow
          root: Panorama.SecurityPolicyMatch.Rules
    separatecontext: false
    skipunavailable: false
    task:
      brand: Panorama
      description: Returns a list of predefined Security Rules. (When passing a query,
        all other arguments are overridden. Make sure the query includes all the filters
        you want).
      id: e9f87bca-b353-4aa1-8f33-09145bf2cd38
      iscommand: true
      name: pan-os-list-rules
      script: Panorama|||pan-os-list-rules
      type: regular
      version: -1
    taskid: e9f87bca-b353-4aa1-8f33-09145bf2cd38
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 300,
          "y": 990
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-TYPE
      val2:
        simple: PAN-OS Firewall
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the type of cloud asset to the grid field for the ASM system
        IDs object.
      id: 8869db45-0714-43e9-8dd2-3c4600729a7b
      iscommand: false
      name: Set system IDs grid field (type)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 8869db45-0714-43e9-8dd2-3c4600729a7b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 2270
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmcloud
      keys:
        simple: provider,organization,project,region,other
      val1:
        simple: On Prem
      val2:
        simple: n/a
      val3:
        simple: n/a
      val4:
        simple: n/a
      val5:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: a4d9354c-0d88-442e-84e6-732634431c1d
      iscommand: false
      name: Set cloud grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: a4d9354c-0d88-442e-84e6-732634431c1d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 2290
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: FIREWALL-RULE-NAME
      val2:
        complex:
          accessor: Name
          root: Panorama.SecurityRule
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the type of cloud asset to the grid field for the ASM system
        IDs object.
      id: 55cb16b5-dffa-42bd-8d90-4d1b03d97d56
      iscommand: false
      name: Set system IDs grid field (firewall rule name)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 55cb16b5-dffa-42bd-8d90-4d1b03d97d56
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 2430
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_fields_set_for_onprem
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: a8b9924f-da5a-4477-857a-1d8f9f0be0ae
      iscommand: false
      name: Set true flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: a8b9924f-da5a-4477-857a-1d8f9f0be0ae
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 3165
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmenrichmentstatus
      keys:
        simple: source,record_exists,timestamp
      val1:
        simple: On Prem
      val2:
        simple: "true"
      val3:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format. For example:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 7c841170-de87-483f-8a8f-bbfec49e4573
      iscommand: false
      name: Set ASM enrichment status to true
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 7c841170-de87-483f-8a8f-bbfec49e4573
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 280,
          "y": 3610
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: asm_fields_set_for_onprem
          operator: isTrue
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if enrichment was performed by checking for a value of true
        in the relevant flag variable.
      id: 7a3e239b-28b0-40cc-8a6c-c47d9cbe9380
      iscommand: false
      name: Was enrichment performed?
      type: condition
      version: -1
    taskid: 7a3e239b-28b0-40cc-8a6c-c47d9cbe9380
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 3380
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmenrichmentstatus
      keys:
        simple: source,record_exists,timestamp
      val1:
        simple: On Prem
      val2:
        simple: "false"
      val3:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format. For example:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: ba489c19-e205-4184-86a2-5cc77c34f1f9
      iscommand: false
      name: Set ASM enrichment status to false
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: ba489c19-e205-4184-86a2-5cc77c34f1f9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 700,
          "y": 3610
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 41bdab6f-1603-4da9-8dc5-94bbe94c92ba
      iscommand: false
      name: System IDs
      type: title
      version: -1
    taskid: 41bdab6f-1603-4da9-8dc5-94bbe94c92ba
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 440,
          "y": 2140
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9d98d3cc-f234-401f-874a-2002b0dcee46
      iscommand: false
      name: Cloud
      type: title
      version: -1
    taskid: 9d98d3cc-f234-401f-874a-2002b0dcee46
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 880,
          "y": 2140
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Name
                root: Panorama.SecurityRule
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "20"
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if firewall rule information was found.
      id: fc836b11-f69a-4405-8f28-8e54eacfdd52
      iscommand: false
      name: Was rule information found?
      type: condition
      version: -1
    taskid: fc836b11-f69a-4405-8f28-8e54eacfdd52
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 500,
          "y": 1900
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dbd0896a-ebbc-4b94-8541-564f9fdfd356
      iscommand: false
      name: Complete
      type: title
      version: -1
    taskid: dbd0896a-ebbc-4b94-8541-564f9fdfd356
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 500,
          "y": 3840
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Panorama
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RemoteIP
          operator: isExists
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RemotePort
          operator: isExists
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RemoteProtocol
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether the PAN-OS integration is enabled.
      id: 826cad0a-611a-49dd-825e-f66d78e1cba1
      iscommand: false
      name: Palo Alto Networks PAN-OS enabled?
      type: condition
      version: -1
    taskid: 826cad0a-611a-49dd-825e-f66d78e1cba1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": -30
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: FIREWALL-DEVICE-GROUP
      val2:
        complex:
          accessor: Location
          root: Panorama.SecurityRule
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the type of cloud asset to the grid field for the ASM system
        IDs object.
      id: 293893d7-56d7-43dc-872f-4681c30f9dc6
      iscommand: false
      name: Set system IDs grid field (device group)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 293893d7-56d7-43dc-872f-4681c30f9dc6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 2980
        }
      }
  "27":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Location
                root: Panorama.SecurityRule
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: PanoramaUsed
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: other device-group
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: PanoramaUsed
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: shared device-group
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      other device-group:
      - "26"
      shared device-group:
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if firewall device group information was found.
      id: 5eaf15c4-c5cc-4a9b-8ec2-c8a5c03b609f
      iscommand: false
      name: Was there a device group in rule?
      type: condition
      version: -1
    taskid: 5eaf15c4-c5cc-4a9b-8ec2-c8a5c03b609f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 440,
          "y": 2605
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: PanoramaUsed
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 93180524-b691-45bc-8f43-2edae5dec1c1
      iscommand: false
      name: Set temporary context (signify Panorama used)
      script: Set
      type: regular
      version: -1
    taskid: 93180524-b691-45bc-8f43-2edae5dec1c1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 830,
          "y": 1160
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: FIREWALL-DEVICE-GROUP
      val2:
        simple: shared
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the type of cloud asset to the grid field for the ASM system
        IDs object.
      id: 0490d2ba-549b-4968-89e4-95a28ade32f5
      iscommand: false
      name: Set system IDs grid field (device group)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 0490d2ba-549b-4968-89e4-95a28ade32f5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2800
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Panorama
      description: Gets the operational information of the device groups in the topology.
        (Only device groups with associated devices will be listed by this command).
      id: 048f7537-fa3b-4c13-88d7-ddca9a825ab3
      iscommand: true
      name: pan-os-platform-get-device-groups
      script: Panorama|||pan-os-platform-get-device-groups
      type: regular
      version: -1
    taskid: 048f7537-fa3b-4c13-88d7-ddca9a825ab3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 830,
          "y": 1000
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: SecondaryDG
      value:
        complex:
          accessor: name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PANOS.DeviceGroupOp.serial
              operator: in
              right:
                iscontext: true
                value:
                  simple: Panorama.SecurityPolicyMatch.Device.Serial
          root: PANOS.DeviceGroupOp
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 26b88096-38cb-49cb-8a46-3631ac412d21
      iscommand: false
      name: Set temporary context (secondary device-groups)
      script: Set
      type: regular
      version: -1
    taskid: 26b88096-38cb-49cb-8a46-3631ac412d21
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 830,
          "y": 1320
        }
      }
  "33":
    continueonerror: true
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      device-group:
        complex:
          root: SecondaryDG
      pre_post:
        simple: pre-rulebase
      rulename:
        complex:
          accessor: Name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Panorama.SecurityPolicyMatch.Rules.Action
              operator: isEqualString
              right:
                value:
                  simple: allow
          root: Panorama.SecurityPolicyMatch.Rules
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Panorama
      description: Returns a list of predefined security rules. (When passing a query,
        all other arguments are overridden. Make sure the query includes all the filters
        you want).
      id: 068e20a0-f298-40b4-8416-8948c9d7235f
      iscommand: true
      name: pan-os-list-rules (device-groups pre-rulebase)
      script: Panorama|||pan-os-list-rules
      type: regular
      version: -1
    taskid: 068e20a0-f298-40b4-8416-8948c9d7235f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 830,
          "y": 1485
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: FIREWALL-SECONDARY-DEVICE-GROUP
      val2:
        complex:
          root: SecondaryDG
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the type of cloud asset to the grid field for the ASM system
        IDs object.
      id: deb936be-a71d-4539-8d88-ef3d4fb1c065
      iscommand: false
      name: Set system IDs grid field (secondary device group)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: deb936be-a71d-4539-8d88-ef3d4fb1c065
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2980
        }
      }
  "35":
    continueonerror: true
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    scriptarguments:
      device-group:
        complex:
          root: SecondaryDG
      pre_post:
        simple: post-rulebase
      rulename:
        complex:
          accessor: Name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Panorama.SecurityPolicyMatch.Rules.Action
              operator: isEqualString
              right:
                value:
                  simple: allow
          root: Panorama.SecurityPolicyMatch.Rules
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Panorama
      description: Returns a list of predefined security rules. (When passing a query,
        all other arguments are overridden. Make sure the query includes all the filters
        you want).
      id: b0ecff52-f5b6-45da-8281-d3defc49d5d5
      iscommand: true
      name: 'pan-os-list-rules (device-groups post-rulebase) '
      script: Panorama|||pan-os-list-rules
      type: regular
      version: -1
    taskid: b0ecff52-f5b6-45da-8281-d3defc49d5d5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1260,
          "y": 1495
        }
      }
  "36":
    continueonerror: true
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      device-group:
        simple: shared
      pre_post:
        simple: pre-rulebase
      rulename:
        complex:
          accessor: Name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Panorama.SecurityPolicyMatch.Rules.Action
              operator: isEqualString
              right:
                value:
                  simple: allow
          root: Panorama.SecurityPolicyMatch.Rules
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Panorama
      description: Returns a list of predefined security rules. (When passing a query,
        all other arguments are overridden. Make sure the query includes all the filters
        you want).
      id: 4a269433-06d1-48c9-843f-db146da7e06c
      iscommand: true
      name: pan-os-list-rules (shared pre-rulebase)
      script: Panorama|||pan-os-list-rules
      type: regular
      version: -1
    taskid: 4a269433-06d1-48c9-843f-db146da7e06c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 830,
          "y": 1675
        }
      }
  "37":
    continueonerror: true
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      device-group:
        simple: shared
      pre_post:
        simple: post-rulebase
      rulename:
        complex:
          accessor: Name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Panorama.SecurityPolicyMatch.Rules.Action
              operator: isEqualString
              right:
                value:
                  simple: allow
          root: Panorama.SecurityPolicyMatch.Rules
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Panorama
      description: Returns a list of predefined security rules. (When passing a query,
        all other arguments are overridden. Make sure the query includes all the filters
        you want).
      id: 7b99a59a-e4e5-4bb1-8c5a-f93b6efe60d9
      iscommand: true
      name: pan-os-list-rules (shared post-rulebase)
      script: Panorama|||pan-os-list-rules
      type: regular
      version: -1
    taskid: 7b99a59a-e4e5-4bb1-8c5a-f93b6efe60d9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1260,
          "y": 1675
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "21_5_#default#": 0.33,
      "24_5_#default#": 0.68,
      "4_5_#default#": 0.19
    },
    "paper": {
      "dimensions": {
        "height": 4065,
        "width": 1990,
        "x": -350,
        "y": -160
      }
    }
  }
