playbook/playbook-NGFW_Scan.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    itemVersion: 3.0.20
    packID: Core
    packName: Core - Investigation and Response
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook handles external and internal scanning alerts.

  **Attacker's Goals:**

  Adversaries may attempt to get a listing of services running on remote hosts, including those that may be vulnerable to remote software exploitation. Methods to acquire this information include port scans and vulnerability scans using tools that are brought onto a system.

  **Investigative Actions:**

  Investigate the scanner IP address using:

  * IP enrichment:
  * NGFW Internal Scan playbook
  * Endpoint Investigation Plan playbook
  * Entity enrichment

  **Response Actions**

  The playbook's response actions are based on the initial data provided within the alert. In that phase, the playbook will execute:

  * Automatically block IP address
  * Report IP address (If configured as true in the playbook inputs)

  When the playbook executes, it checks for additional activity using the Endpoint Investigation Plan playbook, and another phase, which includes the Containment Plan playbook, is executed.
  This phase will execute the following containment actions:

  * Automatically isolate involved endpoint
  * Manual block indicators
  * Manual file quarantine
  * Manual disable user

  **External resources:**

  [Mitre technique T1046 - Network Service Scanning](https://attack.mitre.org/techniques/T1046/)

  [Port Scan](https://docs-cortex.paloaltonetworks.com/r/Cortex-XDR-Analytics-Alert-Reference/Port-Scan)
id: NGFW Scan
inputSections:
- description: Alert management settings and data, including escalation processes,
    and user engagements.
  inputs:
  - SOCEmailAddress
  - AutoCloseAlert
  name: Alert Management
- description: Investigation settings and data, including any deep dive alert investigation
    and verdict determination.
  inputs:
  - scannerIP
  name: Investigation
- description: Remediation settings and data, including containment, eradication,
    and recovery.
  inputs:
  - blockKnownScanner
  - reportIPAddress
  - AutoContainment
  - UserVerification
  - HostAutoContainment
  - AutoRecovery
  name: Remediation
- description: Ticket management settings and data.
  inputs:
  - ShouldOpenTicket
  - serviceNowShortDescription
  - serviceNowImpact
  - serviceNowUrgency
  - serviceNowSeverity
  - serviceNowTicketType
  - serviceNowCategory
  - serviceNowAssignmentGroup
  - ZendeskPriority
  - ZendeskRequester
  - ZendeskStatus
  - ZendeskSubject
  - ZendeskTags
  - ZendeskType
  - ZendeskAssigne
  - ZendeskCollaborators
  - description
  - addCommentPerEndpoint
  - CommentToAdd
  name: Ticket Management
inputs:
- description: The scanner IP address.
  key: scannerIP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: localip
      root: alert
- description: Whether to block the IP address based on previously seen scanning alerts.
  key: blockKnownScanner
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: Whether to close the alert automatically or manually, after an analyst's
    review.
  key: AutoCloseAlert
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: Whether to execute the Recovery playbook.
  key: AutoRecovery
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: The SOC email address.
  key: SOCEmailAddress
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether to report the IP address to AbuseIPDB.
  key: reportIPAddress
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: |-
    Whether to execute automatically or manually the containment plan tasks:
    * Block indicators
    * Quarantine file
    * Disable user
  key: AutoContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: Whether to execute endpoint isolation automatically or manually.
  key: HostAutoContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: Whether to open a ticket automatically in a ticketing system. (True/False).
  key: ShouldOpenTicket
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: A short description of the ticket.
  key: serviceNowShortDescription
  playbookInputQuery: null
  required: false
  value:
    simple: XSIAM Incident ID - ${parentIncidentFields.incident_id}
- description: The impact for the new ticket. Leave empty for ServiceNow default impact.
  key: serviceNowImpact
  playbookInputQuery: null
  required: false
  value: {}
- description: The urgency of the new ticket. Leave empty for ServiceNow default urgency.
  key: serviceNowUrgency
  playbookInputQuery: null
  required: false
  value: {}
- description: The severity of the new ticket. Leave empty for ServiceNow default
    severity.
  key: serviceNowSeverity
  playbookInputQuery: null
  required: false
  value: {}
- description: The ServiceNow ticket type. Options are "incident", "problem", "change_request",
    "sc_request", "sc_task", or "sc_req_item". Default is "incident".
  key: serviceNowTicketType
  playbookInputQuery: null
  required: false
  value: {}
- description: The category of the ServiceNow ticket.
  key: serviceNowCategory
  playbookInputQuery: null
  required: false
  value: {}
- description: The group to which to assign the new ticket.
  key: serviceNowAssignmentGroup
  playbookInputQuery: null
  required: false
  value: {}
- description: The urgency with which the ticket should be addressed. Allowed values
    are "urgent", "high", "normal", or "low".
  key: ZendeskPriority
  playbookInputQuery: null
  required: false
  value: {}
- description: The user who requested this ticket.
  key: ZendeskRequester
  playbookInputQuery: null
  required: false
  value: {}
- description: The state of the ticket. Allowed values are "new", "open", "pending",
    "hold", "solved", or "closed".
  key: ZendeskStatus
  playbookInputQuery: null
  required: false
  value: {}
- description: The value of the subject field for this ticket.
  key: ZendeskSubject
  playbookInputQuery: null
  required: false
  value:
    simple: XSIAM Incident ID - ${parentIncidentFields.incident_id}
- description: The array of tags applied to this ticket.
  key: ZendeskTags
  playbookInputQuery: null
  required: false
  value: {}
- description: The type of this ticket. Allowed values are "problem", "incident",
    "question", or "task".
  key: ZendeskType
  playbookInputQuery: null
  required: false
  value: {}
- description: The agent currently assigned to the ticket.
  key: ZendeskAssigne
  playbookInputQuery: null
  required: false
  value: {}
- description: The users currently CC'ed on the ticket.
  key: ZendeskCollaborators
  playbookInputQuery: null
  required: false
  value: {}
- description: The ticket description.
  key: description
  playbookInputQuery: null
  required: false
  value:
    simple: ${parentIncidentFields.description}. ${parentIncidentFields.xdr_url}
- description: 'Whether to append a new comment to the ticket for each endpoint in
    the incident. Possible values: True/False.'
  key: addCommentPerEndpoint
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Comment for the ticket.
  key: CommentToAdd
  playbookInputQuery: null
  required: false
  value:
    simple: '${alert.name}. Alert ID: ${alert.id}'
- description: |-
    Possible values: True/False.  Default: True.
    Whether to provide user verification for blocking IP addresses.
  key: UserVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
name: NGFW Scan
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 40079701-e9d2-442a-877b-bc4609b5b687
      iscommand: false
      name: ""
      version: -1
    taskid: 40079701-e9d2-442a-877b-bc4609b5b687
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 480,
          "y": -1140
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.scannerIP
          operator: IsInCidrRanges
          right:
            value:
              simple: 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
      label: Internal
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      Internal:
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the scanner IP address is internal or external.
      id: fc3beac8-29a6-4c5e-860a-88da98d2f465
      iscommand: false
      name: Check if scanner IP Address is external
      type: condition
      version: -1
    taskid: fc3beac8-29a6-4c5e-860a-88da98d2f465
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": -1010
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6e60d2b5-da62-4e51-8288-fa36e88a3b43
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 6e60d2b5-da62-4e51-8288-fa36e88a3b43
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 20,
          "y": 3180
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 81114969-0dc4-4f7c-846d-9463dee9fabf
      iscommand: false
      name: Mitigation
      type: title
      version: -1
    taskid: 81114969-0dc4-4f7c-846d-9463dee9fabf
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 530
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eb6213f6-9508-4f40-8b7b-57f4fd29a859
      iscommand: false
      name: Anaylsis
      type: title
      version: -1
    taskid: eb6213f6-9508-4f40-8b7b-57f4fd29a859
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": -800
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b54cde0f-11ea-44c2-8b0f-68b2e5e77897
      iscommand: false
      name: Investigation
      type: title
      version: -1
    taskid: b54cde0f-11ea-44c2-8b0f-68b2e5e77897
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1380
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: foundIncidents
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "46"
      "yes":
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if any other activity was found for the scanner IP address.
      id: cc50c64f-41c7-49cb-873b-88891bef19e6
      iscommand: false
      name: Found additional activity for the attacker IP Address?
      type: condition
      version: -1
    taskid: cc50c64f-41c7-49cb-873b-88891bef19e6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1670
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          XSIAM has identified a malicious scanner activity.

          The malicious scanner IP address, ${inputs.scannerIP}, has been blocked and an investigation on the targeted endpoint.
          The endpoint investigation playbook raised other suspicious activity related to the IP address.

          We advise you to review alert ID ${alert.id} due to the identified activity.

          XSIAM
      subject:
        simple: XSIAM - detected suspicious scanner activity
      to:
        complex:
          root: inputs.SOCEmailAddress
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email using EWS.
      id: 79f7f934-3b5f-4db6-8705-238fc63a2f1a
      iscommand: true
      name: Notify the SOC
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 79f7f934-3b5f-4db6-8705-238fc63a2f1a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1250,
          "y": 2010
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    scriptarguments:
      AutoCommit:
        simple: "No"
      CustomBlockRule:
        simple: "True"
      Folder:
        simple: Shared
      IP:
        complex:
          root: inputs.scannerIP
      InputEnrichment:
        simple: "False"
      RuleDirection:
        simple: outbound
      RuleName:
        simple: XSOAR - Block IP playbook - ${alert.id}
      UserVerification:
        complex:
          root: inputs.UserVerification
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook blocks malicious IP addresses using all integrations
        that are enabled. The direction of the traffic that will be blocked is determined
        by the XSOAR user (and set by default to outgoing)\nNote the following:\n-
        \ some of those integrations require specific parameters to run, which are
        based on the playbook inputs. Also, certain integrations use FW rules or appended
        network objects.\n- Note that the appended network objects should be specified
        in blocking rules inside the system later on. \n\n\nSupported integrations
        for this playbook [Network security products such as FW/WAF/IPs/etc.]: \n\n*
        Check Point Firewall\n* Palo Alto Networks PAN-OS\n* Zscaler\n* FortiGate\n*
        Aria Packet Intelligence\n* Cisco Firepower \n* Cisco Secure Cloud Analytics\n*
        Cisco ASA\n* Akamai WAF\n* F5 SilverLine\n* ThreatX\n* Signal Sciences WAF\n*
        Sophos Firewall\n\n"
      id: f6288d7e-39f3-4da3-8a9e-5c5ffcd318b1
      iscommand: false
      name: Block IP - Generic v3
      playbookId: Block IP - Generic v3
      type: playbook
      version: -1
    taskid: f6288d7e-39f3-4da3-8a9e-5c5ffcd318b1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 480,
          "y": 670
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: inputs.scannerIP
                root: DBotScore
          operator: greaterThanOrEqual
          right:
            value:
              simple: "2"
      label: "yes"
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "57"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the IP address was identified as malicious.
      id: 93f61f2a-d50e-4916-8221-2d83b81f4331
      iscommand: false
      name: Was the IP Address identified as malicious?
      type: condition
      version: -1
    taskid: 93f61f2a-d50e-4916-8221-2d83b81f4331
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": -350
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 37657fa8-531d-4142-8b8e-6bfe4b2b63ae
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 37657fa8-531d-4142-8b8e-6bfe4b2b63ae
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1000,
          "y": -655
        }
      }
  "28":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: foundIncidents
                transformers:
                - operator: count
          operator: greaterThanOrEqual
          right:
            value:
              simple: "5"
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.blockKnownScanner
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "47"
      "yes":
      - "57"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether repetitive scanning from benign IP addresses should
        be blocked.
      id: d5aa0ea2-289c-4fe0-8dfb-c64b2e52fd19
      iscommand: false
      name: Should block repetitive scanning from benign IP Address?
      type: condition
      version: -1
    taskid: d5aa0ea2-289c-4fe0-8dfb-c64b2e52fd19
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 20,
          "y": -180
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      AutoCloseAlert:
        simple: "false"
      AutoContainment:
        simple: "false"
      HostAutoContainment:
        simple: "true"
      scannerIP:
        complex:
          root: inputs.scannerIP
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook investigate a scan where the source is an internal IP address.

        An attacker might initiate an internal scan for discovery, lateral movement and more.

        **Attacker's Goals:**

        An attacker can leverage a scan for open ports and vulnerable systems on remote endpoints in an attempt to identify the endpoint operating system, firewall configuration, and exploitable services.

        **Investigative Actions:**

        * Endpoint Investigation Plan playbook

        **Response Actions:**

        * Endpoint isolation
        * Block indicators
      id: d59bde26-4667-41ec-8e8a-c38c87a3b7a4
      iscommand: false
      name: NGFW Internal Scan
      playbookId: NGFW Internal Scan
      type: playbook
      version: -1
    taskid: d59bde26-4667-41ec-8e8a-c38c87a3b7a4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1000,
          "y": -815
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      fromdate:
        simple: 7 days ago
      query:
        simple: name:*scan* and localip:${inputs.scannerIP}
      size:
        simple: "10"
      trimevents:
        simple: "1"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches XSIAM alerts.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 12c20106-b5a4-4d4e-8f08-c81cf9ce2feb
      iscommand: false
      name: Search scan alerts from the attacker IP
      script: SearchIncidentsV2
      type: regular
      version: -1
    taskid: 12c20106-b5a4-4d4e-8f08-c81cf9ce2feb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": -510
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "46"
    note: false
    quietmode: 0
    scriptarguments:
      AutoContainment:
        complex:
          root: inputs.AutoContainment
      BlockIndicators:
        simple: "True"
      ClearUserSessions:
        simple: Fasle
      EndpointID:
        complex:
          accessor: agentid
          root: foundIncidents.CustomFields
      FileContainment:
        simple: "True"
      FileHash:
        complex:
          accessor: initiatorsha256
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.initiatorpath
              operator: isNotEqualString
              right:
                value:
                  simple: c:\windows\explorer.exe
          root: foundIncidents.CustomFields
      FilePath:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.initiatorpath
              operator: isNotEqualString
              right:
                value:
                  simple: c:\windows\explorer.exe
          root: foundIncidents.CustomFields.initiatorpath
      FileRemediation:
        simple: Quarantine
      HostAutoContainment:
        complex:
          root: inputs.HostAutoContainment
      UserContainment:
        simple: Fasle
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the containment actions available with Cortex XSIAM.
        The playbook allows to contain the alert with one of the following tasks:
        * Isolate endpoint
        * Disable account
        * Quarantine file
        * Block indicators
        * Clear user session (currently, the playbook supports only Okta)

        The playbook inputs allows you to manipulate the execution flow. Review the inputs description.
      id: 06dcc969-335b-4309-8e46-5979aeff8158
      iscommand: false
      name: Containment Plan
      playbookId: Containment Plan
      type: playbook
      version: -1
    taskid: 06dcc969-335b-4309-8e46-5979aeff8158
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 2180
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 7284fa76-6c8d-45f9-8edf-f32abd30d498
      iscommand: true
      name: Close alert
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 7284fa76-6c8d-45f9-8edf-f32abd30d498
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3010
        }
      }
  "42":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoRecovery
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "60"
      "yes":
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to execute the recovery plan.
      id: 9d36e4d2-085a-49ec-835a-c1cafe1e89d1
      iscommand: false
      name: Should execute recovery plan?
      type: condition
      version: -1
    taskid: 9d36e4d2-085a-49ec-835a-c1cafe1e89d1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2485
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    scriptarguments:
      releaseFile:
        simple: "false"
      unIsolateEndpoint:
        simple: "false"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the recovery actions available with Cortex XSIAM.
        The playbook enables you to recover from the alert with one of the following tasks:
        * Unisolate endpoint
        * Restore quarantined file

        The playbook inputs enable you to manipulate the execution flow. Review the inputs description.
      id: b84fcf1d-129f-4b82-822a-be68527e7710
      iscommand: false
      name: Recovery Plan
      playbookId: Recovery Plan
      type: playbook
      version: -1
    taskid: b84fcf1d-129f-4b82-822a-be68527e7710
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 2660
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c506b4fc-df2d-4f21-8414-d2a062e80aad
      iscommand: false
      name: Recovery
      type: title
      version: -1
    taskid: c506b4fc-df2d-4f21-8414-d2a062e80aad
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2350
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "Yes":
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether to add an alert exclusion or not.
      id: 6823d96c-3b1f-4738-855f-79eceff629d5
      iscommand: false
      name: Should add alert exclusion?
      type: condition
      version: -1
    taskid: 6823d96c-3b1f-4738-855f-79eceff629d5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 20,
          "y": 670
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      ShouldCloseAutomatically:
        complex:
          root: inputs.AutoCloseAlert
      alertName:
        complex:
          accessor: name
          root: alert
      sourceIP:
        complex:
          root: inputs.scannerIP
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |
        This playbook handles false positive alerts.
      id: c61bb207-387d-49a5-8083-409ca876e978
      iscommand: false
      name: Handle False Positive Alerts
      playbookId: Handle False Positive Alerts
      type: playbook
      version: -1
    taskid: c61bb207-387d-49a5-8083-409ca876e978
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -240,
          "y": 1365
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          root: inputs.scannerIP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the reputation of an IP address.
      id: 510b6f41-c6c3-4a59-8e41-ab1562467fe4
      iscommand: true
      name: Enrich scanner IP Address
      script: '|||ip'
      type: regular
      version: -1
    taskid: 510b6f41-c6c3-4a59-8e41-ab1562467fe4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": -670
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      HuntAttacker:
        simple: "True"
      HuntCnCTechniques:
        simple: "False"
      HuntCollectionTechniques:
        simple: "False"
      HuntDefenseEvasionTechniques:
        simple: "False"
      HuntDiscoveryTechniques:
        simple: "False"
      HuntExecutionTechniques:
        simple: "False"
      HuntImpactTechniques:
        simple: "False"
      HuntInitialAccessTechniques:
        simple: "False"
      HuntLateralMovementTechniques:
        simple: "False"
      HuntPersistenceTechniques:
        simple: "False"
      HuntPrivilegeEscalationTechniques:
        simple: "False"
      HuntReconnaissanceTechniques:
        simple: "False"
      agentID:
        complex:
          accessor: agentid
          root: alert
      attackerRemoteIP:
        complex:
          root: inputs.scannerIP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the endpoint investigation actions available with Cortex XSIAM.
        The playbook enables you to investigate and hunt for more information using one of the following tasks:
        * Pre-defined MITRE Tactics
        * Host fields (Host ID)
        * Attacker fields (Attacker IP, External host)
        * MITRE techniques
        * File hash (currently, the playbook supports only SHA256)

        The playbook inputs enable you to manipulate the execution flow. Review the inputs description.
      id: edd23e16-504a-450d-857b-1c93cd09c0d2
      iscommand: false
      name: Endpoint Investigation Plan
      playbookId: Endpoint Investigation Plan
      type: playbook
      version: -1
    taskid: edd23e16-504a-450d-857b-1c93cd09c0d2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1510
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      categories:
        simple: "14"
      ip:
        complex:
          root: inputs.scannerIP
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Reports an IP address to AbuseIPDB.
      id: 0caa2762-5a38-4642-8525-edd7f4924807
      iscommand: true
      name: Report IP address to AbuseIPDB
      script: '|||abuseipdb-report-ip'
      type: regular
      version: -1
    taskid: 0caa2762-5a38-4642-8525-edd7f4924807
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 1210
        }
      }
  "55":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.reportIPAddress
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to report the IP the AbuseIPDB or not
      id: b0f3e23a-43a5-4394-806c-b097064ea017
      iscommand: false
      name: Should report the IP to AbuseIPDB ?
      type: condition
      version: -1
    taskid: b0f3e23a-43a5-4394-806c-b097064ea017
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 830
        }
      }
  "56":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: abuseipdb
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 6958506f-7785-4f9c-87d1-e5c2a9a38cfd
      iscommand: false
      name: Is AbuseIPDB enabled?
      type: condition
      version: -1
    taskid: 6958506f-7785-4f9c-87d1-e5c2a9a38cfd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 1000
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "58"
    note: false
    quietmode: 2
    scriptarguments:
      manual_severity:
        simple: high
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.field
      id: 98a8bfdb-f55b-4948-8b31-0a11d8aef7c6
      iscommand: true
      name: Set Alert Severity to High
      script: Builtin|||setParentIncidentFields
      type: regular
      version: -1
    taskid: 98a8bfdb-f55b-4948-8b31-0a11d8aef7c6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": -5
        }
      }
  "58":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.ShouldOpenTicket
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether to open a ticket automatically in a ticketing system.
      id: 89a1d36d-860c-48e6-8f2a-cd9027583c47
      iscommand: false
      name: Should open a ticket automatically in a ticketing system?
      type: condition
      version: -1
    taskid: 89a1d36d-860c-48e6-8f2a-cd9027583c47
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 160
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      CommentToAdd:
        complex:
          root: inputs.CommentToAdd
      ZendeskAssigne:
        complex:
          root: inputs.ZendeskAssigne
      ZendeskCollaborators:
        complex:
          root: inputs.ZendeskCollaborators
      ZendeskPriority:
        complex:
          root: inputs.ZendeskPriority
      ZendeskRequester:
        complex:
          root: inputs.ZendeskRequester
      ZendeskStatus:
        complex:
          root: inputs.ZendeskStatus
      ZendeskSubject:
        complex:
          root: inputs.ZendeskSubject
      ZendeskTags:
        complex:
          root: inputs.ZendeskTags
      ZendeskType:
        complex:
          root: inputs.ZendeskType
      addCommentPerEndpoint:
        complex:
          root: inputs.addCommentPerEndpoint
      description:
        complex:
          root: inputs.description
      serviceNowAssignmentGroup:
        complex:
          root: inputs.serviceNowAssignmentGroup
      serviceNowCategory:
        complex:
          root: inputs.serviceNowCategory
      serviceNowImpact:
        complex:
          root: inputs.serviceNowImpact
      serviceNowSeverity:
        complex:
          root: inputs.serviceNowSeverity
      serviceNowShortDescription:
        complex:
          root: inputs.serviceNowShortDescription
      serviceNowTicketType:
        complex:
          root: inputs.serviceNowTicketType
      serviceNowUrgency:
        complex:
          root: inputs.serviceNowUrgency
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: "`Ticket Management - Generic` allows you to open new tickets or
        update comments to the existing ticket in the following ticketing systems:\n-ServiceNow
        \n-Zendesk \nusing the following sub-playbooks:\n-`ServiceNow - Ticket Management`\n-`Zendesk
        - Ticket Management`\n"
      id: 0619c0c5-861a-4dc1-832f-102486fca073
      iscommand: false
      name: Ticket Management - Generic
      playbookId: Ticket Management - Generic
      type: playbook
      version: -1
    taskid: 0619c0c5-861a-4dc1-832f-102486fca073
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 750,
          "y": 350
        }
      }
  "60":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoCloseAlert
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Whether to close the alert automatically.
      id: c0b99b5f-80b6-4423-8e16-a2f9ce2e2a1e
      iscommand: false
      name: Should close alert automatically?
      type: condition
      version: -1
    taskid: c0b99b5f-80b6-4423-8e16-a2f9ce2e2a1e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2835
        }
      }
  "61":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.SOCEmailAddress
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "40"
      "yes":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the SOC Email exist.
      id: 0d9c70b9-65ea-4f19-8289-36ba6b10d480
      iscommand: false
      name: SOC Email exist?
      type: condition
      version: -1
    taskid: 0d9c70b9-65ea-4f19-8289-36ba6b10d480
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1000,
          "y": 1840
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "26_28_#default#": 0.47,
      "26_57_yes": 0.48,
      "28_47_#default#": 0.51,
      "28_57_yes": 0.36,
      "42_45_yes": 0.49,
      "47_48_Yes": 0.58,
      "47_5_#default#": 0.12,
      "4_11_#default#": 0.41,
      "4_33_Internal": 0.72,
      "55_14_#default#": 0.28,
      "55_56_yes": 0.48,
      "56_14_#default#": 0.43,
      "56_54_yes": 0.5,
      "60_41_yes": 0.63,
      "60_5_#default#": 0.43,
      "61_40_#default#": 0.5
    },
    "paper": {
      "dimensions": {
        "height": 4385,
        "width": 1870,
        "x": -240,
        "y": -1140
      }
    }
  }
