playbook/playbook-Cortex_ASM_-_AWS_Enrichment.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 1.7.29
    packID: CortexAttackSurfaceManagement
    packName: Cortex Attack Surface Management
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: Given the IP address this playbook enriches AWS information relevant
  to ASM alerts.
id: Cortex ASM - AWS Enrichment
inputs:
- description: IP address of service
  key: RemoteIP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: remoteip
      root: alert
- description: Attack Surface Management Rule ID.
  key: ASMRuleID
  playbookInputQuery: null
  required: true
  value:
    complex:
      accessor: asmattacksurfaceruleid
      root: alert
- description: If assuming roles for AWS, this is the name of the role to assume (should
    be the same for all organizations).
  key: AWSAssumeRoleName
  playbookInputQuery: null
  required: false
  value: {}
name: Cortex ASM - AWS Enrichment
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 51c3f602-b00e-4cdb-8389-4874746a7e01
      iscommand: false
      name: ""
      version: -1
    taskid: 51c3f602-b00e-4cdb-8389-4874746a7e01
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 0
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
      - "9"
      - "22"
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 2d771cd2-db77-4f80-8aec-9594c2347039
      iscommand: false
      name: Set Field
      type: title
      version: -1
    taskid: 2d771cd2-db77-4f80-8aec-9594c2347039
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 330
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmprivateip
      keys:
        simple: ip,source
      val1:
        complex:
          accessor: PrivateIpAddress
          root: AWS.EC2.Instances.NetworkInterfaces
      val2:
        simple: AWS
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: 5263a753-00be-4ec4-83ae-2b9f77092ca5
      iscommand: false
      name: Set private IP grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 5263a753-00be-4ec4-83ae-2b9f77092ca5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 770,
          "y": 950
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: PrivateIpAddress
                root: AWS.EC2.Instances.NetworkInterfaces
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "32"
      "yes":
      - "15"
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there is EC2 information to set the private IP, cloud,
        and tags fields.
      id: 5a02ff40-8e58-4578-81ab-ee2af7d68478
      iscommand: false
      name: Is there EC2 information?
      type: condition
      version: -1
    taskid: 5a02ff40-8e58-4578-81ab-ee2af7d68478
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 980,
          "y": 505
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 782d1aa8-51b1-4cfb-845b-51ab382cdbb1
      iscommand: false
      name: Private IP
      type: title
      version: -1
    taskid: 782d1aa8-51b1-4cfb-845b-51ab382cdbb1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 770,
          "y": 795
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c175b36e-f61d-4fed-81dc-4aac584d57e5
      iscommand: false
      name: System IDs
      type: title
      version: -1
    taskid: c175b36e-f61d-4fed-81dc-4aac584d57e5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 90,
          "y": 720
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Instances
                root: AWS.EC2
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: GroupId
                root: AWS.EC2.SecurityGroups
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "38"
      "yes":
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there is EC2 and security group information to set
        in the system IDs field.
      id: 70e6bd2a-1018-4417-82a9-4ce3f948fea3
      iscommand: false
      name: Is there EC2 and security group information?
      type: condition
      version: -1
    taskid: 70e6bd2a-1018-4417-82a9-4ce3f948fea3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 90,
          "y": 515
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-VIRTUAL-NET
      val2:
        complex:
          accessor: VpcId
          root: AWS.EC2.SecurityGroups
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: c2790638-0379-47ee-86a2-b6f270b30023
      iscommand: false
      name: Set system IDs grid field (VPC)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: c2790638-0379-47ee-86a2-b6f270b30023
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 90,
          "y": 1020
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-SG
      val2:
        complex:
          accessor: GroupId
          root: AWS.EC2.SecurityGroups
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: 17605a41-dcf6-4bc6-82ac-35b74c405b65
      iscommand: false
      name: Set system IDs grid field (SG)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 17605a41-dcf6-4bc6-82ac-35b74c405b65
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 90,
          "y": 1190
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-SUBNET-ID
      val2:
        complex:
          accessor: SubnetId
          root: AWS.EC2.Instances
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: 068282df-bda6-4f5e-8e14-caf76cbe3ed7
      iscommand: false
      name: Set system IDs grid field (subnet ID)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 068282df-bda6-4f5e-8e14-caf76cbe3ed7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 90,
          "y": 1360
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-NIC
      val2:
        complex:
          accessor: NetworkInterfaceId
          root: AWS.EC2.Instances.NetworkInterfaces
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: cd819f74-7964-456c-8dfa-709434039bf3
      iscommand: false
      name: Set system IDs grid field (NIC)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: cd819f74-7964-456c-8dfa-709434039bf3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 90,
          "y": 1540
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-ID
      val2:
        complex:
          accessor: InstanceId
          root: AWS.EC2.Instances
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: c83ea01a-4333-40f5-8cd5-7a176c34e1cd
      iscommand: false
      name: Set system IDs grid field (EC2 ID)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: c83ea01a-4333-40f5-8cd5-7a176c34e1cd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 90,
          "y": 1710
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7048ede0-a0e8-4093-8933-a89715d9dfd6
      iscommand: false
      name: Cloud
      type: title
      version: -1
    taskid: 7048ede0-a0e8-4093-8933-a89715d9dfd6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 795
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmcloud
      keys:
        simple: provider,organization,project,region,other
      val1:
        simple: AWS
      val2:
        simple: ${org-id}
      val3:
        complex:
          accessor: OwnerId
          root: AWS.EC2.SecurityGroups
      val4:
        complex:
          accessor: Region
          root: AWS.EC2.Instances
      val5:
        complex:
          accessor: AvailabilityZone
          root: AWS.EC2.Instances.Placement
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: c7c33d43-fb9a-43b6-8660-9dc57994afe3
      iscommand: false
      name: Set cloud grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: c7c33d43-fb9a-43b6-8660-9dc57994afe3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 1300
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4809e879-3600-4207-8053-7af1e9884404
      iscommand: false
      name: Tags
      type: title
      version: -1
    taskid: 4809e879-3600-4207-8053-7af1e9884404
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2080,
          "y": 795
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmtags
      keys:
        simple: key,value,source
      val1:
        complex:
          accessor: Key
          root: AWS.EC2.Instances.Tags
      val2:
        complex:
          accessor: Value
          root: AWS.EC2.Instances.Tags
      val3:
        simple: AWS
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: 2d8c53e5-5c46-4bfe-8f54-101c5e4143d9
      iscommand: false
      name: Set tags grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 2d8c53e5-5c46-4bfe-8f54-101c5e4143d9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2080,
          "y": 950
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      AWSAssumeRoleName:
        simple: ${inputs.AWSAssumeRoleName}
      AwsIP:
        complex:
          root: inputs.RemoteIP
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: Given the IP address this playbook enriches EC2 and IAM information.
      id: 448283e1-7429-4854-80f7-8dc8ebfcf306
      iscommand: false
      name: AWS - Enrichment
      playbookId: AWS - Enrichment
      type: playbook
      version: -1
    taskid: 448283e1-7429-4854-80f7-8dc8ebfcf306
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 450,
          "y": 150
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 36ad2f54-2ba5-4f0a-81ed-9f709d27b1c5
      iscommand: false
      name: Closing Steps
      type: title
      version: -1
    taskid: 36ad2f54-2ba5-4f0a-81ed-9f709d27b1c5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2100
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Key
                root: AWS.EC2.Instances.Tags
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "32"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there is EC2 tag information to set the tags fields.
      id: 6962e5f9-ce36-492a-8fad-4e4368f6b379
      iscommand: false
      name: Are there EC2 tags?
      type: condition
      version: -1
    taskid: 6962e5f9-ce36-492a-8fad-4e4368f6b379
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2090,
          "y": 505
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: The playbook sends a HTTP get response to the hostname and validates
        if there is missing bucket information.
      id: c083d6a8-8589-478d-8fe3-5ff4b401a959
      iscommand: false
      name: AWS - Unclaimed S3 Bucket Validation
      playbookId: AWS - Unclaimed S3 Bucket Validation
      type: playbook
      version: -1
    taskid: c083d6a8-8589-478d-8fe3-5ff4b401a959
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -530,
          "y": 810
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: S3BucketName
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "41"
      "yes":
      - "57"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if an S3 bucket was passed back or not.
      id: cf0429d6-e359-4b5e-85b5-faf866471e35
      iscommand: false
      name: Was an S3 bucket passed back?
      type: condition
      version: -1
    taskid: cf0429d6-e359-4b5e-85b5-faf866471e35
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -530,
          "y": 995
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-ID
      val2:
        complex:
          root: S3BucketName
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: dc5e8c03-8cdd-4451-8308-4ef5d5cf82d9
      iscommand: false
      name: Set system IDs grid field (BucketName)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: dc5e8c03-8cdd-4451-8308-4ef5d5cf82d9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -530,
          "y": 1455
        }
      }
  "29":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ASMRuleID
                transformers:
                - args:
                    chars:
                      value:
                        simple: '[\"]'
                  operator: StripChars
          operator: inList
          right:
            value:
              simple: UnclaimedS3Bucket
      label: Unclaimed S3 Bucket
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "41"
      Unclaimed S3 Bucket:
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines the ASM sub-alert type for different scans.
      id: 070d4c16-2e9b-4a9f-8946-f8b81fa95a5b
      iscommand: false
      name: What is the sub-alert type?
      type: condition
      version: -1
    taskid: 070d4c16-2e9b-4a9f-8946-f8b81fa95a5b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -410,
          "y": 505
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_aws
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 519f41b6-9cea-47d4-8c31-c2aea0f3c57e
      iscommand: false
      name: Set true flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: 519f41b6-9cea-47d4-8c31-c2aea0f3c57e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 770,
          "y": 1140
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_aws
      value:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 2bd2d10d-ec05-4363-8227-ce5275114507
      iscommand: false
      name: Set false flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: 2bd2d10d-ec05-4363-8227-ce5275114507
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1810,
          "y": 1490
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_aws
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: dea20ab0-84b6-4885-880b-8d1abc2d4d5c
      iscommand: false
      name: Set true flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: dea20ab0-84b6-4885-880b-8d1abc2d4d5c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 1635
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_aws
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c0cad7ce-44b8-4a76-8226-5a7287be663a
      iscommand: false
      name: Set true flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: c0cad7ce-44b8-4a76-8226-5a7287be663a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2080,
          "y": 1180
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_aws
      value:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 54d33a30-9d4b-4b1d-8112-cb019c18c419
      iscommand: false
      name: Set false flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: 54d33a30-9d4b-4b1d-8112-cb019c18c419
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 520,
          "y": 1480
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_aws
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 9f2bc905-fc3d-4c37-8199-7e2ef2d8a6b8
      iscommand: false
      name: Set true flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: 9f2bc905-fc3d-4c37-8199-7e2ef2d8a6b8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 90,
          "y": 1880
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_aws_s3
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: fa715bac-0be6-4767-8235-d6810ae4bd10
      iscommand: false
      name: Set true flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: fa715bac-0be6-4767-8235-d6810ae4bd10
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -530,
          "y": 1865
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_aws_s3
      value:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 9e6312e8-0a0f-4647-8ba5-973e0b5ed91f
      iscommand: false
      name: Set false flag for completed enrichment
      script: Set
      type: regular
      version: -1
    taskid: 9e6312e8-0a0f-4647-8ba5-973e0b5ed91f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -310,
          "y": 1635
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmenrichmentstatus
      keys:
        simple: source,record_exists,timestamp
      val1:
        simple: AWS S3
      val2:
        simple: "true"
      val3:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format. For example:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 456a42f9-d42f-4005-884d-82c8f1af4c5d
      iscommand: false
      name: Set ASM enrichment status to true (s3)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 456a42f9-d42f-4005-884d-82c8f1af4c5d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 210,
          "y": 2630
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmenrichmentstatus
      keys:
        simple: source,record_exists,timestamp
      val1:
        simple: AWS
      val2:
        simple: "true"
      val3:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format. For example:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 39cba846-8cb8-4153-8778-57b3eb0640a4
      iscommand: false
      name: Set ASM enrichment status to true (AWS)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 39cba846-8cb8-4153-8778-57b3eb0640a4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 690,
          "y": 2630
        }
      }
  "51":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: asm_enrichment_flag_aws
          operator: containsGeneral
          right:
            value:
              simple: "true"
      - - left:
            iscontext: true
            value:
              complex:
                root: asm_enrichment_flag_aws_s3
          operator: containsGeneral
          right:
            value:
              simple: "true"
      label: Both
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: asm_enrichment_flag_aws_s3
          operator: containsGeneral
          right:
            value:
              simple: "true"
      label: S3
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: asm_enrichment_flag_aws
          operator: containsGeneral
          right:
            value:
              simple: "true"
      label: AWS (EC2)
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "53"
      AWS (EC2):
      - "44"
      Both:
      - "52"
      S3:
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if enrichment was performed by checking for a value of true
        in the relevant flag variable.
      id: ac24bdff-06e4-421e-8fdf-fc9e21998c84
      iscommand: false
      name: Was enrichment performed?
      type: condition
      version: -1
    taskid: ac24bdff-06e4-421e-8fdf-fc9e21998c84
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2230
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 11325ebe-a5d7-4461-8f01-2405f328c059
      iscommand: false
      name: Both
      type: title
      version: -1
    taskid: 11325ebe-a5d7-4461-8f01-2405f328c059
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2480
        }
      }
  "53":
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "54"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmenrichmentstatus
      keys:
        simple: source,record_exists,timestamp
      val1:
        simple: AWS
      val2:
        simple: "false"
      val3:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format. For example:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 2b3f9482-232a-42af-84b8-94341cb27760
      iscommand: false
      name: Set ASM enrichment status to false (AWS)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 2b3f9482-232a-42af-84b8-94341cb27760
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2780
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmenrichmentstatus
      keys:
        simple: source,record_exists,timestamp
      val1:
        simple: AWS S3
      val2:
        simple: "false"
      val3:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format. For example:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 44cd6e08-91e4-4c1d-89cb-4ca2ea6bf109
      iscommand: false
      name: Set ASM enrichment status to false (s3)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 44cd6e08-91e4-4c1d-89cb-4ca2ea6bf109
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 2970
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 61f966c0-67d1-4a51-8be0-bb7a82a52b1a
      iscommand: false
      name: Complete
      type: title
      version: -1
    taskid: 61f966c0-67d1-4a51-8be0-bb7a82a52b1a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 3220
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-TYPE
      val2:
        simple: AWS EC2
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the type of cloud asset to the grid field for the ASM system
        IDs object.
      id: aa1861eb-40a6-43c1-8dc1-fe409506a657
      iscommand: false
      name: Set system IDs grid field (type)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: aa1861eb-40a6-43c1-8dc1-fe409506a657
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 90,
          "y": 855
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-TYPE
      val2:
        simple: AWS S3
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: acba7940-e548-49be-88e6-a78d4d37a720
      iscommand: false
      name: Set system IDs grid field (type)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: acba7940-e548-49be-88e6-a78d4d37a720
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -530,
          "y": 1235
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: org-id
      value:
        complex:
          accessor: arn
          filters:
          - - left:
                iscontext: true
                value:
                  simple: AWSHierarchy.level
              operator: isEqualString
              right:
                value:
                  simple: account
          root: AWSHierarchy
          transformers:
          - args:
              from:
                value:
                  simple: account/
              to:
                value:
                  simple: /
            operator: ExtractInbetween
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: cec9ceb0-c771-4e25-8958-aaa841c0cc5a
      iscommand: false
      name: Set org
      script: Set
      type: regular
      version: -1
    taskid: cec9ceb0-c771-4e25-8958-aaa841c0cc5a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 1130
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: org-id
      value:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 1884cb2d-a89e-44cc-8b28-cff7deb2edde
      iscommand: false
      name: Set org to n/a
      script: Set
      type: regular
      version: -1
    taskid: 1884cb2d-a89e-44cc-8b28-cff7deb2edde
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1590,
          "y": 1130
        }
      }
  "60":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: id
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: AWSHierarchy.level
                    operator: isEqualString
                    right:
                      value:
                        simple: account
                root: AWSHierarchy
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "59"
      "yes":
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there is AWS organization information to set in the
        cloud field.
      id: e5d551f1-b2a2-4e40-8683-3c6ee7d13dd1
      iscommand: false
      name: Is there an organization id?
      type: condition
      version: -1
    taskid: e5d551f1-b2a2-4e40-8683-3c6ee7d13dd1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 950
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      asmassethierarchy:
        complex:
          accessor: name
          root: AWSHierarchy
          transformers:
          - operator: ReverseList
          - args:
              separator:
                value:
                  simple: /
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 0ccf9ad4-ce5f-4473-8961-176dfb6a8cf5
      iscommand: true
      name: Set hierarchy field
      script: Builtin|||setAlert
      type: regular
      version: -1
    taskid: 0ccf9ad4-ce5f-4473-8961-176dfb6a8cf5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1190,
          "y": 1470
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "22_32_#default#": 0.32,
      "24_41_#default#": 0.23,
      "29_23_Unclaimed S3 Bucket": 0.71,
      "29_41_#default#": 0.54,
      "51_52_Both": 0.4
    },
    "paper": {
      "dimensions": {
        "height": 3285,
        "width": 3000,
        "x": -530,
        "y": 0
      }
    }
  }
