playbook/playbook-Cortex_ASM_-_ASM_Alert.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.9.0
    itemVersion: 1.6.33
    packID: CortexAttackSurfaceManagement
    packName: Cortex Attack Surface Management
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: This playbook handles ASM alerts by enriching asset information and providing
  a means of remediating the issue directly or through contacting service owners.
id: Cortex ASM - ASM Alert
inputs:
- description: Subject of the notification (email or ticket) sent to potential service
    owner.
  key: OwnerNotificationSubject
  playbookInputQuery: null
  required: true
  value:
    simple: A new security risk was identified on an external service owned by your
      team
- description: Body of the notification (email or ticket) sent to potential service
    owner.
  key: OwnerNotificationBody
  playbookInputQuery: null
  required: true
  value:
    simple: |+
      Infosec identified a security risk on an external service potentially owned by your team: ${alert.name}<br><br>

      Description: ${alert.details}
      <br><br>

- description: Subject of the notification (email or ticket) sent to the service owner
    after remediation.
  key: RemediationNotificationSubject
  playbookInputQuery: null
  required: true
  value:
    simple: A new security risk was addressed on an external service owned by your
      team
- description: Body of the notification (email or ticket) sent to the service owner
    after remediation.
  key: RemediationNotificationHTMLBody
  playbookInputQuery: null
  required: true
  value:
    simple: |-
      <!DOCTYPE html>
      <html lang="en">
      <body>
          <p>
              Infosec identified a security risk on an external service potentially owned by your
              team:<br><b>${alert.name}</b>
          </p>
          <p>
              <b>Alert Details:</b> ${alert.details}<br>
              <b>Action Taken:</b> ${alert.asmremediation.[0].action}<br>
              <b>Action Outcome:</b> ${alert.asmremediation.[0].outcome}<br>
          </p>
      </body>
      </html>
- description: |-
    Determine whether to bypass the Dev Check in automated remediation criteria: https://docs-cortex.paloaltonetworks.com/r/Cortex-XPANSE/Cortex-Xpanse-Expander-User-Guide/Automated-Remediation-Capabilities-Matrix

    Set to "True" if you want to bypass.  Default is "False".
  key: BypassDevCheck
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Comma-separated list of instance/VM IDs that are considered an accepted
    risk and that should be closed.
  key: AcceptedRiskDs
  playbookInputQuery: null
  required: false
  value: {}
- description: Comma-separated list of projects numbers that are considered an accepted
    risk and that should be closed.  For example, a list of GCP projects and AWS accounts.
  key: AcceptedRiskProjects
  playbookInputQuery: null
  required: false
  value: {}
- description: Comma-separated list of other items that are considered an accepted
    risk and that should be closed. For example, a list of folders numbers in GCP
    and subscription IDs in Azure.
  key: AcceptedRiskOther
  playbookInputQuery: null
  required: false
  value: {}
- description: The Jira project key to associate with the issue.
  key: JiraProjectKey
  playbookInputQuery: null
  required: true
  value:
    simple: XPANSE
name: Cortex ASM - ASM Alert
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5f74e3d4-a98b-4425-85ba-056b32a8c96b
      iscommand: false
      name: ""
      version: -1
    taskid: 5f74e3d4-a98b-4425-85ba-056b32a8c96b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 70,
          "y": -1400
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d8b21011-93d6-4b5c-82fa-bfa5b7bad044
      iscommand: false
      name: Complete
      type: title
      version: -1
    taskid: d8b21011-93d6-4b5c-82fa-bfa5b7bad044
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": 5260
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "171"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9c94a65b-ec31-4f84-8e53-238c0ba400e5
      iscommand: false
      name: Triage and Qualifier Stage
      type: title
      version: -1
    taskid: 9c94a65b-ec31-4f84-8e53-238c0ba400e5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": -1270
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0d81d9c5-0219-481c-8528-92313b69ea7f
      iscommand: false
      name: Enrichment Stage
      type: title
      version: -1
    taskid: 0d81d9c5-0219-481c-8528-92313b69ea7f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": -790
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "120"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e5e7b4c5-0f88-4bd3-88ce-bc09a3a38210
      iscommand: false
      name: Decision Stage
      type: title
      version: -1
    taskid: e5e7b4c5-0f88-4bd3-88ce-bc09a3a38210
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": 330
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "158"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a071ba68-f8dd-4b1e-8c26-715bcca10db8
      iscommand: false
      name: Notification Stage
      type: title
      version: -1
    taskid: a071ba68-f8dd-4b1e-8c26-715bcca10db8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 800,
          "y": 1570
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "86"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email
      id: fb2870a4-dd48-414b-8ac2-78bba34fac94
      iscommand: false
      name: Validation Stage
      type: title
      version: -1
    taskid: fb2870a4-dd48-414b-8ac2-78bba34fac94
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": 3055
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "167"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ac0cb11e-8dd0-4077-8c7e-573a63a23dc5
      iscommand: false
      name: Remediation Stage
      type: title
      version: -1
    taskid: ac0cb11e-8dd0-4077-8c7e-573a63a23dc5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -690,
          "y": 1540
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "93"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c0dc3a7c-5b0c-4057-87db-51092d522a9a
      iscommand: false
      name: Summarization Stage
      type: title
      version: -1
    taskid: c0dc3a7c-5b0c-4057-87db-51092d522a9a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": 3855
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: scanresult
                root: alert.asmservicedetection
                transformers:
                - operator: LastArrayElement
          operator: isEqualString
          right:
            value:
              simple: REMEDIATED
        - left:
            iscontext: true
            value:
              complex:
                accessor: outcome
                root: alert.asmremediation
          operator: isEqualString
          right:
            value:
              simple: Success
      label: "no"
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "no":
      - "135"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if service was still observable and also if automated
        remediation was done.
      id: 818dc0c5-4b28-42bd-81c5-09d85cf07d1f
      iscommand: false
      name: Service exposure still observable?
      type: condition
      version: -1
    taskid: 818dc0c5-4b28-42bd-81c5-09d85cf07d1f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 3350
        }
      }
  "21":
    continueonerrortype: ""
    form:
      description: The post migration Remediation Confirmation Scan wasn't conclusive.
        Decide the next steps.
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: If you know the issue has been remediated, choose to keep open and
            have next Xpanse scan auto-close or manually close now.
        options: []
        optionsarg:
        - simple: Close Now
        - simple: Wait to Auto-close
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: singleSelect
      sender: Your SOC team
      title: Select a next step
      totalanswers: 0
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: The post migration NMAP scan wasn't conclusive, decide next steps.
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "135"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if alert should be closed or kept open for auto-closure
        based on analyst input.
      id: cb99f386-4096-4789-8579-7e53fcb9d0df
      iscommand: false
      name: What to do if Remediation Confirmation Scan is inconclusive?
      type: collection
      version: -1
    taskid: cb99f386-4096-4789-8579-7e53fcb9d0df
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 310,
          "y": 3530
        }
      }
  "48":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: Automated remediation by restricting open ports
        - left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: Automated remediation by creating empty S3 bucket
      label: Automated remediation
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: Manual remediation
      label: Manual remediation
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: File a ServiceNow Ticket
      label: ServiceNow ticket
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: Send a notification email
      label: Notification email
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: File a Jira Ticket
      label: Jira ticket
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "88"
      Automated remediation:
      - "12"
      Jira ticket:
      - "156"
      Manual remediation:
      - "63"
      Notification email:
      - "60"
      ServiceNow ticket:
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines the next action (remediation or ticket) based on the
        previous data collection task.
      id: b676cc13-4dac-48aa-8221-0b52451cf9d4
      iscommand: false
      name: What was data collection task response?
      type: condition
      version: -1
    taskid: b676cc13-4dac-48aa-8221-0b52451cf9d4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 1315
        }
      }
  "50":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Please verify service exposure was resolved by service owner and
            mark "complete" when done:'
        options: []
        optionsarg:
        - simple: Yes, remediation complete
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: Your SOC team
      title: Verify that service exposure was resolved by service owner
      totalanswers: 0
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "72"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if manual remediation (by service owner or otherwise)
        was completed via analyst input.
      id: 7165c67a-9081-4cc6-8a6b-7719f190e23d
      iscommand: false
      name: Verify service exposure resolved by service owner
      type: collection
      version: -1
    taskid: 7165c67a-9081-4cc6-8a6b-7719f190e23d
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 800,
          "y": 2380
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "159"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5ca2243e-cf3d-4826-8225-669e58e56a12
      iscommand: false
      name: Notification Stage
      type: title
      version: -1
    taskid: 5ca2243e-cf3d-4826-8225-669e58e56a12
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 1500
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "88"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9bd4de64-7f73-4ba3-8b3c-8ec10cecdb0b
      iscommand: false
      name: Remediation Stage
      type: title
      version: -1
    taskid: 9bd4de64-7f73-4ba3-8b3c-8ec10cecdb0b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -270,
          "y": 1605
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmremediation
      keys:
        simple: action,actiontimestamp,outcome,outcometimestamp
      val1:
        simple: Manual remediation
      val2:
        complex:
          accessor: timestamp
          root: alert.asmdatacollection
      val3:
        simple: Manual remediation completed
      val4:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: c7ff010a-538b-4c51-8526-166c161f5b41
      iscommand: false
      name: Set remediation grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: c7ff010a-538b-4c51-8526-166c161f5b41
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": 2880
        }
      }
  "72":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: Manual remediation
      label: manual from data collection
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: RemediationAction
          operator: isEqualString
          right:
            value:
              simple: Manual
      label: manual from RPR
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "73"
      manual from RPR:
      - "103"
      manual from data collection:
      - "69"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if "manual remediation" was selected on main data collection
        task.
      id: e52a6e9a-0ca3-44ce-8b03-148f0f052d7c
      iscommand: false
      name: Manual remediation selected?
      type: condition
      version: -1
    taskid: e52a6e9a-0ca3-44ce-8b03-148f0f052d7c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 2650
        }
      }
  "73":
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmremediation
      keys:
        simple: action,actiontimestamp,outcome,outcometimestamp
      val1:
        complex:
          accessor: type
          root: alert.asmnotification
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Notified service owner via '
              suffix: {}
            operator: concat
      val2:
        complex:
          accessor: timestamp
          root: alert.asmnotification
      val3:
        simple: Resolved by service owner
      val4:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 54f1f028-be62-4e71-8e5e-94b00d27bc8f
      iscommand: false
      name: Set remediation grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 54f1f028-be62-4e71-8e5e-94b00d27bc8f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 850,
          "y": 2880
        }
      }
  "81":
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "136"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmalertsummary
      keys:
        simple: link,entryid
      val1:
        complex:
          accessor: server
          root: demistoUrls
          transformers:
          - args:
              prefix: {}
              suffix:
                value:
                  simple: /xsoar/entry/download/
            operator: concat
          - args:
              prefix: {}
              suffix:
                iscontext: true
                value:
                  simple: ${lastCompletedTaskEntries.[0]}
            operator: concat
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: '%40'
              toReplace:
                value:
                  simple: '@'
            operator: replace
      val2:
        complex:
          accessor: '[0]'
          root: lastCompletedTaskEntries
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: 392b206a-2ce0-4df7-8ea8-5de259a2c9dc
      iscommand: false
      name: Set alert summary grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 392b206a-2ce0-4df7-8ea8-5de259a2c9dc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": 4140
        }
      }
  "86":
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      ASMRuleID:
        complex:
          accessor: asmattacksurfaceruleid
          root: alert
      RemoteIP:
        complex:
          accessor: remoteip
          root: alert
      RemotePort:
        complex:
          accessor: remoteport
          root: alert
      ScanNumber:
        simple: "2"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Playbook that looks at what ASM sub-type the alert is and directs
        it to different pre/post mitigation scans (such as NMAP).
      id: 61952b89-0ee9-4d72-8e9a-85320b67134c
      iscommand: false
      name: Cortex ASM - Detect Service
      playbookId: Cortex ASM - Detect Service
      type: playbook
      version: -1
    taskid: 61952b89-0ee9-4d72-8e9a-85320b67134c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 70,
          "y": 3190
        }
      }
  "88":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Please complete manual remediation and mark "complete" when done:'
        options: []
        optionsarg:
        - simple: Yes, remediation complete
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: Your SOC team
      title: Verify that manual remediation was completed
      totalanswers: 0
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "133"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if manual remediation (by service owner or otherwise)
        was completed via analyst input.
      id: 37e5dd13-953f-442c-840f-c82be8227d2c
      iscommand: false
      name: Complete manual remediation
      type: collection
      version: -1
    taskid: 37e5dd13-953f-442c-840f-c82be8227d2c
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 70,
          "y": 2230
        }
      }
  "93":
    continueonerrortype: ""
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "81"
    note: false
    quietmode: 0
    scriptarguments:
      alert_details:
        complex:
          accessor: details
          root: alert
      alert_id:
        complex:
          accessor: id
          root: alert
      alert_name:
        complex:
          accessor: name
          root: alert
      alert_severityStr:
        complex:
          accessor: severityStr
          root: alert
      asm_asset_id:
        complex:
          accessor: asmassetid
          root: alert
      asm_cloud:
        complex:
          accessor: asmcloud
          root: alert
      asm_data_collection:
        complex:
          accessor: asmdatacollection
          root: alert
      asm_notification:
        complex:
          accessor: asmnotification
          root: alert
      asm_private_ip:
        complex:
          accessor: asmprivateip
          root: alert
      asm_related:
        complex:
          accessor: asmrelated
          root: alert
      asm_remediation:
        complex:
          accessor: asmremediation
          root: alert
      asm_remediation_path_rule:
        complex:
          accessor: asmremediationpathrule
          root: alert
      asm_service_detection:
        complex:
          accessor: asmservicedetection
          root: alert
      asm_service_id:
        complex:
          accessor: asmserviceid
          root: alert
      asm_service_owner:
        complex:
          accessor: asmserviceowner
          root: alert
      asm_system_ids:
        complex:
          accessor: asmsystemids
          root: alert
      asm_tags:
        complex:
          accessor: asmtags
          root: alert
      report_type:
        simple: summary
      retry-count:
        simple: "1"
      retry-interval:
        simple: "30"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Generate an ASM Alert Summary report.
      id: 0a9a40fd-49de-4c82-8dd8-0a06843aecdd
      iscommand: false
      name: GenerateSummaryReport - Summary
      script: GenerateASMReport
      type: regular
      version: -1
    taskid: 0a9a40fd-49de-4c82-8dd8-0a06843aecdd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": 3980
        }
      }
  "97":
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "125"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Used as a container folder for all enrichments of ASM alerts.
      id: a77560dd-fd29-4480-8067-e1e6bd9faa5e
      iscommand: false
      name: Cortex ASM - Enrichment
      playbookId: Cortex ASM - Enrichment
      type: playbook
      version: -1
    taskid: a77560dd-fd29-4480-8067-e1e6bd9faa5e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 70,
          "y": -660
        }
      }
  "103":
    continueonerrortype: ""
    id: "103"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmremediation
      keys:
        simple: action,actiontimestamp,outcome,outcometimestamp
      val1:
        simple: Manual remediation
      val2:
        complex:
          root: RPR_Timestamp
      val3:
        simple: Manual remediation completed
      val4:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 4d8fca4a-2d3b-454b-8d0f-aca40712c9da
      iscommand: false
      name: Set remediation grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 4d8fca4a-2d3b-454b-8d0f-aca40712c9da
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2880
        }
      }
  "110":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: outcome
                root: alert.asmremediation
          operator: isEqualString
          right:
            value:
              simple: Success
      - - left:
            iscontext: true
            value:
              complex:
                accessor: asmremediationpathrule
                root: alert
          operator: isNotEmpty
      label: Automated-Remediation With Rule Match
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: outcome
                root: alert.asmremediation
          operator: isEqualString
          right:
            value:
              simple: Success
      label: ' Automated-Remediation'
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: "0"
                root: Select a next step.Answers
          operator: isEqualString
          right:
            value:
              simple: Close Now
      - - left:
            iscontext: true
            value:
              complex:
                accessor: asmremediationpathrule
                root: alert
          operator: isNotEmpty
      label: Close Now With Rule Match
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: "0"
                root: Select a next step.Answers
          operator: isEqualString
          right:
            value:
              simple: Close Now
      label: Close Now
    continueonerrortype: ""
    id: "110"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      ' Automated-Remediation':
      - "112"
      '#default#':
      - "4"
      Automated-Remediation With Rule Match:
      - "114"
      Close Now:
      - "111"
      Close Now With Rule Match:
      - "113"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the alert will be closed or kept open.
      id: 022a3ead-e521-4e29-8c1e-3f3969041aab
      iscommand: false
      name: Close or keep open?
      type: condition
      version: -1
    taskid: 022a3ead-e521-4e29-8c1e-3f3969041aab
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 4470
        }
      }
  "111":
    continueonerrortype: ""
    id: "111"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: Alert status set to 'Resolved' by Active Response Module
      closeReason:
        simple: Resolved
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current alert because auto-close was selected.
      id: 286c6bf2-6631-4ff5-829e-402e4dad06f0
      iscommand: true
      name: Close alert (close now)
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 286c6bf2-6631-4ff5-829e-402e4dad06f0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -150,
          "y": 4790
        }
      }
  "112":
    continueonerrortype: ""
    id: "112"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: Alert status set to 'Resolved - Remediated Automatically' by Active
          Response Module
      closeReason:
        simple: Resolved - Remediated Automatically
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current alert because Automated Remediation path was
        selected.
      id: fa115b90-0879-44b2-89d9-563af80c467c
      iscommand: true
      name: Close alert (remediated automatically)
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: fa115b90-0879-44b2-89d9-563af80c467c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 290,
          "y": 4790
        }
      }
  "113":
    continueonerrortype: ""
    id: "113"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        complex:
          accessor: rule_name
          root: alert.asmremediationpathrule
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Alert status set to ''Resolved'' by Active Response Module
                    - Remediation Path Rule: '
              suffix: {}
            operator: concat
      closeReason:
        simple: Resolved
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current alert because auto-close was selected.
      id: f7dc6da9-017e-490a-8963-cdee6b81a0d2
      iscommand: true
      name: Close alert (close now) with rule match
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: f7dc6da9-017e-490a-8963-cdee6b81a0d2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -470,
          "y": 4650
        }
      }
  "114":
    continueonerrortype: ""
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        complex:
          accessor: rule_name
          root: alert.asmremediationpathrule
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Alert status set to ''Resolved - Remediated Automatically''
                    by Active Response Module - Remediation Path Rule: '
              suffix: {}
            operator: concat
      closeReason:
        simple: Resolved - Remediated Automatically
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current alert because Automated Remediation path was
        selected.
      id: d77e73aa-8d8b-4b74-8149-8a7a3074aaa2
      iscommand: true
      name: Close alert (remediated automatically) with rule match
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: d77e73aa-8d8b-4b74-8149-8a7a3074aaa2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 4660
        }
      }
  "120":
    continueonerrortype: ""
    id: "120"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "145"
    note: false
    quietmode: 0
    scriptarguments:
      BypassDevCheck:
        complex:
          root: inputs.BypassDevCheck
      ExternallyDetectedProviders:
        complex:
          accessor: externally_detected_providers
          root: ASM.ExternalService
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: af17322e-fdb3-4997-87b3-22b5bfb62627
      iscommand: false
      name: Cortex ASM - Remediation Path Rules
      playbookId: Cortex ASM - Remediation Path Rules
      type: playbook
      version: -1
    taskid: af17322e-fdb3-4997-87b3-22b5bfb62627
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 70,
          "y": 470
        }
      }
  "121":
    continueonerrortype: ""
    id: "121"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "123"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 38612ed4-9e45-487f-8197-c29ff4a6b1b8
      iscommand: false
      name: Analysis Stage
      type: title
      version: -1
    taskid: 38612ed4-9e45-487f-8197-c29ff4a6b1b8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": -335
        }
      }
  "123":
    continueonerrortype: ""
    id: "123"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "126"
    note: false
    quietmode: 0
    scriptarguments:
      alert_details:
        complex:
          accessor: details
          root: alert
      alert_id:
        complex:
          accessor: id
          root: alert
      alert_name:
        complex:
          accessor: name
          root: alert
      alert_severityStr:
        complex:
          accessor: severityStr
          root: alert
      asm_asset_id:
        complex:
          accessor: asmassetid
          root: alert
      asm_cloud:
        complex:
          accessor: asmcloud
          root: alert
      asm_data_collection:
        complex:
          accessor: asmdatacollection
          root: alert
      asm_notification:
        complex:
          accessor: asmnotification
          root: alert
      asm_private_ip:
        complex:
          accessor: asmprivateip
          root: alert
      asm_related:
        complex:
          accessor: asmrelated
          root: alert
      asm_remediation:
        complex:
          accessor: asmremediation
          root: alert
      asm_remediation_path_rule:
        complex:
          accessor: asmremediationpathrule
          root: alert
      asm_service_detection:
        complex:
          accessor: asmservicedetection
          root: alert
      asm_service_id:
        complex:
          accessor: asmserviceid
          root: alert
      asm_service_owner:
        complex:
          accessor: asmserviceowner
          root: alert
      asm_system_ids:
        complex:
          accessor: asmsystemids
          root: alert
      asm_tags:
        complex:
          accessor: asmtags
          root: alert
      report_type:
        simple: analysis
      retry-count:
        simple: "1"
      retry-interval:
        simple: "30"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Generate an ASM Alert Summary report.
      id: f0961cac-382a-4132-826c-221a31f9c399
      iscommand: false
      name: GenerateSummaryReport - Analysis
      script: GenerateASMReport
      type: regular
      version: -1
    taskid: f0961cac-382a-4132-826c-221a31f9c399
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": -200
        }
      }
  "124":
    continueonerrortype: ""
    id: "124"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: triage
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 53703150-25d1-4be1-835a-aa734d3f8aa9
      iscommand: false
      name: Set playbook stage grid field (triage)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 53703150-25d1-4be1-835a-aa734d3f8aa9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": -960
        }
      }
  "125":
    continueonerrortype: ""
    id: "125"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "121"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: enrichment
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: df13515c-2392-457d-82b1-b258d763ddb0
      iscommand: false
      name: Set playbook stage grid field (enrichment)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: df13515c-2392-457d-82b1-b258d763ddb0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": -495
        }
      }
  "126":
    continueonerrortype: ""
    id: "126"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "144"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: analysis
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: da4035eb-9c45-42e1-8b0d-eb1beb90162c
      iscommand: false
      name: Set playbook stage grid field (analysis)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: da4035eb-9c45-42e1-8b0d-eb1beb90162c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": -40
        }
      }
  "128":
    continueonerrortype: ""
    id: "128"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: decision
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 2ce7d3ac-037c-435a-861e-ac7c4b8ced75
      iscommand: false
      name: Set playbook stage grid field (decision)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 2ce7d3ac-037c-435a-861e-ac7c4b8ced75
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -270,
          "y": 1180
        }
      }
  "129":
    continueonerrortype: ""
    id: "129"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: decision
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 8fc5f50c-6e63-4f3c-8f03-ad76858a5bf5
      iscommand: false
      name: Set playbook stage grid field (decision)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 8fc5f50c-6e63-4f3c-8f03-ad76858a5bf5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -700,
          "y": 1120
        }
      }
  "130":
    continueonerrortype: ""
    id: "130"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: decision
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: ec56d4d3-4300-44dd-8957-2c0640083e60
      iscommand: false
      name: Set playbook stage grid field (decision)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: ec56d4d3-4300-44dd-8957-2c0640083e60
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 800,
          "y": 1105
        }
      }
  "131":
    continueonerrortype: ""
    id: "131"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: decision
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: c4188137-abdc-4b2c-88c0-8316bf2497b6
      iscommand: false
      name: Set playbook stage grid field (decision)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: c4188137-abdc-4b2c-88c0-8316bf2497b6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 1025
        }
      }
  "133":
    continueonerrortype: ""
    id: "133"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "72"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: remediation
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: a349116c-5449-4126-8446-39d00e264815
      iscommand: false
      name: Set playbook stage grid field (remediation)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: a349116c-5449-4126-8446-39d00e264815
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": 2400
        }
      }
  "134":
    continueonerrortype: ""
    id: "134"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: notification
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: a25729fa-3d59-4c90-883d-f7db1542f40a
      iscommand: false
      name: Set playbook stage grid field (notification)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: a25729fa-3d59-4c90-883d-f7db1542f40a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 800,
          "y": 1965
        }
      }
  "135":
    continueonerrortype: ""
    id: "135"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: validation
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 889ce0c5-7074-4de2-85c6-d20a5692ec02
      iscommand: false
      name: Set playbook stage grid field (validation)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 889ce0c5-7074-4de2-85c6-d20a5692ec02
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": 3700
        }
      }
  "136":
    continueonerrortype: ""
    id: "136"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "110"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: summarization
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 15091cc5-e845-4199-852c-5a3efe22b013
      iscommand: false
      name: Set playbook stage grid field (summarization)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 15091cc5-e845-4199-852c-5a3efe22b013
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": 4310
        }
      }
  "141":
    continueonerrortype: ""
    id: "141"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "142"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3377b622-c50e-4291-8d98-596fd94f7aac
      iscommand: false
      name: continue
      type: title
      version: -1
    taskid: 3377b622-c50e-4291-8d98-596fd94f7aac
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1110,
          "y": 995
        }
      }
  "142":
    continueonerrortype: ""
    id: "142"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: Alert status set to 'Resolved - Risk Accepted' by Active Response
          Module
      closeReason:
        simple: Resolved - Risk Accepted
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current alert because the service is no longer observed.
      id: 15c3d3b8-c30f-4eed-81b7-6c8b63cb11c7
      iscommand: true
      name: Close alert (accepted risk)
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 15c3d3b8-c30f-4eed-81b7-6c8b63cb11c7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -920,
          "y": 4650
        }
      }
  "144":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: id
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmsystemids.type
                    operator: isEqualString
                    right:
                      value:
                        simple: ASSET-ID
                root: alert.asmsystemids
          operator: inList
          right:
            iscontext: true
            value:
              complex:
                root: inputs.AcceptedRiskDs
        - left:
            iscontext: true
            value:
              complex:
                accessor: id
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmsystemids.type
                    operator: isEqualString
                    right:
                      value:
                        simple: GCP-Project-Number
                root: alert.asmsystemids
          operator: inList
          right:
            iscontext: true
            value:
              complex:
                root: inputs.AcceptedRiskProjects
        - left:
            iscontext: true
            value:
              complex:
                accessor: project
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmcloud.provider
                    operator: isEqualString
                    right:
                      value:
                        simple: AWS
                root: alert.asmcloud
          operator: inList
          right:
            iscontext: true
            value:
              complex:
                root: inputs.AcceptedRiskProjects
        - left:
            iscontext: true
            value:
              complex:
                accessor: id
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmsystemids.type
                    operator: isEqualString
                    right:
                      value:
                        simple: GCP-Folder-Number
                root: alert.asmsystemids
          operator: inList
          right:
            iscontext: true
            value:
              complex:
                root: inputs.AcceptedRiskOther
        - left:
            iscontext: true
            value:
              complex:
                accessor: organization
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmcloud.provider
                    operator: isEqualString
                    right:
                      value:
                        simple: Azure
                root: alert.asmcloud
          operator: inList
          right:
            iscontext: true
            value:
              complex:
                root: inputs.AcceptedRiskOther
      label: "yes"
    continueonerrortype: ""
    id: "144"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "141"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the system IDs, folders, and projects are present in
        the accepted risk lists.
      id: 498b02e9-c216-483b-8fb0-f375ff9f45d0
      iscommand: false
      name: Are there any matches from accepted risk lists?
      type: condition
      version: -1
    taskid: 498b02e9-c216-483b-8fb0-f375ff9f45d0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 120
        }
      }
  "145":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: RemediationAction
          operator: isEqualString
          right:
            value:
              simple: AR
      label: Automated Remediation
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: RemediationAction
          operator: isEqualString
          right:
            value:
              simple: SNOW
      label: ServiceNow Ticket
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: RemediationAction
          operator: isEqualString
          right:
            value:
              simple: Email
      label: Notification Email
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: RemediationAction
          operator: isEqualString
          right:
            value:
              simple: Manual
      label: Manual Remediation
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: RemediationAction
          operator: isEqualString
          right:
            value:
              simple: Jira
      label: Jira Ticket
    continueonerrortype: ""
    id: "145"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "48"
      Automated Remediation:
      - "146"
      Jira Ticket:
      - "161"
      Manual Remediation:
      - "152"
      Notification Email:
      - "163"
      ServiceNow Ticket:
      - "162"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines what the remediation action is (direct action or data
        collection task).
      id: 93018e08-34f3-48a6-8e62-2fd6a2b9122a
      iscommand: false
      name: What is the remediation action?
      type: condition
      version: -1
    taskid: 93018e08-34f3-48a6-8e62-2fd6a2b9122a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 660
        }
      }
  "146":
    continueonerrortype: ""
    id: "146"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "129"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d8033440-ad22-42db-8b46-2a3746edb2c7
      iscommand: false
      name: Automated Remediation
      type: title
      version: -1
    taskid: d8033440-ad22-42db-8b46-2a3746edb2c7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -700,
          "y": 995
        }
      }
  "152":
    continueonerrortype: ""
    id: "152"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "128"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a7200b67-7995-492a-8e56-740fe7693581
      iscommand: false
      name: Manual Remediation
      type: title
      version: -1
    taskid: a7200b67-7995-492a-8e56-740fe7693581
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -270,
          "y": 1050
        }
      }
  "154":
    continueonerrortype: ""
    id: "154"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "134"
    note: false
    quietmode: 0
    scriptarguments:
      JiraProjectKey:
        complex:
          root: inputs.JiraProjectKey
      OwnerNotificationBody:
        complex:
          root: inputs.OwnerNotificationBody
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook is used to direct Jira tickets to service owners
        to notify them of their internet exposures.
      id: 01661a90-d299-4a94-8545-2c29245b3aaa
      iscommand: false
      name: Cortex ASM - Jira Notification
      playbookId: Cortex ASM - Jira Notification
      type: playbook
      version: -1
    taskid: 01661a90-d299-4a94-8545-2c29245b3aaa
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 370,
          "y": 1760
        }
      }
  "156":
    continueonerrortype: ""
    id: "156"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "154"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e6407346-0b25-49ef-808c-210070e356c3
      iscommand: false
      name: Notification Stage
      type: title
      version: -1
    taskid: e6407346-0b25-49ef-808c-210070e356c3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 370,
          "y": 1630
        }
      }
  "157":
    continueonerrortype: ""
    id: "157"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "156"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: decision
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: fc927b90-0fc6-40d3-8f08-c53e6ea4961b
      iscommand: false
      name: Set playbook stage grid field (decision)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: fc927b90-0fc6-40d3-8f08-c53e6ea4961b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 370,
          "y": 1175
        }
      }
  "158":
    continueonerrortype: ""
    id: "158"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "134"
    note: false
    quietmode: 0
    scriptarguments:
      OwnerNotificationBody:
        complex:
          root: inputs.OwnerNotificationBody
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook is used to direct ServiceNow tickets to service owners
        to notify them of their internet exposures.
      id: 945cf396-8f46-4b7a-8c7f-3a90dbfd1af1
      iscommand: false
      name: Cortex ASM - ServiceNow Notification
      playbookId: Cortex ASM - ServiceNow Notification
      type: playbook
      version: -1
    taskid: 945cf396-8f46-4b7a-8c7f-3a90dbfd1af1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 800,
          "y": 1700
        }
      }
  "159":
    continueonerrortype: ""
    id: "159"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "134"
    note: false
    quietmode: 0
    scriptarguments:
      OwnerNotificationBody:
        complex:
          root: inputs.OwnerNotificationBody
      OwnerNotificationSubject:
        complex:
          root: inputs.OwnerNotificationSubject
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook is used to send email notifications to service owners
        to notify them of their internet exposures.
      id: a0fd44d7-b931-452b-83d2-4894b2cae813
      iscommand: false
      name: Cortex ASM - Email Notification
      playbookId: Cortex ASM - Email Notification
      type: playbook
      version: -1
    taskid: a0fd44d7-b931-452b-83d2-4894b2cae813
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 1635
        }
      }
  "161":
    continueonerrortype: ""
    id: "161"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "157"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9dc364d1-ce5f-4e1f-8bb6-0106976c4b43
      iscommand: false
      name: Jira Ticket
      type: title
      version: -1
    taskid: 9dc364d1-ce5f-4e1f-8bb6-0106976c4b43
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 370,
          "y": 1040
        }
      }
  "162":
    continueonerrortype: ""
    id: "162"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "130"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3cb0f4fe-dc9b-4a2d-8673-961d856bd846
      iscommand: false
      name: ServiceNow Ticket
      type: title
      version: -1
    taskid: 3cb0f4fe-dc9b-4a2d-8673-961d856bd846
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 800,
          "y": 970
        }
      }
  "163":
    continueonerrortype: ""
    id: "163"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "131"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e1226618-4fba-46d7-8df3-812766ac1bcc
      iscommand: false
      name: Email Notification
      type: title
      version: -1
    taskid: e1226618-4fba-46d7-8df3-812766ac1bcc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 890
        }
      }
  "164":
    continueonerrortype: ""
    id: "164"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "168"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmremediation
      keys:
        simple: action,actiontimestamp,outcome,outcometimestamp
      val1:
        simple: close service port from internet
      val2:
        simple: TIMESTAMP
      val3:
        simple: Success
      val4:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 694a0e4c-78bf-48e0-83da-27bd08d3a597
      iscommand: false
      name: Set remediation grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 694a0e4c-78bf-48e0-83da-27bd08d3a597
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -690,
          "y": 1860
        }
      }
  "165":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: email
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmserviceowner.email
                    operator: containsGeneral
                    right:
                      value:
                        simple: '@'
                root: alert.asmserviceowner
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "165"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "166"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verifies if we have emails for service owners.
      id: 9766e878-ca17-4ede-8edc-d52a85f50572
      iscommand: false
      name: Are there service owners with emails?
      type: condition
      version: -1
    taskid: 9766e878-ca17-4ede-8edc-d52a85f50572
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -690,
          "y": 2210
        }
      }
  "166":
    continueonerrortype: ""
    id: "166"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "169"
    note: false
    quietmode: 0
    scriptarguments:
      htmlBody:
        complex:
          root: inputs.RemediationNotificationHTMLBody
      subject:
        complex:
          root: inputs.RemediationNotificationSubject
      to:
        complex:
          accessor: email
          filters:
          - - left:
                iscontext: true
                value:
                  simple: alert.asmserviceowner.email
              operator: containsGeneral
              right:
                value:
                  simple: '@'
          root: alert.asmserviceowner
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email to service owners regarding the status of the automated
        remediation action that was taken.
      id: 65ff4507-e0b4-45cf-8eb7-093c23437b3d
      iscommand: true
      name: Send remediation notification email to service owners
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 65ff4507-e0b4-45cf-8eb7-093c23437b3d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -810,
          "y": 2440
        }
      }
  "167":
    continueonerrortype: ""
    id: "167"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "164"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook contains all the cloud provider sub-playbooks for
        remediation.
      id: 5ed915a6-10ec-457e-82e1-e43fce2fbd20
      iscommand: false
      name: Cortex ASM - Remediation
      playbookId: Cortex ASM - Remediation
      type: playbook
      version: -1
    taskid: 5ed915a6-10ec-457e-82e1-e43fce2fbd20
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -690,
          "y": 1685
        }
      }
  "168":
    continueonerrortype: ""
    id: "168"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "165"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: remediation
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: b8c22c39-7ffa-45cd-820a-ecf45a7c404d
      iscommand: false
      name: Set playbook stage grid field (remediation)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: b8c22c39-7ffa-45cd-820a-ecf45a7c404d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -690,
          "y": 2040
        }
      }
  "169":
    continueonerrortype: ""
    id: "169"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: notification
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 5d8aa595-66bd-4d5b-8f7f-9f8904a95359
      iscommand: false
      name: Set playbook stage grid field (notification)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 5d8aa595-66bd-4d5b-8f7f-9f8904a95359
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -810,
          "y": 2600
        }
      }
  "171":
    continueonerrortype: ""
    id: "171"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "124"
    note: false
    quietmode: 0
    scriptarguments:
      asmalertsummary:
        simple: '[]'
      asmcloud:
        simple: '[]'
      asmdatacollection:
        simple: '[]'
      asmdevcheckdetails:
        simple: '[]'
      asmenrichmentstatus:
        simple: '[]'
      asmnotification:
        simple: '[]'
      asmplaybookstage:
        simple: '[]'
      asmprivateip:
        simple: '[]'
      asmremediation:
        simple: '[]'
      asmremediationobjectives:
        simple: '[{"option": "File a ServiceNow Ticket", "statement": "In this case,
          a ServiceNow ticket will be created with some information on the alert and
          possible remediation guidance suggestions."},{"option": "File a Jira Ticket",
          "statement": "In this case, a Jira ticket will be created with some information
          on the alert and possible remediation guidance suggestions."},{"option":
          "Send a notification email", "statement": "In this case, an email ticket
          will be created with some information on the alert and possible remediation
          guidance suggestions."},{"option": "Manual remediation", "statement": "In
          this case, we will require you to manually remediate this exposure."}]'
      asmremediationpathrule:
        simple: '[]'
      asmservicedetection:
        simple: '[]'
      asmserviceowner:
        simple: '[]'
      asmserviceownerunrankedraw:
        simple: '[]'
      asmsystemids:
        simple: '[]'
      asmtags:
        simple: '[]'
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Clear ASM grid fields in case the playbook is rerun.
      id: fe9fb336-9093-4cd5-8858-7e026f3a049c
      iscommand: true
      name: Initialize grid fields
      script: Builtin|||setAlert
      type: regular
      version: -1
    taskid: fe9fb336-9093-4cd5-8858-7e026f3a049c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": -1130
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "110_111_Close Now": 0.88,
      "110_112_ Automated-Remediation": 0.88,
      "145_152_Manual Remediation": 0.68,
      "145_161_Jira Ticket": 0.87,
      "145_163_Notification Email": 0.74,
      "20_135_no": 0.53,
      "48_10_ServiceNow ticket": 0.82,
      "48_60_Notification email": 0.88,
      "48_63_Manual remediation": 0.52
    },
    "paper": {
      "dimensions": {
        "height": 6725,
        "width": 2710,
        "x": -1110,
        "y": -1400
      }
    }
  }
