playbook/playbook-IOC_Alert.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    itemVersion: 3.0.20
    packID: Core
    packName: Core - Investigation and Response
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: "IOCs provide the ability to alert on known malicious objects on endpoints
  across the organization. \n\n**Analysis Actions:**\nThe playbook will use several
  enrichment sources to determine the IOC verdict. Additionally, will use the Analytics
  module to run a prevalence check for the IOC.\n\n**Response Actions:**\nThe playbook's
  first response action is a containment plan that is based on the playbook input.
  In that phase, the playbook will execute endpoint isolation\n\n**Investigative Actions:**\nWhen
  the playbook executes, it checks for additional abnormal activity using the Endpoint
  Investigation Plan playbook that can indicate the endpoint might be compromised.\n\n**Remediation
  Actions:**\nIn case results are found within the investigation phase, the playbook
  will execute remediation actions that include containment and eradication.\n\nThis
  phase will execute the following containment actions:\n\n* File quarantine\n* Endpoint
  isolation\n\nAnd the following eradication actions:\n\n* Manual process termination\n*
  Manual file deletion"
id: IOC Alert
inputSections:
- description: Alert management settings and data, including escalation processes,
    and user engagements.
  inputs:
  - ShouldCloseAutomatically
  - ShouldHandleFPautomatically
  name: Alert Management
- description: Remediation settings and data, including containment, eradication,
    and recovery.
  inputs:
  - PreHostContainment
  - AutoEradication
  - AutoContainment
  - BlockIndicatorsAutomatically
  - FileRemediation
  - AutoRestoreEndpoint
  name: Remediation
- description: Ticket management settings and data.
  inputs:
  - ShouldOpenTicket
  - serviceNowShortDescription
  - serviceNowImpact
  - serviceNowUrgency
  - serviceNowSeverity
  - serviceNowTicketType
  - serviceNowCategory
  - serviceNowAssignmentGroup
  - ZendeskPriority
  - ZendeskRequester
  - ZendeskStatus
  - ZendeskSubject
  - ZendeskTags
  - ZendeskType
  - ZendeskAssigne
  - ZendeskCollaborators
  - description
  - addCommentPerEndpoint
  - CommentToAdd
  name: Ticket Management
inputs:
- description: Whether to block suspicious/malicious indicators automatically. Specify
    True/False.
  key: BlockIndicatorsAutomatically
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether to close the alert automatically if it's established verdict
    is False Positive. Specify True/False.
  key: ShouldCloseAutomatically
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Whether to isolate the host before the investigation phase in case
    an IOC was found to be suspicious. Specify True/False.
  key: PreHostContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether to automatically handle false positive alerts. Specify true/false.
  key: ShouldHandleFPautomatically
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether to execute the Recovery playbook. Specify True/False.
  key: AutoRestoreEndpoint
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Setting this input will impact both Containment Plan sub-playbooks. Without setting this input, the default values are True for the first occurrence and False for the second.
    Whether to execute automatically or manually the containment plan tasks:
    * Isolate endpoint
    * Block indicators
    * Quarantine file
    * Disable user
    Specify True/False.
  key: AutoContainment
  playbookInputQuery: null
  required: false
  value: {}
- description: Should be either 'Quarantine' or 'Delete'.
  key: FileRemediation
  playbookInputQuery: null
  required: false
  value:
    simple: Quarantine
- description: |-
    Whether to execute automatically or manually the eradication plan tasks:
    * Terminate process
    * Delete file
    * Reset the user's password
    Specify True/False.
  key: AutoEradication
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether to open a ticket automatically in a ticketing system. (True/False).
  key: ShouldOpenTicket
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: A short description of the ticket.
  key: serviceNowShortDescription
  playbookInputQuery: null
  required: false
  value:
    simple: XSIAM Incident ID - ${parentIncidentFields.incident_id}
- description: The impact for the new ticket. Leave empty for ServiceNow default impact.
  key: serviceNowImpact
  playbookInputQuery: null
  required: false
  value: {}
- description: The urgency of the new ticket. Leave empty for ServiceNow default urgency.
  key: serviceNowUrgency
  playbookInputQuery: null
  required: false
  value: {}
- description: The severity of the new ticket. Leave empty for ServiceNow default
    severity.
  key: serviceNowSeverity
  playbookInputQuery: null
  required: false
  value: {}
- description: The ServiceNow ticket type. Options are "incident", "problem", "change_request",
    "sc_request", "sc_task", or "sc_req_item". Default is "incident".
  key: serviceNowTicketType
  playbookInputQuery: null
  required: false
  value: {}
- description: The category of the ServiceNow ticket.
  key: serviceNowCategory
  playbookInputQuery: null
  required: false
  value: {}
- description: The group to which to assign the new ticket.
  key: serviceNowAssignmentGroup
  playbookInputQuery: null
  required: false
  value: {}
- description: The urgency with which the ticket should be addressed. Allowed values
    are "urgent", "high", "normal", or "low".
  key: ZendeskPriority
  playbookInputQuery: null
  required: false
  value: {}
- description: The user who requested this ticket.
  key: ZendeskRequester
  playbookInputQuery: null
  required: false
  value: {}
- description: The state of the ticket. Allowed values are "new", "open", "pending",
    "hold", "solved", or "closed".
  key: ZendeskStatus
  playbookInputQuery: null
  required: false
  value: {}
- description: The value of the subject field for this ticket.
  key: ZendeskSubject
  playbookInputQuery: null
  required: false
  value:
    simple: XSIAM Incident ID - ${parentIncidentFields.incident_id}
- description: The array of tags applied to this ticket.
  key: ZendeskTags
  playbookInputQuery: null
  required: false
  value: {}
- description: The type of this ticket. Allowed values are "problem", "incident",
    "question", or "task".
  key: ZendeskType
  playbookInputQuery: null
  required: false
  value: {}
- description: The agent currently assigned to the ticket.
  key: ZendeskAssigne
  playbookInputQuery: null
  required: false
  value: {}
- description: The users currently CC'ed on the ticket.
  key: ZendeskCollaborators
  playbookInputQuery: null
  required: false
  value: {}
- description: The ticket description.
  key: description
  playbookInputQuery: null
  required: false
  value:
    simple: ${parentIncidentFields.description}. ${parentIncidentFields.xdr_url}
- description: 'Whether to append a new comment to the  ticket for each endpoint in
    the incident. Possible values: True/False.'
  key: addCommentPerEndpoint
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Comment for the ticket.
  key: CommentToAdd
  playbookInputQuery: null
  required: false
  value:
    simple: '${alert.name}. Alert ID: ${alert.id}'
name: IOC Alert
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6e568fda-d217-4f3c-8a2e-b88b0d7ce2cf
      iscommand: false
      name: ""
      version: -1
    taskid: 6e568fda-d217-4f3c-8a2e-b88b0d7ce2cf
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 410,
          "y": -110
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: IPVerdict
          operator: isEqualString
          right:
            value:
              simple: Suspicious
        - left:
            iscontext: true
            value:
              complex:
                root: FileVerdict
          operator: isEqualString
          right:
            value:
              simple: Suspicious
        - left:
            iscontext: true
            value:
              complex:
                root: DomainVerdict
          operator: isEqualString
          right:
            value:
              simple: Suspicious
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: value
                root: Core.AnalyticsPrevalence.Ip
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: Core.AnalyticsPrevalence.Hash.value
                  operator: append
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: Core.AnalyticsPrevalence.Domain.value
                  operator: append
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: Core.AnalyticsPrevalence.Process.value
                  operator: append
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: Core.AnalyticsPrevalence.Registry.value
                  operator: append
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: Core.AnalyticsPrevalence.Cmd.value
                  operator: append
          operator: containsString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "76"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if any suspicious IOCs were found to continue with the alert
        investigation.
      id: e0f81dd8-c1b5-4641-80c2-d06d57e246e9
      iscommand: false
      name: Found suspicious IOC?
      type: condition
      version: -1
    taskid: e0f81dd8-c1b5-4641-80c2-d06d57e246e9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 410,
          "y": 530
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "69"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 247d2a4d-60bd-4ba6-8ced-d54cb5dfd5d0
      iscommand: false
      name: Handle False Positive
      type: title
      version: -1
    taskid: 247d2a4d-60bd-4ba6-8ced-d54cb5dfd5d0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -230,
          "y": 745
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8984e9bb-8b45-430a-8397-509e2865c466
      iscommand: false
      name: Investigation
      type: title
      version: -1
    taskid: 8984e9bb-8b45-430a-8397-509e2865c466
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 410,
          "y": 1210
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b1098495-80b3-4450-80fe-79f14e84a9f4
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: b1098495-80b3-4450-80fe-79f14e84a9f4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 410,
          "y": 3720
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "44"
      "yes":
      - "60"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Asks the user whether the alert investigation should continue.
      id: b772f110-939d-4f2b-8850-088e8cf36343
      iscommand: false
      name: Should continue with the investigation?
      type: condition
      version: -1
    taskid: b772f110-939d-4f2b-8850-088e8cf36343
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 410,
          "y": 2530
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Continue with the alert investigation.
      id: a0697551-115b-4674-8204-ba39af9247f5
      iscommand: false
      name: Continue with the alert investigation
      type: regular
      version: -1
    taskid: a0697551-115b-4674-8204-ba39af9247f5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 710,
          "y": 2700
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c4e0656d-a1b2-4166-850e-4faa6e06a6c9
      iscommand: false
      name: 'Analysis '
      type: title
      version: -1
    taskid: c4e0656d-a1b2-4166-850e-4faa6e06a6c9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 410,
          "y": 40
        }
      }
  "54":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: foundIncidents
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "83"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if relevant information was found.
      id: eedbc660-cd5d-4fa8-8b6b-c6ad6acba120
      iscommand: false
      name: Found relevant information?
      type: condition
      version: -1
    taskid: eedbc660-cd5d-4fa8-8b6b-c6ad6acba120
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 410,
          "y": 1540
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "73"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6428ba34-883b-45cf-8c12-f8411f434de7
      iscommand: false
      name: Recovery
      type: title
      version: -1
    taskid: 6428ba34-883b-45cf-8c12-f8411f434de7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 410,
          "y": 2870
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      CloseReason:
        simple: Resolved - False Positive,Resolved - Duplicate Incident,Resolved -
          Known Issue
      Domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
      FileSHA256:
        complex:
          accessor: File
          root: ExtractedIndicators
      IP:
        complex:
          accessor: IP
          root: ExtractedIndicators
      URL:
        complex:
          accessor: URL
          root: ExtractedIndicators
      query:
        simple: sourceBrand:"${alert.sourceBrand}" and name:"${alert.name}"
      threshold:
        simple: "5"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook checks prior alert closing reasons and performs enrichment
        and prevalence checks on different IOC types. It then returns the information
        needed to establish the alert's verdict.
      id: d28beff8-6a1a-47ab-8fe9-f894e9a17cfc
      iscommand: false
      name: Enrichment for Verdict
      playbookId: Enrichment for Verdict
      type: playbook
      version: -1
    taskid: d28beff8-6a1a-47ab-8fe9-f894e9a17cfc
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 410,
          "y": 340
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      AutoContainment:
        complex:
          root: inputs.BlockIndicatorsAutomatically
          transformers:
          - args:
              applyIfEmpty:
                value:
                  simple: "false"
              defaultValue:
                value:
                  simple: "false"
            operator: SetIfEmpty
      BlockIndicators:
        simple: "False"
      ClearUserSessions:
        simple: "False"
      EndpointID:
        complex:
          accessor: agentid
          root: alert
      FileContainment:
        simple: "False"
      FileRemediation:
        simple: Quarantine
      HostContainment:
        simple: "True"
      UserContainment:
        simple: "False"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook handles all the containment actions available with
        Cortex XSIAM, including:  \n* Isolate endpoint\n* Disable account\n* Quarantine
        file\n* Block indicators\n* Clear user session (currently, the playbook supports
        only Okta)\n\nNote: The playbook inputs enable manipulating the execution
        flow. Read the input descriptions for details."
      id: 42c60c2c-36bc-43db-8a99-2120db91b67c
      iscommand: false
      name: Containment Plan
      playbookId: Containment Plan
      type: playbook
      version: -1
    taskid: 42c60c2c-36bc-43db-8a99-2120db91b67c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 660,
          "y": 1040
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "54"
    note: false
    quietmode: 0
    scriptarguments:
      HuntCnCTechniques:
        simple: "True"
      HuntCollectionTechniques:
        simple: "True"
      HuntDefenseEvasionTechniques:
        simple: "True"
      HuntDiscoveryTechniques:
        simple: "True"
      HuntExecutionTechniques:
        simple: "True"
      HuntImpactTechniques:
        simple: "True"
      HuntInitialAccessTechniques:
        simple: "True"
      HuntLateralMovementTechniques:
        simple: "True"
      HuntPersistenceTechniques:
        simple: "True"
      HuntPrivilegeEscalationTechniques:
        simple: "True"
      HuntReconnaissanceTechniques:
        simple: "True"
      agentID:
        complex:
          accessor: agentid
          root: alert
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook handles all the endpoint investigation actions available
        with Cortex XSIAM, including the following tasks:\n* Pre-defined MITRE Tactics\n*
        Host fields (Host ID)\n* Attacker fields (Attacker IP, External host)\n* MITRE
        techniques\n* File hash (currently, the playbook supports only SHA256)  \n\nNote:
        The playbook inputs enable manipulating the execution flow. Read the input
        descriptions for details."
      id: 323c4f4e-36a1-4cc9-8c31-d54582ed410e
      iscommand: false
      name: Endpoint Investigation Plan
      playbookId: Endpoint Investigation Plan
      type: playbook
      version: -1
    taskid: 323c4f4e-36a1-4cc9-8c31-d54582ed410e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 410,
          "y": 1365
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    scriptarguments:
      FileSHA256:
        complex:
          accessor: initiatorsha256
          root: alert
      IOC:
        complex:
          accessor: name
          root: alert
          transformers:
          - args:
              flags: {}
              groups:
                value:
                  simple: "0"
              keys: {}
              regex:
                value:
                  simple: IOC\s+\((.*)\)
            operator: RegexGroups
      ShouldCloseAutomatically:
        complex:
          root: inputs.ShouldCloseAutomatically
      ShouldHandleFPautomatically:
        complex:
          root: inputs.ShouldHandleFPautomatically
      alertName:
        complex:
          accessor: name
          root: alert
      sourceIP:
        complex:
          accessor: hostip
          root: alert
      username:
        complex:
          accessor: username
          root: alert
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |
        This playbook handles false positive alerts.
        It creates an alert exclusion or alert exception, or adds a file to an allow list based on the alert fields and playbook inputs.
      id: 5b77fe0b-f78b-4604-868e-a574e916afd1
      iscommand: false
      name: Handle False Positive Alerts
      playbookId: Handle False Positive Alerts
      type: playbook
      version: -1
    taskid: 5b77fe0b-f78b-4604-868e-a574e916afd1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -230,
          "y": 880
        }
      }
  "72":
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: Resolved - Threat Handled
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Closes the alert in Cortex XSIAM.
      id: b7c41b05-77b0-435c-885e-015688350d6c
      iscommand: true
      name: close alert
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: b7c41b05-77b0-435c-885e-015688350d6c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 750,
          "y": 3540
        }
      }
  "73":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoRestoreEndpoint
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "74"
      "yes":
      - "75"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if it should release the affected endpoint from isolation.
      id: af811990-e3b5-4329-804d-b3c43a770f55
      iscommand: false
      name: Should restore affected endpoint?
      type: condition
      version: -1
    taskid: af811990-e3b5-4329-804d-b3c43a770f55
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 410,
          "y": 3005
        }
      }
  "74":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.ShouldCloseAutomatically
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "37"
      "yes":
      - "72"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to close the alert automatically or manually.
      id: 3529adf2-dc0d-40b4-8dae-2cf84c2d7641
      iscommand: false
      name: Should close alert automatically?
      type: condition
      version: -1
    taskid: 3529adf2-dc0d-40b4-8dae-2cf84c2d7641
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 410,
          "y": 3360
        }
      }
  "75":
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "74"
    note: false
    quietmode: 0
    scriptarguments:
      endpointID:
        complex:
          accessor: agentid
          root: alert
      releaseFile:
        simple: "false"
      unIsolateEndpoint:
        simple: "true"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the recovery actions available with Cortex XSIAM, including the following tasks:
        * Unisolate endpoint
        * Restore quarantined file

        Note: The playbook inputs enable manipulating the execution flow. Read the input descriptions for details.
      id: d36e9607-9c96-4688-8d3f-65bb37739224
      iscommand: false
      name: Recovery Plan
      playbookId: Recovery Plan
      type: playbook
      version: -1
    taskid: d36e9607-9c96-4688-8d3f-65bb37739224
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 760,
          "y": 3180
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "77"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b80d75a1-dc20-4414-88cf-3884b5831def
      iscommand: false
      name: Pre-Investigation Containment
      type: title
      version: -1
    taskid: b80d75a1-dc20-4414-88cf-3884b5831def
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 410,
          "y": 745
        }
      }
  "77":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.PreHostContainment
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether to isolate the host after the investigation phase.
      id: c2cbe10d-8222-4923-89bf-affca982e631
      iscommand: false
      name: Should run pre-investigation containment?
      type: condition
      version: -1
    taskid: c2cbe10d-8222-4923-89bf-affca982e631
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 410,
          "y": 870
        }
      }
  "79":
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "80"
      - "81"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a6324b2e-b539-433e-839c-7bdd2bb90f68
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: a6324b2e-b539-433e-839c-7bdd2bb90f68
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 870,
          "y": 2220
        }
      }
  "80":
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      AutoContainment:
        complex:
          root: inputs.AutoContainment
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "false"
            operator: SetIfEmpty
      BlockIndicators:
        simple: "False"
      ClearUserSessions:
        simple: "True"
      EndpointID:
        complex:
          accessor: agentid
          root: alert
      FileContainment:
        simple: "True"
      FileHash:
        complex:
          accessor: initiatorsha256
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.initiatorpath
              operator: isNotEqualString
              right:
                value:
                  simple: c:\windows\explorer.exe
          root: foundIncidents.CustomFields
      FilePath:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.initiatorpath
              operator: isNotEqualString
              right:
                value:
                  simple: c:\windows\explorer.exe
          root: foundIncidents.CustomFields.initiatorpath
      FileRemediation:
        complex:
          root: inputs.FileRemediation
      HostContainment:
        simple: "True"
      UserContainment:
        simple: "True"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook handles all the containment actions available with
        Cortex XSIAM, including:  \n* Isolate endpoint\n* Disable account\n* Quarantine
        file\n* Block indicators\n* Clear user session (currently, the playbook supports
        only Okta)\n\nNote: The playbook inputs enable manipulating the execution
        flow. Read the input descriptions for details."
      id: 9ea917dd-abb0-425f-81b1-0496a82a1d86
      iscommand: false
      name: Containment Plan
      playbookId: Containment Plan
      type: playbook
      version: -1
    taskid: 9ea917dd-abb0-425f-81b1-0496a82a1d86
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1080,
          "y": 2360
        }
      }
  "81":
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      AutoEradicate:
        complex:
          root: inputs.AutoEradication
      EndpointID:
        complex:
          accessor: agentid
          root: alert
      FilePath:
        complex:
          accessor: initiatorpath
          root: foundIncidents.CustomFields
      FileRemediation:
        complex:
          root: inputs.FileRemediation
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook handles all the eradication actions available with
        Cortex XSIAM, including the following tasks:\n* Reset user password\n* Delete
        file\n* Kill process (currently, the playbook supports terminating a process
        by name)  \n\nNote: The playbook inputs enable manipulating the execution
        flow. Read the input descriptions for details."
      id: 527b0732-8b4e-45eb-8c22-a61057190ef3
      iscommand: false
      name: Eradication Plan
      playbookId: Eradication Plan
      type: playbook
      version: -1
    taskid: 527b0732-8b4e-45eb-8c22-a61057190ef3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 660,
          "y": 2360
        }
      }
  "82":
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 0
    scriptarguments:
      text:
        complex:
          accessor: details
          root: alert
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 03afb60a-4f65-4e42-82ff-3134d5b84042
      iscommand: true
      name: Extract IOC
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 03afb60a-4f65-4e42-82ff-3134d5b84042
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 410,
          "y": 170
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 2
    scriptarguments:
      manual_severity:
        simple: high
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.field
      id: 37a6525e-26a7-4c1f-8531-17fe493b2642
      iscommand: true
      name: Set Alert Severity to High
      script: Builtin|||setParentIncidentFields
      type: regular
      version: -1
    taskid: 37a6525e-26a7-4c1f-8531-17fe493b2642
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1710
        }
      }
  "84":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.ShouldOpenTicket
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "79"
      "yes":
      - "85"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether to open a ticket automatically in a ticketing system.
      id: 3774b478-5564-4675-8074-739dd558664c
      iscommand: false
      name: Should open a ticket automatically in a ticketing system?
      type: condition
      version: -1
    taskid: 3774b478-5564-4675-8074-739dd558664c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1880
        }
      }
  "85":
    continueonerrortype: ""
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    scriptarguments:
      CommentToAdd:
        complex:
          root: inputs.CommentToAdd
      ZendeskAssigne:
        complex:
          root: inputs.ZendeskAssigne
      ZendeskCollaborators:
        complex:
          root: inputs.ZendeskCollaborators
      ZendeskPriority:
        complex:
          root: inputs.ZendeskPriority
      ZendeskRequester:
        complex:
          root: inputs.ZendeskRequester
      ZendeskStatus:
        complex:
          root: inputs.ZendeskStatus
      ZendeskSubject:
        complex:
          root: inputs.ZendeskSubject
      ZendeskTags:
        complex:
          root: inputs.ZendeskTags
      ZendeskType:
        complex:
          root: inputs.ZendeskType
      addCommentPerEndpoint:
        complex:
          root: inputs.addCommentPerEndpoint
      description:
        complex:
          root: inputs.description
      serviceNowAssignmentGroup:
        complex:
          root: inputs.serviceNowAssignmentGroup
      serviceNowCategory:
        complex:
          root: inputs.serviceNowCategory
      serviceNowImpact:
        complex:
          root: inputs.serviceNowImpact
      serviceNowSeverity:
        complex:
          root: inputs.serviceNowSeverity
      serviceNowShortDescription:
        complex:
          root: inputs.serviceNowShortDescription
      serviceNowTicketType:
        complex:
          root: inputs.serviceNowTicketType
      serviceNowUrgency:
        complex:
          root: inputs.serviceNowUrgency
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: "`Ticket Management - Generic` allows you to open new tickets or
        update comments to the existing ticket in the following ticketing systems:\n-ServiceNow
        \n-Zendesk \nusing the following sub-playbooks:\n-`ServiceNow - Ticket Management`\n-`Zendesk
        - Ticket Management`\n"
      id: f77aa4eb-f400-4a50-829f-4ce59cad479f
      iscommand: false
      name: Ticket Management - Generic
      playbookId: Ticket Management - Generic
      type: playbook
      version: -1
    taskid: f77aa4eb-f400-4a50-829f-4ce59cad479f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1160,
          "y": 2050
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "10_12_#default#": 0.52,
      "43_44_#default#": 0.49,
      "43_60_yes": 0.54,
      "54_43_#default#": 0.19,
      "54_83_yes": 0.41,
      "73_74_#default#": 0.44,
      "73_75_yes": 0.41,
      "74_37_#default#": 0.54,
      "74_72_yes": 0.48,
      "77_25_#default#": 0.47
    },
    "paper": {
      "dimensions": {
        "height": 3895,
        "width": 1770,
        "x": -230,
        "y": -110
      }
    }
  }
