playbook/playbook-T1036_-_Masquerading.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    itemVersion: 3.0.20
    packID: Core
    packName: Core - Investigation and Response
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook handles masquerading alerts based on the MITRE T1036 technique.
  An attacker might leverage Microsoft Windows well-known image names to run malicious processes without being caught.

  **Attacker's Goals:**

  An attacker is attempting to masquerade as standard windows images by using a trusted name to execute malicious code.

  **Investigative Actions:**

  Investigate the executed process image and verify if it is malicious using:

  * XDR trusted signers
  * VT trusted signers
  * VT detection rate
  * NSRL DB

  **Response Actions**

  The playbook's first response action is a containment plan which is based on the initial data provided within the alert. In that phase, the playbook will execute:

  * Auto block indicators
  * Auto file quarantine
  * Manual endpoint isolation

  When the playbook executes, it checks for additional activity using the Endpoint Investigation Plan playbook, and another phase, which includes containment and eradication, is executed.

  This phase will execute the following containment actions:

  * Manual block indicators
  * Manual file quarantine
  * Auto endpoint isolation

  And the following eradication actions:

  * Manual process termination
  * Manual file deletion
  * Manual reset of the user’s password

  External resources:

  [MITRE Technique T1036](https://attack.mitre.org/techniques/T1036/)

  [Possible Microsoft process masquerading](https://docs-cortex.paloaltonetworks.com/r/Cortex-XDR-Analytics-Alert-Reference/Possible-Microsoft-process-masquerading)
id: T1036 - Masquerading
inputSections:
- description: Alert management settings and data, including escalation processes,
    and user engagements.
  inputs:
  - AutoCloseAlert
  name: Alert Management
- description: Enrichment settings and data, including assets and indicators enrichment
    using third-party enrichers.
  inputs:
  - FileSHA256
  - FilePath
  - IP
  name: Enrichment
- description: Remediation settings and data, including containment, eradication,
    and recovery.
  inputs:
  - AutoContainment
  - AutoEradication
  - FileRemediation
  - AutoRecovery
  name: Remediation
- description: Ticket management settings and data.
  inputs:
  - ShouldOpenTicket
  - serviceNowShortDescription
  - serviceNowImpact
  - serviceNowUrgency
  - serviceNowSeverity
  - serviceNowTicketType
  - serviceNowCategory
  - serviceNowAssignmentGroup
  - ZendeskPriority
  - ZendeskRequester
  - ZendeskStatus
  - ZendeskSubject
  - ZendeskTags
  - ZendeskType
  - ZendeskAssigne
  - ZendeskCollaborators
  - description
  - addCommentPerEndpoint
  - CommentToAdd
  name: Ticket Management
inputs:
- description: Should be either 'Quarantine' or 'Delete'.
  key: FileRemediation
  playbookInputQuery: null
  required: true
  value:
    simple: Quarantine
- description: Whether to close the alert automatically or manually, after an analyst's
    review.
  key: AutoCloseAlert
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether to execute the Recovery playbook.
  key: AutoRecovery
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Setting this input will impact both Containment Plan sub-playbooks. Without setting this input, the default values are True for the first occurrence and False for the second.
    Whether to execute automatically or manually the containment plan tasks:
    * Isolate endpoint
    * Block indicators
    * Quarantine file
    * Disable user
  key: AutoContainment
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Whether to execute automatically or manually the eradication plan tasks:
    * Terminate process
    * Delete file
    * Reset the user's password
  key: AutoEradication
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: The file SHA256 to investigate.
  key: FileSHA256
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: initiatorsha256
      root: alert
- description: The file path to investigate.
  key: FilePath
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: initiatorpath
      root: alert
- description: The IP address to investigate.
  key: IP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: hostip
      root: alert
- description: Whether to open a ticket automatically in a ticketing system. (True/False).
  key: ShouldOpenTicket
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: A short description of the ticket.
  key: serviceNowShortDescription
  playbookInputQuery: null
  required: false
  value:
    simple: XSIAM Incident ID - ${parentIncidentFields.incident_id}
- description: The impact for the new ticket. Leave empty for ServiceNow default impact.
  key: serviceNowImpact
  playbookInputQuery: null
  required: false
  value: {}
- description: The urgency of the new ticket. Leave empty for ServiceNow default urgency.
  key: serviceNowUrgency
  playbookInputQuery: null
  required: false
  value: {}
- description: The severity of the new ticket. Leave empty for ServiceNow default
    severity.
  key: serviceNowSeverity
  playbookInputQuery: null
  required: false
  value: {}
- description: The ServiceNow ticket type. Options are "incident", "problem", "change_request",
    "sc_request", "sc_task", or "sc_req_item". Default is "incident".
  key: serviceNowTicketType
  playbookInputQuery: null
  required: false
  value: {}
- description: The category of the ServiceNow ticket.
  key: serviceNowCategory
  playbookInputQuery: null
  required: false
  value: {}
- description: The group to which to assign the new ticket.
  key: serviceNowAssignmentGroup
  playbookInputQuery: null
  required: false
  value: {}
- description: The urgency with which the ticket should be addressed. Allowed values
    are "urgent", "high", "normal", or "low".
  key: ZendeskPriority
  playbookInputQuery: null
  required: false
  value: {}
- description: The user who requested this ticket.
  key: ZendeskRequester
  playbookInputQuery: null
  required: false
  value: {}
- description: The state of the ticket. Allowed values are "new", "open", "pending",
    "hold", "solved", or "closed".
  key: ZendeskStatus
  playbookInputQuery: null
  required: false
  value: {}
- description: The value of the subject field for this ticket.
  key: ZendeskSubject
  playbookInputQuery: null
  required: false
  value:
    simple: XSIAM Incident ID - ${parentIncidentFields.incident_id}
- description: The array of tags applied to this ticket.
  key: ZendeskTags
  playbookInputQuery: null
  required: false
  value: {}
- description: The type of this ticket. Allowed values are "problem", "incident",
    "question", or "task".
  key: ZendeskType
  playbookInputQuery: null
  required: false
  value: {}
- description: The agent currently assigned to the ticket.
  key: ZendeskAssigne
  playbookInputQuery: null
  required: false
  value: {}
- description: The users currently CC'ed on the ticket.
  key: ZendeskCollaborators
  playbookInputQuery: null
  required: false
  value: {}
- description: The ticket description.
  key: description
  playbookInputQuery: null
  required: false
  value:
    simple: ${parentIncidentFields.description}. ${parentIncidentFields.xdr_url}
- description: 'Whether to append a new comment to the ticket for each endpoint in
    the incident. Possible values: True/False.'
  key: addCommentPerEndpoint
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Comment for the ticket.
  key: CommentToAdd
  playbookInputQuery: null
  required: false
  value:
    simple: '${alert.name}. Alert ID: ${alert.id}'
name: T1036 - Masquerading
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 71c58368-f81a-4c7c-8dc8-30515abf9379
      iscommand: false
      name: ""
      version: -1
    taskid: 71c58368-f81a-4c7c-8dc8-30515abf9379
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 70,
          "y": 1280
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "86"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a7b815bf-2633-458f-83e9-5c3a29ba790a
      iscommand: false
      name: Handle False Positive
      type: title
      version: -1
    taskid: a7b815bf-2633-458f-83e9-5c3a29ba790a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -330,
          "y": 2240
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "94"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7d91e62b-9a20-41c3-80ed-a7a284c567d1
      iscommand: false
      name: Investigation
      type: title
      version: -1
    taskid: 7d91e62b-9a20-41c3-80ed-a7a284c567d1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 490,
          "y": 2895
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f0cd4a3c-3ad9-432f-80f1-f836f59a1949
      iscommand: false
      name: 'Findings '
      type: title
      version: -1
    taskid: f0cd4a3c-3ad9-432f-80f1-f836f59a1949
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 490,
          "y": 3210
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "Yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to continue the investigation in case the verdict is a
        possible false positive.
      id: 35d35d70-6bb9-4932-84e9-33955870fe0b
      iscommand: false
      name: Manuel Review - Should continue to investigate?
      type: condition
      version: -1
    taskid: 35d35d70-6bb9-4932-84e9-33955870fe0b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 2040
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "83"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0723776b-3e10-42c6-8792-1e06d5eaf59a
      iscommand: false
      name: Containment
      type: title
      version: -1
    taskid: 0723776b-3e10-42c6-8792-1e06d5eaf59a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 490,
          "y": 2550
        }
      }
  "37":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: foundIncidents
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "93"
      "yes":
      - "96"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there are results for the Endpoint Investigation Plan.
      id: 912ebd4d-99b4-4959-8308-475233cfd60b
      iscommand: false
      name: Are there investigation findings?
      type: condition
      version: -1
    taskid: 912ebd4d-99b4-4959-8308-475233cfd60b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 3350
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: db863fa1-d2cc-46bc-8ed7-53adaa19714d
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: db863fa1-d2cc-46bc-8ed7-53adaa19714d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -330,
          "y": 4870
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "67"
      - "68"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d28118db-63f1-46ba-8490-63a8ddf9bd61
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: d28118db-63f1-46ba-8490-63a8ddf9bd61
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 920,
          "y": 3710
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      scriptArguments:
        BlockIndicators:
          simple: "True"
        ContainmentType:
          simple: Auto
        EndpointContainment:
          simple: "False"
        FileContainment:
          simple: "True"
        ScheduledTaskConatinment:
          simple: "True"
        UserContainment:
          simple: "True"
      wait: 1
    nexttasks:
      '#none#':
      - "93"
    note: false
    quietmode: 0
    scriptarguments:
      AutoContainment:
        complex:
          root: inputs.AutoContainment
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "false"
            operator: SetIfEmpty
      BlockIndicators:
        simple: "True"
      ClearUserSessions:
        simple: "False"
      EndpointID:
        complex:
          accessor: agentid
          root: alert
      FileContainment:
        simple: "True"
      FileHash:
        complex:
          accessor: initiatorsha256
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.initiatorpath
              operator: isNotEqualString
              right:
                value:
                  simple: c:\windows\explorer.exe
          root: foundIncidents.CustomFields
      FilePath:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.initiatorpath
              operator: isNotEqualString
              right:
                value:
                  simple: c:\windows\explorer.exe
          root: foundIncidents.CustomFields.initiatorpath
          transformers:
          - operator: uniq
      FileRemediation:
        complex:
          root: inputs.FileRemediation
      UserContainment:
        simple: "False"
      Username:
        complex:
          accessor: username
          root: foundIncidents.CustomFields
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the containment actions available with Cortex XSIAM.
        The playbook enables you to contain the alert with one of the following tasks:
        * Isolate endpoint
        * Disable account
        * Quarantine file
        * Block indicators
        * Clear user session (currently, the playbook supports only Okta)

        The playbook inputs enable you to manipulate the execution flow. Review the inputs description.
      id: 424947cb-b0a5-49da-813c-b5b9368090ed
      iscommand: false
      name: Containment Plan
      playbookId: Containment Plan
      type: playbook
      version: -1
    taskid: 424947cb-b0a5-49da-813c-b5b9368090ed
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 700,
          "y": 3850
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      scriptArguments:
        DeleteFile:
          simple: "True"
        EradicationType:
          simple: Auto
        KillProcess:
          simple: "True"
        RemoveTasks:
          simple: "True"
        ResetPassword:
          simple: "True"
        RevertRegistry:
          simple: "True"
      wait: 1
    nexttasks:
      '#none#':
      - "93"
    note: false
    quietmode: 0
    scriptarguments:
      AutoEradicate:
        complex:
          root: inputs.AutoEradication
      EndpointID:
        complex:
          accessor: agentid
          root: alert
      FilePath:
        complex:
          accessor: initiatorpath
          root: foundIncidents.CustomFields
          transformers:
          - operator: uniq
      FileRemediation:
        complex:
          root: inputs.FileRemediation
      Username:
        complex:
          accessor: username
          root: foundIncidents.CustomFields
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the eradication actions available with Cortex XSIAM.
        The playbook enables you to eradicate the alert with one of the following tasks:
        * Reset user password
        * Delete file
        * Kill process (currently, the playbook supports terminating a process by name)

        The playbook inputs enable you to manipulate the execution flow. Review the inputs description.
      id: ea8d4b0e-9f11-4f4b-8c2f-5de458310029
      iscommand: false
      name: Eradication Plan
      playbookId: Eradication Plan
      type: playbook
      version: -1
    taskid: ea8d4b0e-9f11-4f4b-8c2f-5de458310029
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1140,
          "y": 3850
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "72"
    note: false
    quietmode: 0
    scriptarguments:
      CloseReason:
        simple: Resolved - False Positive,Resolved - Duplicate Incident,Resolved -
          Known Issue
      Domain:
        complex:
          accessor: domainname
          root: alert
      FileSHA256:
        complex:
          root: inputs.FileSHA256
      IP:
        complex:
          root: inputs.IP
      URL:
        complex:
          accessor: url
          root: alert
      User:
        complex:
          accessor: username
          root: alert
      query:
        simple: (initiatorsha256:${inputs.FileSHA256} or hostip:${inputs.IP}) and
          sourceBrand:"${alert.sourceBrand}" and name:"${alert.name}"
      threshold:
        simple: "5"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: This playbook checks prior alert closing reasons and performs enrichment
        and prevalence checks on different IOC types. It then  returns the information
        needed to establish the alert's verdict.
      id: 08a821d2-8fc5-49bb-8bbc-97df50c37d8a
      iscommand: false
      name: Enrichment for Verdict
      playbookId: Enrichment for Verdict
      type: playbook
      version: -1
    taskid: 08a821d2-8fc5-49bb-8bbc-97df50c37d8a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 70,
          "y": 1555
        }
      }
  "72":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: VTFileVerdict
          operator: isEqualString
          right:
            value:
              simple: malicious
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: FileVerdict
          operator: isEqualString
          right:
            value:
              simple: suspicious
      label: True Positive
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: VTFileVerdict
          operator: isEqualString
          right:
            value:
              simple: benign
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: NSRLFileVerdict
          operator: isEqualString
          right:
            value:
              simple: isNotNSRL
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: VTFileSigners
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: XDRFileSigners
                  operator: append
                - operator: uniq
          operator: containsGeneral
          right:
            value:
              simple: unTrusted
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: value
                root: Core.AnalyticsPrevalence.Hash
          operator: containsGeneral
          right:
            value:
              simple: "true"
      label: Possible False Positive
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: VTFileVerdict
          operator: isEqualString
          right:
            value:
              simple: benign
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: NSRLFileVerdict
          operator: isEqualString
          right:
            value:
              simple: isNSRL
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: VTFileSigners
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: XDRFileSigners
                  operator: append
                - operator: uniq
          operator: notContainsGeneral
          right:
            value:
              simple: unTrusted
      label: False Positive
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      False Positive:
      - "7"
      Possible False Positive:
      - "28"
      True Positive:
      - "95"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the verdict received from the Enrichment for Verdict sub-playbook.
      id: 59fea646-7ac7-49d2-8d99-97f0313d895a
      iscommand: false
      name: Got possible verdict?
      type: condition
      version: -1
    taskid: 59fea646-7ac7-49d2-8d99-97f0313d895a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 1720
        }
      }
  "82":
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "71"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 49cd1abf-45e6-49bf-8974-c7be41d8a8f6
      iscommand: false
      name: Analysis
      type: title
      version: -1
    taskid: 49cd1abf-45e6-49bf-8974-c7be41d8a8f6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": 1420
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      AutoContainment:
        complex:
          root: inputs.AutoContainment
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "true"
            operator: SetIfEmpty
      BlockIndicators:
        simple: "True"
      ClearUserSessions:
        simple: "False"
      EndpointID:
        complex:
          accessor: agentid
          root: alert
      FileContainment:
        simple: "True"
      FileHash:
        complex:
          accessor: FileSHA256
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.FilePath
              operator: isNotEqualString
              right:
                value:
                  simple: c:\windows\explorer.exe
          root: inputs
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: alert.targetprocesssha256
            operator: SetIfEmpty
      FilePath:
        complex:
          accessor: FilePath
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.FilePath
              operator: isNotEqualString
              right:
                value:
                  simple: c:\windows\explorer.exe
          root: inputs
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: alert.targetprocesscmd
            operator: SetIfEmpty
          - args:
              regex:
                value:
                  simple: \"
              replaceWith: {}
            operator: replaceMatch
          - operator: uniq
      FileRemediation:
        simple: Quarantine
      HostContainment:
        simple: "True"
      UserContainment:
        simple: "False"
      UserVerification:
        simple: "False"
      Username:
        complex:
          accessor: username
          root: alert
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the containment actions available with Cortex XSIAM.
        The playbook enables you to contain the alert with one of the following tasks:
        * Isolate endpoint
        * Disable account
        * Quarantine file
        * Block indicators
        * Clear user session (currently, the playbook supports only Okta)

        The playbook inputs enable you to manipulate the execution flow. Review the inputs description.
      id: 42bdace5-daa8-4c32-8d51-7ab46b210345
      iscommand: false
      name: Containment Plan
      playbookId: Containment Plan
      type: playbook
      version: -1
    taskid: 42bdace5-daa8-4c32-8d51-7ab46b210345
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 490,
          "y": 2705
        }
      }
  "86":
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      FileSHA256:
        complex:
          root: inputs.FileSHA256
      ShouldCloseAutomatically:
        complex:
          root: inputs.AutoCloseAlert
      alertName:
        complex:
          accessor: name
          root: alert
      sourceIP:
        complex:
          root: inputs.IP
      username:
        complex:
          accessor: username
          root: alert
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |
        This playbook handles false positive alerts.
      id: 8dbb433f-6540-4a14-8ae4-69b27894189a
      iscommand: false
      name: Handle False Positive Alerts
      playbookId: Handle False Positive Alerts
      type: playbook
      version: -1
    taskid: 8dbb433f-6540-4a14-8ae4-69b27894189a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -330,
          "y": 2395
        }
      }
  "88":
    continueonerrortype: ""
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: Resolved - Threat Handled
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 75ff8953-ad02-4356-8215-1c564ddef450
      iscommand: true
      name: Close alert
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 75ff8953-ad02-4356-8215-1c564ddef450
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 750,
          "y": 4700
        }
      }
  "89":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoRecovery
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "90"
      "yes":
      - "92"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the user input for whether to run the Recovery Plan sub-playbook.
      id: cce1446a-20a3-4b0d-855c-9ef077a9931b
      iscommand: false
      name: Should execute recovery plan?
      type: condition
      version: -1
    taskid: cce1446a-20a3-4b0d-855c-9ef077a9931b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 4155
        }
      }
  "90":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoCloseAlert
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "41"
      "yes":
      - "88"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the user input for whether to close the alert automatically.
      id: 7b6b27ef-db7d-4461-8e67-2e6c0a5e8ffb
      iscommand: false
      name: Should close alert automatically?
      type: condition
      version: -1
    taskid: 7b6b27ef-db7d-4461-8e67-2e6c0a5e8ffb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 4500
        }
      }
  "92":
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    scriptarguments:
      FileHash:
        complex:
          root: inputs.FileSHA256
      endpointID:
        complex:
          accessor: agentid
          root: alert
      releaseFile:
        simple: "false"
      unIsolateEndpoint:
        simple: "true"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the recovery actions available with Cortex XSIAM.
        The playbook enables you to recover  from the alert with one of the following tasks:
        * Unisolate endpoint
        * Restore quarantined file

        The playbook inputs enables you to manipulate the execution flow. Review the inputs description.
      id: f3cbc913-4c83-49ac-8a03-a11e4b25c457
      iscommand: false
      name: Recovery Plan
      playbookId: Recovery Plan
      type: playbook
      version: -1
    taskid: f3cbc913-4c83-49ac-8a03-a11e4b25c457
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 920,
          "y": 4330
        }
      }
  "93":
    continueonerrortype: ""
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "89"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fe7a10cc-d284-424b-8f51-c7420a4f0404
      iscommand: false
      name: Recovery
      type: title
      version: -1
    taskid: fe7a10cc-d284-424b-8f51-c7420a4f0404
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 490,
          "y": 4020
        }
      }
  "94":
    continueonerrortype: ""
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      HuntCnCTechniques:
        simple: "True"
      HuntCollectionTechniques:
        simple: "True"
      HuntDefenseEvasionTechniques:
        simple: "True"
      HuntDiscoveryTechniques:
        simple: "True"
      HuntExecutionTechniques:
        simple: "True"
      HuntImpactTechniques:
        simple: "True"
      HuntInitialAccessTechniques:
        simple: "True"
      HuntLateralMovementTechniques:
        simple: "True"
      HuntPersistenceTechniques:
        simple: "True"
      HuntPrivilegeEscalationTechniques:
        simple: "True"
      HuntReconnaissanceTechniques:
        simple: "True"
      agentID:
        complex:
          accessor: agentid
          root: alert
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the endpoint investigation actions available with Cortex XSIAM.
        The playbook enables you to investigate and hunt for more information using one of the following tasks:
        * Pre-defined MITRE Tactics
        * Host fields (Host ID)
        * Attacker fields (Attacker IP, External host)
        * MITRE techniques
        * File hash (currently, the playbook supports only SHA256)

        The playbook inputs enables you to manipulate the execution flow. Review the inputs description.
      id: b5c5394f-5fa0-4fdc-8292-8c8ba2f4acba
      iscommand: false
      name: Endpoint Investigation Plan
      playbookId: Endpoint Investigation Plan
      type: playbook
      version: -1
    taskid: b5c5394f-5fa0-4fdc-8292-8c8ba2f4acba
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 490,
          "y": 3040
        }
      }
  "95":
    continueonerrortype: ""
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
    note: false
    quietmode: 2
    scriptarguments:
      manual_severity:
        simple: high
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.field
      id: 21534fb3-d5b2-40c7-8d6a-39bb1586a71f
      iscommand: true
      name: Set Alert Severity to High
      script: Builtin|||setParentIncidentFields
      type: regular
      version: -1
    taskid: 21534fb3-d5b2-40c7-8d6a-39bb1586a71f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 2040
        }
      }
  "96":
    continueonerrortype: ""
    id: "96"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 2
    scriptarguments:
      manual_severity:
        simple: high
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.field
      id: 38ebacd7-790f-4711-87bf-f8eb8f42cad3
      iscommand: true
      name: Set Alert Severity to High
      script: Builtin|||setParentIncidentFields
      type: regular
      version: -1
    taskid: 38ebacd7-790f-4711-87bf-f8eb8f42cad3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 3535
        }
      }
  "97":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.ShouldOpenTicket
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "98"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether to open a ticket automatically in a ticketing system.
      id: f62e9909-3fa8-43f7-8ad7-0b666e08659b
      iscommand: false
      name: Should open a ticket automatically in a ticketing system?
      type: condition
      version: -1
    taskid: f62e9909-3fa8-43f7-8ad7-0b666e08659b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 2210
        }
      }
  "98":
    continueonerrortype: ""
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      CommentToAdd:
        complex:
          root: inputs.CommentToAdd
      ZendeskAssigne:
        complex:
          root: inputs.ZendeskAssigne
      ZendeskCollaborators:
        complex:
          root: inputs.ZendeskCollaborators
      ZendeskPriority:
        complex:
          root: inputs.ZendeskPriority
      ZendeskRequester:
        complex:
          root: inputs.ZendeskRequester
      ZendeskStatus:
        complex:
          root: inputs.ZendeskStatus
      ZendeskSubject:
        complex:
          root: inputs.ZendeskSubject
      ZendeskTags:
        complex:
          root: inputs.ZendeskTags
      ZendeskType:
        complex:
          root: inputs.ZendeskType
      addCommentPerEndpoint:
        complex:
          root: inputs.addCommentPerEndpoint
      description:
        complex:
          root: inputs.description
      serviceNowAssignmentGroup:
        complex:
          root: inputs.serviceNowAssignmentGroup
      serviceNowCategory:
        complex:
          root: inputs.serviceNowCategory
      serviceNowImpact:
        complex:
          root: inputs.serviceNowImpact
      serviceNowSeverity:
        complex:
          root: inputs.serviceNowSeverity
      serviceNowShortDescription:
        complex:
          root: inputs.serviceNowShortDescription
      serviceNowTicketType:
        complex:
          root: inputs.serviceNowTicketType
      serviceNowUrgency:
        complex:
          root: inputs.serviceNowUrgency
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: "`Ticket Management - Generic` allows you to open new tickets or
        update comments to the existing ticket in the following ticketing systems:\n-ServiceNow
        \n-Zendesk \nusing the following sub-playbooks:\n-`ServiceNow - Ticket Management`\n-`Zendesk
        - Ticket Management`\n"
      id: f00603bc-1e1c-42ab-8f3b-3e7a3999e3c2
      iscommand: false
      name: Ticket Management - Generic
      playbookId: Ticket Management - Generic
      type: playbook
      version: -1
    taskid: f00603bc-1e1c-42ab-8f3b-3e7a3999e3c2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 760,
          "y": 2380
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "28_14_Yes": 0.2,
      "28_7_#default#": 0.3,
      "37_93_#default#": 0.24,
      "72_28_Possible False Positive": 0.72,
      "72_7_False Positive": 0.57,
      "89_90_#default#": 0.51,
      "89_92_yes": 0.6,
      "90_88_yes": 0.49
    },
    "paper": {
      "dimensions": {
        "height": 3655,
        "width": 1850,
        "x": -330,
        "y": 1280
      }
    }
  }
