playbook/playbook-Get_prevalence_for_IOCs.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    itemVersion: 2.4.2
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |+
  The playbook queries the analytics module to receive the prevalence of an IOC.

  Supported IOC:
  - Process by SHA256
  - Process by file name
  - IP
  - Domain
  - CMD
  - Registry (require key and value)

id: Get prevalence for IOCs
inputs:
- description: ""
  key: IP
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: Hash
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: Commandline
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: Process
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: RegistryKey
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: RegistryValue
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: Domain
  playbookInputQuery: null
  required: false
  value: {}
name: Get prevalence for IOCs
outputs:
- contextPath: Core.AnalyticsPrevalence.Ip
  description: Whether the IP address is prevalent or not.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Ip.value
  description: Whether the IP address is prevalent or not.
- contextPath: Core.AnalyticsPrevalence.Ip.data.global_prevalence
  description: The global prevalence of the IP address.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Ip.data.global_prevalence.value
  description: The global prevalence of the IP address.
- contextPath: Core.AnalyticsPrevalence.Ip.data.local_prevalence
  description: The local prevalence of the IP address.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Ip.data.local_prevalence.value
  description: The local prevalence of the IP address.
- contextPath: Core.AnalyticsPrevalence.Ip.data.prevalence
  description: The prevalence of the IP address.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Ip.data.prevalence.value
  description: The prevalence of the IP address.
- contextPath: Core.AnalyticsPrevalence.Hash
  description: The prevalence of the hash.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Hash.value
  description: Whether the hash is prevalent or not.
- contextPath: Core.AnalyticsPrevalence.Hash.data.global_prevalence
  description: The prevalence of the hash.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Hash.data.global_prevalence.value
  description: The global prevalence of the hash.
- contextPath: Core.AnalyticsPrevalence.Hash.data.local_prevalence
  description: The local prevalence of the hash.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Hash.data.local_prevalence.value
  description: The local prevalence of the hash.
- contextPath: Core.AnalyticsPrevalence.Hash.data.prevalence
  description: The prevalence of the hash.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Hash.data.prevalence.value
  description: The prevalence of the hash.
- contextPath: Core.AnalyticsPrevalence.Domain
  description: The prevalence of the domain.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Domain.value
  description: Whether the domain is prevalent or not.
- contextPath: Core.AnalyticsPrevalence.Domain.data.global_prevalence
  description: The global prevalence of the domain.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Domain.data.global_prevalence.value
  description: The global prevalence of the domain.
- contextPath: Core.AnalyticsPrevalence.Domain.data.local_prevalence
  description: The local prevalence of the domain.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Domain.data.local_prevalence.value
  description: The local prevalence of the domain.
- contextPath: Core.AnalyticsPrevalence.Domain.data.prevalence
  description: The prevalence of the domain.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Domain.data.prevalence.value
  description: The prevalence of the domain.
- contextPath: Core.AnalyticsPrevalence.Process
  description: The prevalence of the process.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Process.value
  description: Whether the process is prevalent or not.
- contextPath: Core.AnalyticsPrevalence.Process.data.global_prevalence
  description: The global prevalence of the process.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Process.data.global_prevalence.value
  description: The global prevalence of the process.
- contextPath: Core.AnalyticsPrevalence.Process.data.local_prevalence
  description: The local prevalence of the process.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Process.data.local_prevalence.value
  description: The local prevalence of the process.
- contextPath: Core.AnalyticsPrevalence.Process.data.prevalence
  description: The prevalence of the process.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Process.data.prevalence.value
  description: The prevalence of the process.
- contextPath: Core.AnalyticsPrevalence.Registry
  description: The prevalence of the registry.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Registry.value
  description: Whether the registry is prevalent or not.
- contextPath: Core.AnalyticsPrevalence.Registry.data.global_prevalence
  description: The global prevalence of the registry.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Registry.data.global_prevalence.value
  description: The global prevalence of the registry.
- contextPath: Core.AnalyticsPrevalence.Registry.data.local_prevalence
  description: The local  prevalence of the registry.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Registry.data.local_prevalence.value
  description: The local prevalence of the registry.
- contextPath: Core.AnalyticsPrevalence.Registry.data.prevalence
  description: The prevalence of the registry.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Registry.data.prevalence.value
  description: The prevalence of the registry.
- contextPath: Core.AnalyticsPrevalence.Cmd
  description: The prevalence of the CMD.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Cmd.value
  description: Whether the CMD is prevalent or not.
- contextPath: Core.AnalyticsPrevalence.Cmd.data.global_prevalence
  description: The global prevalence of the CMD.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Cmd.data.global_prevalence.value
  description: The global prevalence of the CMD.
- contextPath: Core.AnalyticsPrevalence.Cmd.data.local_prevalence
  description: The local prevalence of the CMD.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Cmd.data.local_prevalence.value
  description: The local prevalence of the CMD.
- contextPath: Core.AnalyticsPrevalence.Cmd.data.prevalence
  description: The prevalence of the CMD.
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Cmd.data.prevalence.value
  description: The prevalence of the Cmd.
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d24981a6-e630-426a-8d47-97da09aa8fd8
      iscommand: false
      name: ""
      version: -1
    taskid: d24981a6-e630-426a-8d47-97da09aa8fd8
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 470,
          "y": 130
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 72bdab6d-8f44-4e6d-8074-2b929f75cc83
      iscommand: false
      name: IP
      type: title
      version: -1
    taskid: 72bdab6d-8f44-4e6d-8074-2b929f75cc83
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2130,
          "y": 275
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7e51572a-d879-45d9-87a0-96e2c6cdc6de
      iscommand: false
      name: Hash
      type: title
      version: -1
    taskid: 7e51572a-d879-45d9-87a0-96e2c6cdc6de
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1460,
          "y": 275
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ab430fa0-7f67-48bb-80c7-3aaf91a685f2
      iscommand: false
      name: Domain
      type: title
      version: -1
    taskid: ab430fa0-7f67-48bb-80c7-3aaf91a685f2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 120,
          "y": 275
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: becb735c-ae39-492f-8029-fa445fbe89ca
      iscommand: false
      name: Command Line
      type: title
      version: -1
    taskid: becb735c-ae39-492f-8029-fa445fbe89ca
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -480,
          "y": 275
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 372a4887-887e-44c7-8d8d-0ab2bc4dabfb
      iscommand: false
      name: Registry
      type: title
      version: -1
    taskid: 372a4887-887e-44c7-8d8d-0ab2bc4dabfb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1080,
          "y": 275
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 61dfc474-c507-47f7-8489-fea7f0e89a26
      iscommand: false
      name: Process Name
      type: title
      version: -1
    taskid: 61dfc474-c507-47f7-8489-fea7f0e89a26
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 810,
          "y": 275
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IP
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether a IP exist
      id: 8d6f6781-0e11-4ba6-83d4-7a9edf5ca62f
      iscommand: false
      name: Is IP exist?
      type: condition
      version: -1
    taskid: 8d6f6781-0e11-4ba6-83d4-7a9edf5ca62f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2130,
          "y": 420
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      ip_address:
        complex:
          root: inputs.IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the prevalence of an ip, identified by ip_address.
      id: c08cbacc-395f-49ff-86d9-722d5fc03785
      iscommand: true
      name: Get prevalence for IP
      script: '|||core-get-IP-analytics-prevalence'
      type: regular
      version: -1
    taskid: c08cbacc-395f-49ff-86d9-722d5fc03785
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2300,
          "y": 610
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1229d65a-a5e5-4a24-82ff-26f05589888f
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 1229d65a-a5e5-4a24-82ff-26f05589888f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 780
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Hash
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether hash exist
      id: df3021a5-526b-4e96-8e9c-ffe1d652882f
      iscommand: false
      name: Is Hash exist?
      type: condition
      version: -1
    taskid: df3021a5-526b-4e96-8e9c-ffe1d652882f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 410
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      sha256:
        complex:
          root: inputs.Hash
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the prevalence of a file, identified by sha256.
      id: 94258428-8091-4d0e-8a1c-3834eeeea151
      iscommand: true
      name: Get prevalence for Hash
      script: '|||core-get-hash-analytics-prevalence'
      type: regular
      version: -1
    taskid: 94258428-8091-4d0e-8a1c-3834eeeea151
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1750,
          "y": 610
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Domain
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether a domain exist
      id: 094aa4d1-d89b-47e2-8a11-4aa551fcf73f
      iscommand: false
      name: Is Domain exist?
      type: condition
      version: -1
    taskid: 094aa4d1-d89b-47e2-8a11-4aa551fcf73f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 120,
          "y": 420
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      domain_name:
        complex:
          root: inputs.Domain
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the prevalence of a domain, identified by domain_name.
      id: 497c0f5c-f9e1-49cc-80ab-e49ea84dde61
      iscommand: true
      name: Get prevalence for Domain
      script: '|||core-get-domain-analytics-prevalence'
      type: regular
      version: -1
    taskid: 497c0f5c-f9e1-49cc-80ab-e49ea84dde61
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -120,
          "y": 590
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Process
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether a process name exist
      id: 6f2eb04f-09d1-4bcc-8a97-27d761646cbf
      iscommand: false
      name: Is Process name exist?
      type: condition
      version: -1
    taskid: 6f2eb04f-09d1-4bcc-8a97-27d761646cbf
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 810,
          "y": 420
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      process_name:
        complex:
          root: inputs.Process
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the prevalence of a process, identified by process_name.
      id: b70cff36-a4c9-4793-82a2-aa38b860e1f6
      iscommand: true
      name: Get prevalence for Process name
      script: '|||core-get-process-analytics-prevalence'
      type: regular
      version: -1
    taskid: b70cff36-a4c9-4793-82a2-aa38b860e1f6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1080,
          "y": 590
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RegistryKey
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RegistryValue
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether a registry values exist
      id: 3f0071a0-d9c8-4cf5-8b52-df71fce0d72e
      iscommand: false
      name: Are Registry values exists?
      type: condition
      version: -1
    taskid: 3f0071a0-d9c8-4cf5-8b52-df71fce0d72e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1080,
          "y": 420
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      key_name:
        complex:
          root: inputs.RegistryKey
      value_name:
        complex:
          root: inputs.RegistryValue
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the prevalence of a registry_path, identified by key_name,
        value_name.
      id: 950a0f87-5153-4ca7-8cb3-f93cf87dfda9
      iscommand: true
      name: Get prevalence for Registry key and value
      script: '|||core-get-registry-analytics-prevalence'
      type: regular
      version: -1
    taskid: 950a0f87-5153-4ca7-8cb3-f93cf87dfda9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1310,
          "y": 590
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Commandline
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether a command-line exist
      id: e65afe0e-42d6-4114-81fa-d7347b5fabf9
      iscommand: false
      name: Is Command-line exist?
      type: condition
      version: -1
    taskid: e65afe0e-42d6-4114-81fa-d7347b5fabf9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -480,
          "y": 420
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      process_command_line:
        complex:
          root: inputs.Commandline
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the prevalence of a process_command_line, identified by process_command_line.
      id: 6778b8ba-6111-4875-8947-e7be45ee53a8
      iscommand: true
      name: Get prevalence for Command-line
      script: '|||core-get-cmd-analytics-prevalence'
      type: regular
      version: -1
    taskid: 6778b8ba-6111-4875-8947-e7be45ee53a8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -710,
          "y": 590
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "10_9_#default#": 0.13,
      "12_9_#default#": 0.28,
      "14_9_#default#": 0.26,
      "16_9_#default#": 0.1,
      "18_19_yes": 0.71,
      "18_9_#default#": 0.15,
      "7_9_#default#": 0.1
    },
    "paper": {
      "dimensions": {
        "height": 715,
        "width": 3990,
        "x": -1310,
        "y": 130
      }
    }
  }
