playbook/playbook-Cortex_ASM_-_ASM_Alert.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.10.0
    itemVersion: 1.7.30
    packID: CortexAttackSurfaceManagement
    packName: Cortex Attack Surface Management
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: This playbook handles ASM alerts by enriching asset information and providing
  a means of remediating the issue directly or through contacting service owners.
id: Cortex ASM - ASM Alert
inputs:
- description: Subject of the notification (email or ticket) sent to potential service
    owner.
  key: OwnerNotificationSubject
  playbookInputQuery: null
  required: true
  value:
    simple: A new security risk was identified on an external service owned by your
      team
- description: Body of the notification (email or ticket) sent to potential service
    owner.
  key: OwnerNotificationBody
  playbookInputQuery: null
  required: true
  value:
    simple: |+
      Infosec identified a security risk on an external service potentially owned by your team: ${alert.name}<br><br>

      Description: ${alert.details}
      <br><br>

- description: The ticket type used by ticketing systems. The default is "incident"
    because ticketing systems such as ServiceNow and Cherwell use it as default.
  key: NotificationTicketType
  playbookInputQuery: null
  required: true
  value:
    simple: alert
- description: Subject of the notification (email or ticket) sent to the service owner
    after remediation.
  key: RemediationNotificationSubject
  playbookInputQuery: null
  required: true
  value:
    simple: A new security risk was addressed on an external service owned by your
      team
- description: Body of the notification (email or ticket) sent to the service owner
    after remediation.
  key: RemediationNotificationHTMLBody
  playbookInputQuery: null
  required: true
  value:
    simple: |-
      <!DOCTYPE html>
      <html lang="en">
      <body>
          <p>
              Infosec identified a security risk on an external service potentially owned by your
              team:<br><b>${alert.name}</b>
          </p>
          <p>
              <b>Alert Details:</b> ${alert.details}<br>
              <b>Action Taken:</b> ${alert.asmremediation.[0].action}<br>
              <b>Action Outcome:</b> ${alert.asmremediation.[0].outcome}<br>
          </p>
      </body>
      </html>
- description: |-
    Determine whether to bypass the Dev Check in automated remediation criteria: https://docs-cortex.paloaltonetworks.com/r/Cortex-XPANSE/Cortex-Xpanse-Expander-User-Guide/Automated-Remediation-Capabilities-Matrix

    Set to "True" if you want to bypass.  Default is "False".
  key: BypassDevCheck
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Comma-separated list of instance/VM IDs that are considered an accepted
    risk and that should be closed.
  key: AcceptedRiskDs
  playbookInputQuery: null
  required: false
  value: {}
- description: Comma-separated list of projects numbers that are considered an accepted
    risk and that should be closed.  For example, a list of GCP projects and AWS accounts.
  key: AcceptedRiskProjects
  playbookInputQuery: null
  required: false
  value: {}
- description: Comma-separated list of other items that are considered an accepted
    risk and that should be closed. For example, a list of folders numbers in GCP
    and subscription IDs in Azure.
  key: AcceptedRiskOther
  playbookInputQuery: null
  required: false
  value: {}
- description: The Jira project key to associate with the issue.
  key: JiraProjectKey
  playbookInputQuery: null
  required: true
  value: {}
- description: If assuming roles for AWS, this is the name of the role to assume (should
    be the same for all organizations).
  key: AWSAssumeRoleName
  playbookInputQuery: null
  required: false
  value: {}
name: Cortex ASM - ASM Alert
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 79a7c8e5-9a6b-426f-8ed3-21ff1fe9124e
      iscommand: false
      name: ""
      version: -1
    taskid: 79a7c8e5-9a6b-426f-8ed3-21ff1fe9124e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 70,
          "y": -1780
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 548459c6-a71d-49ac-8910-fa07334e477c
      iscommand: false
      name: Complete
      type: title
      version: -1
    taskid: 548459c6-a71d-49ac-8910-fa07334e477c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": 5260
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "180"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 205caac4-7e93-4b53-8028-4798bd309ad4
      iscommand: false
      name: Triage and Qualifier Stage
      type: title
      version: -1
    taskid: 205caac4-7e93-4b53-8028-4798bd309ad4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": -1640
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8cdc4fa7-9865-4a60-8254-a3fe2c1face9
      iscommand: false
      name: Enrichment Stage
      type: title
      version: -1
    taskid: 8cdc4fa7-9865-4a60-8254-a3fe2c1face9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": -1000
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "120"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 952a8f66-7583-43da-8753-657b3f1425e2
      iscommand: false
      name: Decision Stage
      type: title
      version: -1
    taskid: 952a8f66-7583-43da-8753-657b3f1425e2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": 330
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "179"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b78597f7-5761-4cd4-8a0b-f648f78192a7
      iscommand: false
      name: Notification Stage
      type: title
      version: -1
    taskid: b78597f7-5761-4cd4-8a0b-f648f78192a7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 800,
          "y": 1570
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "86"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email.
      id: 1c823068-38b4-47b9-8aef-f70adbaf768d
      iscommand: false
      name: Validation Stage
      type: title
      version: -1
    taskid: 1c823068-38b4-47b9-8aef-f70adbaf768d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": 3055
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "167"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a1e55a91-099f-4100-829c-5d1caea841b3
      iscommand: false
      name: Remediation Stage
      type: title
      version: -1
    taskid: a1e55a91-099f-4100-829c-5d1caea841b3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -690,
          "y": 1540
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "177"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3d818954-51ff-4ae6-87bb-1951dd4c56c6
      iscommand: false
      name: Summarization Stage
      type: title
      version: -1
    taskid: 3d818954-51ff-4ae6-87bb-1951dd4c56c6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": 3855
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: scanresult
                root: alert.asmservicedetection
                transformers:
                - operator: LastArrayElement
          operator: isEqualString
          right:
            value:
              simple: REMEDIATED
        - left:
            iscontext: true
            value:
              complex:
                accessor: outcome
                root: alert.asmremediation
          operator: isEqualString
          right:
            value:
              simple: Success
      label: "no"
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "no":
      - "135"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if service was still observable and also if automated
        remediation was done.
      id: 078c10a4-ae07-4e7e-8aeb-d593bef0a521
      iscommand: false
      name: Service exposure still observable?
      type: condition
      version: -1
    taskid: 078c10a4-ae07-4e7e-8aeb-d593bef0a521
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 3350
        }
      }
  "21":
    continueonerrortype: ""
    form:
      description: The post migration Remediation Confirmation Scan wasn't conclusive.
        Decide the next steps.
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: If you know the issue has been remediated, choose to keep open and
            have next Xpanse scan auto-close or manually close now.
        options: []
        optionsarg:
        - simple: Close Now
        - simple: Wait to Auto-close
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: singleSelect
      sender: Your SOC team
      title: Select a next step
      totalanswers: 0
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: The post migration NMAP scan wasn't conclusive, decide next steps.
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "135"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if alert should be closed or kept open for auto-closure
        based on analyst input.
      id: 0c54afdb-6281-4862-8f93-2c9108347625
      iscommand: false
      name: What to do if Remediation Confirmation Scan is inconclusive?
      type: collection
      version: -1
    taskid: 0c54afdb-6281-4862-8f93-2c9108347625
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 310,
          "y": 3530
        }
      }
  "48":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: Automated remediation by restricting open ports
        - left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: Automated remediation by creating empty S3 bucket
      label: Automated remediation
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: Manual remediation
      label: Manual remediation
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: File a ServiceNow Ticket
      label: ServiceNow ticket
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: Send a notification email
      label: Notification email
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: File a Jira Ticket
      label: Jira ticket
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "88"
      Automated remediation:
      - "12"
      Jira ticket:
      - "156"
      Manual remediation:
      - "63"
      Notification email:
      - "60"
      ServiceNow ticket:
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines the next action (remediation or ticket) based on the
        previous data collection task.
      id: 1c7b6823-28e7-4618-8ab0-5ef8da8b63fc
      iscommand: false
      name: What was data collection task response?
      type: condition
      version: -1
    taskid: 1c7b6823-28e7-4618-8ab0-5ef8da8b63fc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 1315
        }
      }
  "50":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Please verify service exposure was resolved by service owner and
            mark "complete" when done:'
        options: []
        optionsarg:
        - simple: Yes, remediation complete
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: Your SOC team
      title: Verify that service exposure was resolved by service owner
      totalanswers: 0
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "72"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if manual remediation (by service owner or otherwise)
        was completed via analyst input.
      id: 363d6454-984f-4e75-8e39-fce60e8a7aa5
      iscommand: false
      name: Verify service exposure resolved by service owner
      type: collection
      version: -1
    taskid: 363d6454-984f-4e75-8e39-fce60e8a7aa5
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 800,
          "y": 2380
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "176"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d4b249ba-f931-4211-86ec-fed38bd28f2c
      iscommand: false
      name: Notification Stage
      type: title
      version: -1
    taskid: d4b249ba-f931-4211-86ec-fed38bd28f2c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 1500
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "88"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2a74ea33-e35a-4e91-89ad-b4a454295dfc
      iscommand: false
      name: Remediation Stage
      type: title
      version: -1
    taskid: 2a74ea33-e35a-4e91-89ad-b4a454295dfc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -270,
          "y": 1605
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmremediation
      keys:
        simple: action,actiontimestamp,outcome,outcometimestamp
      val1:
        simple: Manual remediation
      val2:
        complex:
          accessor: timestamp
          root: alert.asmdatacollection
      val3:
        simple: Manual remediation completed
      val4:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 5a25a6a7-fd0f-42ba-8aee-499d94ad8d4c
      iscommand: false
      name: Set remediation grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 5a25a6a7-fd0f-42ba-8aee-499d94ad8d4c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": 2880
        }
      }
  "72":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: selected
                root: alert.asmdatacollection
          operator: isEqualString
          right:
            value:
              simple: Manual remediation
      label: manual from data collection
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: RemediationAction
          operator: isEqualString
          right:
            value:
              simple: Manual
      label: manual from RPR
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "73"
      manual from RPR:
      - "103"
      manual from data collection:
      - "69"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if "manual remediation" was selected on main data collection
        task.
      id: a7f0052c-3310-433c-8a1d-b68b6d53ce1c
      iscommand: false
      name: Manual remediation selected?
      type: condition
      version: -1
    taskid: a7f0052c-3310-433c-8a1d-b68b6d53ce1c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 2650
        }
      }
  "73":
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmremediation
      keys:
        simple: action,actiontimestamp,outcome,outcometimestamp
      val1:
        complex:
          accessor: type
          root: alert.asmnotification
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Notified service owner via '
              suffix: {}
            operator: concat
      val2:
        complex:
          accessor: timestamp
          root: alert.asmnotification
      val3:
        simple: Resolved by service owner
      val4:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 400a5d2c-27fe-4cee-833a-a3d9951384f2
      iscommand: false
      name: Set remediation grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 400a5d2c-27fe-4cee-833a-a3d9951384f2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 850,
          "y": 2880
        }
      }
  "81":
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "136"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmalertsummary
      keys:
        simple: link,entryid
      val1:
        complex:
          accessor: server
          root: demistoUrls
          transformers:
          - args:
              prefix: {}
              suffix:
                value:
                  simple: /xsoar/entry/download/
            operator: concat
          - args:
              prefix: {}
              suffix:
                iscontext: true
                value:
                  simple: ${lastCompletedTaskEntries.[0]}
            operator: concat
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: '%40'
              toReplace:
                value:
                  simple: '@'
            operator: replace
      val2:
        complex:
          accessor: '[0]'
          root: lastCompletedTaskEntries
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: 3029317d-a0aa-47bd-8667-a14c4704b52d
      iscommand: false
      name: Set alert summary grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 3029317d-a0aa-47bd-8667-a14c4704b52d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": 4140
        }
      }
  "86":
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      ASMRuleID:
        complex:
          accessor: asmattacksurfaceruleid
          root: alert
      RemoteIP:
        complex:
          accessor: remoteip
          root: alert
      RemotePort:
        complex:
          accessor: remoteport
          root: alert
      ScanNumber:
        simple: "2"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Playbook that looks at what ASM sub-type the alert is and directs
        it to different pre/post mitigation scans (such as NMAP).
      id: df2185f7-5dea-4431-8a00-1dff0d6b2d4d
      iscommand: false
      name: Cortex ASM - Detect Service
      playbookId: Cortex ASM - Detect Service
      type: playbook
      version: -1
    taskid: df2185f7-5dea-4431-8a00-1dff0d6b2d4d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 70,
          "y": 3190
        }
      }
  "88":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Please complete manual remediation and mark "complete" when done:'
        options: []
        optionsarg:
        - simple: Yes, remediation complete
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: singleSelect
      sender: Your SOC team
      title: Verify that manual remediation was completed
      totalanswers: 0
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "133"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if manual remediation (by service owner or otherwise)
        was completed via analyst input.
      id: f80b1685-d83c-4d3f-8219-8176c830ac92
      iscommand: false
      name: Complete manual remediation
      type: collection
      version: -1
    taskid: f80b1685-d83c-4d3f-8219-8176c830ac92
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 70,
          "y": 2230
        }
      }
  "97":
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "125"
    note: false
    quietmode: 0
    scriptarguments:
      AWSAssumeRoleName:
        simple: ${inputs.AWSAssumeRoleName}
      RemoteIP:
        complex:
          accessor: remoteip
          root: alert
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Used as a container folder for all enrichments of ASM alerts.
      id: 71dcd381-9a60-4115-88fb-e1513cbb913b
      iscommand: false
      name: Cortex ASM - Enrichment
      playbookId: Cortex ASM - Enrichment
      type: playbook
      version: -1
    taskid: 71dcd381-9a60-4115-88fb-e1513cbb913b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 70,
          "y": -870
        }
      }
  "103":
    continueonerrortype: ""
    id: "103"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmremediation
      keys:
        simple: action,actiontimestamp,outcome,outcometimestamp
      val1:
        simple: Manual remediation
      val2:
        complex:
          root: RPR_Timestamp
      val3:
        simple: Manual remediation completed
      val4:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 9cd375bf-e85e-45fd-8fa4-ee8ef8bf3d10
      iscommand: false
      name: Set remediation grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 9cd375bf-e85e-45fd-8fa4-ee8ef8bf3d10
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2880
        }
      }
  "110":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: outcome
                root: alert.asmremediation
          operator: isEqualString
          right:
            value:
              simple: Success
      - - left:
            iscontext: true
            value:
              complex:
                accessor: asmremediationpathrule
                root: alert
          operator: isNotEmpty
      label: Automated-Remediation With Rule Match
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: outcome
                root: alert.asmremediation
          operator: isEqualString
          right:
            value:
              simple: Success
      label: ' Automated-Remediation'
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: "0"
                root: Select a next step.Answers
          operator: isEqualString
          right:
            value:
              simple: Close Now
      - - left:
            iscontext: true
            value:
              complex:
                accessor: asmremediationpathrule
                root: alert
          operator: isNotEmpty
      label: Close Now With Rule Match
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: "0"
                root: Select a next step.Answers
          operator: isEqualString
          right:
            value:
              simple: Close Now
      label: Close Now
    continueonerrortype: ""
    id: "110"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      ' Automated-Remediation':
      - "112"
      '#default#':
      - "4"
      Automated-Remediation With Rule Match:
      - "114"
      Close Now:
      - "111"
      Close Now With Rule Match:
      - "113"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the alert will be closed or kept open.
      id: 75485187-2003-44f4-8476-54d27fac1cf7
      iscommand: false
      name: Close or keep open?
      type: condition
      version: -1
    taskid: 75485187-2003-44f4-8476-54d27fac1cf7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 4470
        }
      }
  "111":
    continueonerrortype: ""
    id: "111"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: Alert status set to 'Resolved' by Active Response Module
      closeReason:
        simple: Resolved
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current alert because auto-close was selected.
      id: faa2ac25-d58c-4d2b-8ad8-8ae1e27ec1c3
      iscommand: true
      name: Close alert (close now)
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: faa2ac25-d58c-4d2b-8ad8-8ae1e27ec1c3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -150,
          "y": 4790
        }
      }
  "112":
    continueonerrortype: ""
    id: "112"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: Alert status set to 'Resolved - Remediated Automatically' by Active
          Response Module
      closeReason:
        simple: Resolved - Remediated Automatically
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current alert because Automated Remediation path was
        selected.
      id: 3484098d-2bfe-4d6c-8fc6-07c1cb7ad591
      iscommand: true
      name: Close alert (remediated automatically)
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 3484098d-2bfe-4d6c-8fc6-07c1cb7ad591
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 290,
          "y": 4790
        }
      }
  "113":
    continueonerrortype: ""
    id: "113"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        complex:
          accessor: rule_name
          root: alert.asmremediationpathrule
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Alert status set to ''Resolved'' by Active Response Module
                    - Remediation Path Rule: '
              suffix: {}
            operator: concat
      closeReason:
        simple: Resolved
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current alert because auto-close was selected.
      id: f9691189-aae2-4973-89b1-45d513d7b4b1
      iscommand: true
      name: Close alert (close now) with rule match
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: f9691189-aae2-4973-89b1-45d513d7b4b1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -470,
          "y": 4650
        }
      }
  "114":
    continueonerrortype: ""
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        complex:
          accessor: rule_name
          root: alert.asmremediationpathrule
          transformers:
          - args:
              prefix:
                value:
                  simple: 'Alert status set to ''Resolved - Remediated Automatically''
                    by Active Response Module - Remediation Path Rule: '
              suffix: {}
            operator: concat
      closeReason:
        simple: Resolved - Remediated Automatically
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current alert because Automated Remediation path was
        selected.
      id: 0d6b5b4a-6676-4565-83c3-263bbb709ccd
      iscommand: true
      name: Close alert (remediated automatically) with rule match
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 0d6b5b4a-6676-4565-83c3-263bbb709ccd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 660,
          "y": 4660
        }
      }
  "120":
    continueonerrortype: ""
    id: "120"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "145"
    note: false
    quietmode: 0
    scriptarguments:
      BypassDevCheck:
        complex:
          root: inputs.BypassDevCheck
      ExternallyDetectedProviders:
        complex:
          accessor: externally_detected_providers
          root: ASM.ExternalService
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: bbcc2ebf-4475-4f87-8692-4b6960536228
      iscommand: false
      name: Cortex ASM - Remediation Path Rules
      playbookId: Cortex ASM - Remediation Path Rules
      type: playbook
      version: -1
    taskid: bbcc2ebf-4475-4f87-8692-4b6960536228
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 70,
          "y": 470
        }
      }
  "121":
    continueonerrortype: ""
    id: "121"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "175"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: abef44ae-926e-466b-8030-33c6078e12f4
      iscommand: false
      name: Analysis Stage
      type: title
      version: -1
    taskid: abef44ae-926e-466b-8030-33c6078e12f4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 70,
          "y": -535
        }
      }
  "124":
    continueonerrortype: ""
    id: "124"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: triage
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 7697188d-a525-43a6-8f5f-02d63024d1f0
      iscommand: false
      name: Set playbook stage grid field (triage)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 7697188d-a525-43a6-8f5f-02d63024d1f0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": -1170
        }
      }
  "125":
    continueonerrortype: ""
    id: "125"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "121"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: enrichment
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 73acc4cd-f162-4da9-8e80-bb677b24c0fa
      iscommand: false
      name: Set playbook stage grid field (enrichment)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 73acc4cd-f162-4da9-8e80-bb677b24c0fa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": -705
        }
      }
  "126":
    continueonerrortype: ""
    id: "126"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "144"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: analysis
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: e00a985a-489a-449d-805d-929b07974977
      iscommand: false
      name: Set playbook stage grid field (analysis)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: e00a985a-489a-449d-805d-929b07974977
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": -40
        }
      }
  "128":
    continueonerrortype: ""
    id: "128"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: decision
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: daacfc48-eb95-4aa6-8b43-92ad68d6b62c
      iscommand: false
      name: Set playbook stage grid field (decision)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: daacfc48-eb95-4aa6-8b43-92ad68d6b62c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -270,
          "y": 1180
        }
      }
  "129":
    continueonerrortype: ""
    id: "129"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: decision
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: fd339520-4a29-4412-8675-9a7ffb073f0c
      iscommand: false
      name: Set playbook stage grid field (decision)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: fd339520-4a29-4412-8675-9a7ffb073f0c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -700,
          "y": 1120
        }
      }
  "130":
    continueonerrortype: ""
    id: "130"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: decision
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 569e4b63-d599-4604-8c97-7c7200c53c59
      iscommand: false
      name: Set playbook stage grid field (decision)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 569e4b63-d599-4604-8c97-7c7200c53c59
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 800,
          "y": 1105
        }
      }
  "131":
    continueonerrortype: ""
    id: "131"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: decision
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 33010b40-f580-4f68-8ee7-95208f3b4b5e
      iscommand: false
      name: Set playbook stage grid field (decision)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 33010b40-f580-4f68-8ee7-95208f3b4b5e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 1025
        }
      }
  "133":
    continueonerrortype: ""
    id: "133"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "72"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: remediation
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: d0336db6-38a5-4c68-8e16-39fba3c1c026
      iscommand: false
      name: Set playbook stage grid field (remediation)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: d0336db6-38a5-4c68-8e16-39fba3c1c026
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": 2400
        }
      }
  "134":
    continueonerrortype: ""
    id: "134"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: notification
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: a25d63b0-fffe-4304-8357-d10c0f1a5f34
      iscommand: false
      name: Set playbook stage grid field (notification)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: a25d63b0-fffe-4304-8357-d10c0f1a5f34
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 800,
          "y": 1965
        }
      }
  "135":
    continueonerrortype: ""
    id: "135"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: validation
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: b89b04c5-a0d2-4ada-85e8-fb84fd8c0174
      iscommand: false
      name: Set playbook stage grid field (validation)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: b89b04c5-a0d2-4ada-85e8-fb84fd8c0174
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": 3700
        }
      }
  "136":
    continueonerrortype: ""
    id: "136"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "110"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: summarization
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: ea15fff7-a44e-4f31-8e63-54f069aafdec
      iscommand: false
      name: Set playbook stage grid field (summarization)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: ea15fff7-a44e-4f31-8e63-54f069aafdec
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": 4310
        }
      }
  "141":
    continueonerrortype: ""
    id: "141"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "142"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5fc53955-e98a-4b57-82dc-185bb48a79bb
      iscommand: false
      name: continue
      type: title
      version: -1
    taskid: 5fc53955-e98a-4b57-82dc-185bb48a79bb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1110,
          "y": 995
        }
      }
  "142":
    continueonerrortype: ""
    id: "142"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: Alert status set to 'Resolved - Risk Accepted' by Active Response
          Module
      closeReason:
        simple: Resolved - Risk Accepted
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current alert because the service is no longer observed.
      id: 3759b6d2-40aa-4639-8de0-d7a5768f0f78
      iscommand: true
      name: Close alert (accepted risk)
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 3759b6d2-40aa-4639-8de0-d7a5768f0f78
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -920,
          "y": 4650
        }
      }
  "144":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: id
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmsystemids.type
                    operator: isEqualString
                    right:
                      value:
                        simple: ASSET-ID
                root: alert.asmsystemids
          operator: inList
          right:
            iscontext: true
            value:
              complex:
                root: inputs.AcceptedRiskDs
        - left:
            iscontext: true
            value:
              complex:
                accessor: id
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmsystemids.type
                    operator: isEqualString
                    right:
                      value:
                        simple: GCP-Project-Number
                root: alert.asmsystemids
          operator: inList
          right:
            iscontext: true
            value:
              complex:
                root: inputs.AcceptedRiskProjects
        - left:
            iscontext: true
            value:
              complex:
                accessor: project
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmcloud.provider
                    operator: isEqualString
                    right:
                      value:
                        simple: AWS
                root: alert.asmcloud
          operator: inList
          right:
            iscontext: true
            value:
              complex:
                root: inputs.AcceptedRiskProjects
        - left:
            iscontext: true
            value:
              complex:
                accessor: id
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmsystemids.type
                    operator: isEqualString
                    right:
                      value:
                        simple: GCP-Folder-Number
                root: alert.asmsystemids
          operator: inList
          right:
            iscontext: true
            value:
              complex:
                root: inputs.AcceptedRiskOther
        - left:
            iscontext: true
            value:
              complex:
                accessor: organization
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmcloud.provider
                    operator: isEqualString
                    right:
                      value:
                        simple: Azure
                root: alert.asmcloud
          operator: inList
          right:
            iscontext: true
            value:
              complex:
                root: inputs.AcceptedRiskOther
      label: "yes"
    continueonerrortype: ""
    id: "144"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "141"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the system IDs, folders, and projects are present in
        the accepted risk lists.
      id: df8b6de0-ebf2-4344-808f-773d0a40298c
      iscommand: false
      name: Are there any matches from accepted risk lists?
      type: condition
      version: -1
    taskid: df8b6de0-ebf2-4344-808f-773d0a40298c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 120
        }
      }
  "145":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: RemediationAction
          operator: isEqualString
          right:
            value:
              simple: AR
      label: Automated Remediation
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: RemediationAction
          operator: isEqualString
          right:
            value:
              simple: SNOW
      label: ServiceNow Ticket
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: RemediationAction
          operator: isEqualString
          right:
            value:
              simple: Email
      label: Notification Email
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: RemediationAction
          operator: isEqualString
          right:
            value:
              simple: Manual
      label: Manual Remediation
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: RemediationAction
          operator: isEqualString
          right:
            value:
              simple: Jira
      label: Jira Ticket
    continueonerrortype: ""
    id: "145"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "48"
      Automated Remediation:
      - "146"
      Jira Ticket:
      - "161"
      Manual Remediation:
      - "152"
      Notification Email:
      - "163"
      ServiceNow Ticket:
      - "162"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines what the remediation action is (direct action or data
        collection task).
      id: 4766c871-f8c3-4896-8a95-02019ce271fd
      iscommand: false
      name: What is the remediation action?
      type: condition
      version: -1
    taskid: 4766c871-f8c3-4896-8a95-02019ce271fd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 70,
          "y": 660
        }
      }
  "146":
    continueonerrortype: ""
    id: "146"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "129"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0bcc9690-5c1b-4eb9-88de-d991f31820f1
      iscommand: false
      name: Automated Remediation
      type: title
      version: -1
    taskid: 0bcc9690-5c1b-4eb9-88de-d991f31820f1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -700,
          "y": 995
        }
      }
  "152":
    continueonerrortype: ""
    id: "152"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "128"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a4b94f6b-2c42-4a0e-8dfc-210138a74131
      iscommand: false
      name: Manual Remediation
      type: title
      version: -1
    taskid: a4b94f6b-2c42-4a0e-8dfc-210138a74131
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -270,
          "y": 1050
        }
      }
  "156":
    continueonerrortype: ""
    id: "156"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "178"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3d527f85-362a-4c68-8380-316a62e1924f
      iscommand: false
      name: Notification Stage
      type: title
      version: -1
    taskid: 3d527f85-362a-4c68-8380-316a62e1924f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 370,
          "y": 1630
        }
      }
  "157":
    continueonerrortype: ""
    id: "157"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "156"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: decision
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: ee8d767a-885a-444c-8465-7c0382db096d
      iscommand: false
      name: Set playbook stage grid field (decision)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: ee8d767a-885a-444c-8465-7c0382db096d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 370,
          "y": 1175
        }
      }
  "161":
    continueonerrortype: ""
    id: "161"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "157"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f12b3c1f-6c94-4918-807a-e758e467373b
      iscommand: false
      name: Jira Ticket
      type: title
      version: -1
    taskid: f12b3c1f-6c94-4918-807a-e758e467373b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 370,
          "y": 1040
        }
      }
  "162":
    continueonerrortype: ""
    id: "162"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "130"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bcef69e4-70a6-497d-8373-e29789f4c2e1
      iscommand: false
      name: ServiceNow Ticket
      type: title
      version: -1
    taskid: bcef69e4-70a6-497d-8373-e29789f4c2e1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 800,
          "y": 970
        }
      }
  "163":
    continueonerrortype: ""
    id: "163"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "131"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2313dded-570c-4388-8dd7-0de43fbbf80c
      iscommand: false
      name: Email Notification
      type: title
      version: -1
    taskid: 2313dded-570c-4388-8dd7-0de43fbbf80c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 890
        }
      }
  "164":
    continueonerrortype: ""
    id: "164"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "168"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmremediation
      keys:
        simple: action,actiontimestamp,outcome,outcometimestamp
      val1:
        simple: close service port from internet
      val2:
        simple: TIMESTAMP
      val3:
        simple: Success
      val4:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 83b8f6d3-b38f-4c08-884c-0a8f684e3b39
      iscommand: false
      name: Set remediation grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 83b8f6d3-b38f-4c08-884c-0a8f684e3b39
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -690,
          "y": 1860
        }
      }
  "165":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: email
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmserviceowner.email
                    operator: containsGeneral
                    right:
                      value:
                        simple: '@'
                root: alert.asmserviceowner
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "165"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "166"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verifies if we have emails for service owners.
      id: ec8df44c-301c-4a09-84ba-5c8855f89129
      iscommand: false
      name: Are there service owners with emails?
      type: condition
      version: -1
    taskid: ec8df44c-301c-4a09-84ba-5c8855f89129
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -690,
          "y": 2210
        }
      }
  "166":
    continueonerrortype: ""
    id: "166"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "169"
    note: false
    quietmode: 0
    scriptarguments:
      htmlBody:
        complex:
          root: inputs.RemediationNotificationHTMLBody
      subject:
        complex:
          root: inputs.RemediationNotificationSubject
      to:
        complex:
          accessor: email
          filters:
          - - left:
                iscontext: true
                value:
                  simple: alert.asmserviceowner.email
              operator: containsGeneral
              right:
                value:
                  simple: '@'
          root: alert.asmserviceowner
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email to service owners regarding the status of the automated
        remediation action that was taken.
      id: e9e352cd-b065-465f-899b-190f21c9ce72
      iscommand: true
      name: Send remediation notification email to service owners
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: e9e352cd-b065-465f-899b-190f21c9ce72
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -810,
          "y": 2440
        }
      }
  "167":
    continueonerrortype: ""
    id: "167"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "164"
    note: false
    quietmode: 0
    scriptarguments:
      AWSAssumeRoleName:
        simple: ${inputs.AWSAssumeRoleName}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook contains all the cloud provider sub playbooks for
        remediation.
      id: 7d17750d-0e91-4915-887a-43ddbbfbe339
      iscommand: false
      name: Cortex ASM - Remediation
      playbookId: Cortex ASM - Remediation
      type: playbook
      version: -1
    taskid: 7d17750d-0e91-4915-887a-43ddbbfbe339
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -690,
          "y": 1685
        }
      }
  "168":
    continueonerrortype: ""
    id: "168"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "165"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: remediation
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: e28aa7c4-0b2f-4e12-8041-731c10074f0b
      iscommand: false
      name: Set playbook stage grid field (remediation)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: e28aa7c4-0b2f-4e12-8041-731c10074f0b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -690,
          "y": 2040
        }
      }
  "169":
    continueonerrortype: ""
    id: "169"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: notification
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: ee06492a-abbb-4981-8851-732e9045e95b
      iscommand: false
      name: Set playbook stage grid field (notification)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: ee06492a-abbb-4981-8851-732e9045e95b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -810,
          "y": 2600
        }
      }
  "171":
    continueonerrortype: ""
    id: "171"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "124"
    note: false
    quietmode: 0
    scriptarguments:
      asmalertsummary:
        simple: '[]'
      asmcloud:
        simple: '[]'
      asmdatacollection:
        simple: '[]'
      asmdevcheckdetails:
        simple: '[]'
      asmenrichmentstatus:
        simple: '[]'
      asmnotification:
        simple: '[]'
      asmplaybookstage:
        simple: '[]'
      asmprivateip:
        simple: '[]'
      asmremediation:
        simple: '[]'
      asmremediationobjectives:
        simple: '[{"option": "File a ServiceNow Ticket", "statement": "In this case,
          a ServiceNow ticket will be created with some information on the alert and
          possible remediation guidance suggestions."},{"option": "File a Jira Ticket",
          "statement": "In this case, a Jira ticket will be created with some information
          on the alert and possible remediation guidance suggestions."},{"option":
          "Send a notification email", "statement": "In this case, an email ticket
          will be created with some information on the alert and possible remediation
          guidance suggestions."},{"option": "Manual remediation", "statement": "In
          this case, we will require you to manually remediate this exposure."}]'
      asmremediationpathrule:
        simple: '[]'
      asmservicedetection:
        simple: '[]'
      asmserviceowner:
        simple: '[]'
      asmserviceownerunrankedraw:
        simple: '[]'
      asmsystemids:
        simple: '[]'
      asmtags:
        simple: '[]'
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Clear ASM grid fields in case the playbook is rerun.
      id: a44a0f99-00de-4901-8cd8-85bc94ed366a
      iscommand: true
      name: Initialize grid fields
      script: Builtin|||setAlert
      type: regular
      version: -1
    taskid: a44a0f99-00de-4901-8cd8-85bc94ed366a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": -1340
        }
      }
  "172":
    continueonerrortype: ""
    id: "172"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "126"
    note: false
    quietmode: 0
    scriptarguments:
      alert_details:
        complex:
          accessor: details
          root: alert
      alert_id:
        complex:
          accessor: id
          root: alert
      alert_name:
        complex:
          accessor: name
          root: alert
      alert_severityStr:
        complex:
          accessor: severityStr
          root: alert
      asm_asset_id:
        complex:
          accessor: asmassetid
          root: alert
      asm_cloud:
        complex:
          accessor: asmcloud
          root: alert
      asm_data_collection:
        complex:
          accessor: asmdatacollection
          root: alert
      asm_notification:
        complex:
          accessor: asmnotification
          root: alert
      asm_private_ip:
        complex:
          accessor: asmprivateip
          root: alert
      asm_related:
        complex:
          accessor: asmrelated
          root: alert
      asm_remediation:
        complex:
          accessor: asmremediation
          root: alert
      asm_remediation_guidance:
        complex:
          root: RemediationGuidance
      asm_remediation_path_rule:
        complex:
          accessor: asmremediationpathrule
          root: alert
      asm_service_detection:
        complex:
          accessor: asmservicedetection
          root: alert
      asm_service_id:
        complex:
          accessor: asmserviceid
          root: alert
      asm_service_owner:
        complex:
          accessor: asmserviceowner
          root: alert
      asm_system_ids:
        complex:
          accessor: asmsystemids
          root: alert
      asm_tags:
        complex:
          accessor: asmtags
          root: alert
      report_type:
        simple: analysis
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Generate an ASM Alert Summary report.
      id: aae9af2f-62f1-49cf-8987-9bbc9912fab4
      iscommand: false
      name: GenerateSummaryReport - Analysis
      script: GenerateASMReport
      type: regular
      version: -1
    taskid: aae9af2f-62f1-49cf-8987-9bbc9912fab4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": -220
        }
      }
  "175":
    continueonerrortype: ""
    id: "175"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "172"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 1c18b32d-27ea-4d7d-8387-d96f9b6422af
      iscommand: false
      name: Cortex ASM - Remediation Guidance
      playbookId: Cortex ASM - Remediation Guidance
      type: playbook
      version: -1
    taskid: 1c18b32d-27ea-4d7d-8387-d96f9b6422af
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 70,
          "y": -380
        }
      }
  "176":
    continueonerrortype: ""
    id: "176"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "134"
    note: false
    quietmode: 0
    scriptarguments:
      OwnerNotificationBody:
        complex:
          root: inputs.OwnerNotificationBody
      OwnerNotificationSubject:
        complex:
          root: inputs.OwnerNotificationSubject
      RemediationGuidance:
        complex:
          root: RemediationGuidance
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook is used to send email notifications to service owners
        to notify them of their internet exposures.
      id: a68a7331-0bff-40c2-8231-c42822b96c12
      iscommand: false
      name: Cortex ASM - Email Notification
      playbookId: Cortex ASM - Email Notification
      type: playbook
      version: -1
    taskid: a68a7331-0bff-40c2-8231-c42822b96c12
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 1635
        }
      }
  "177":
    continueonerrortype: ""
    id: "177"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "81"
    note: false
    quietmode: 0
    scriptarguments:
      alert_details:
        complex:
          accessor: details
          root: alert
      alert_id:
        complex:
          accessor: id
          root: alert
      alert_name:
        complex:
          accessor: name
          root: alert
      alert_severityStr:
        complex:
          accessor: severityStr
          root: alert
      asm_asset_id:
        complex:
          accessor: asmassetid
          root: alert
      asm_cloud:
        complex:
          accessor: asmcloud
          root: alert
      asm_data_collection:
        complex:
          accessor: asmdatacollection
          root: alert
      asm_notification:
        complex:
          accessor: asmnotification
          root: alert
      asm_private_ip:
        complex:
          accessor: asmprivateip
          root: alert
      asm_related:
        complex:
          accessor: asmrelated
          root: alert
      asm_remediation:
        complex:
          accessor: asmremediation
          root: alert
      asm_remediation_guidance:
        complex:
          root: RemediationGuidance
      asm_remediation_path_rule:
        complex:
          accessor: asmremediationpathrule
          root: alert
      asm_service_detection:
        complex:
          accessor: asmservicedetection
          root: alert
      asm_service_id:
        complex:
          accessor: asmserviceid
          root: alert
      asm_service_owner:
        complex:
          accessor: asmserviceowner
          root: alert
      asm_system_ids:
        complex:
          accessor: asmsystemids
          root: alert
      asm_tags:
        complex:
          accessor: asmtags
          root: alert
      report_type:
        simple: summary
      retry-count:
        simple: "1"
      retry-interval:
        simple: "30"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Generate an ASM Alert Summary report.
      id: c5ee8b3b-80c8-4e66-8d23-fed4fe1714d7
      iscommand: false
      name: GenerateSummaryReport - Summary
      script: GenerateASMReport
      type: regular
      version: -1
    taskid: c5ee8b3b-80c8-4e66-8d23-fed4fe1714d7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": 3980
        }
      }
  "178":
    continueonerrortype: ""
    id: "178"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "134"
    note: false
    quietmode: 0
    scriptarguments:
      JiraProjectKey:
        complex:
          root: inputs.JiraProjectKey
      OwnerNotificationBody:
        complex:
          root: inputs.OwnerNotificationBody
      RemediationGuidance:
        complex:
          root: RemediationGuidance
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 38b28acb-6ef9-4c39-88a9-f396fd067a70
      iscommand: false
      name: Cortex ASM - Jira Notification
      playbookId: Cortex ASM - Jira Notification
      type: playbook
      version: -1
    taskid: 38b28acb-6ef9-4c39-88a9-f396fd067a70
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 370,
          "y": 1780
        }
      }
  "179":
    continueonerrortype: ""
    id: "179"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "134"
    note: false
    quietmode: 0
    scriptarguments:
      NotificationTicketType:
        complex:
          root: inputs.NotificationTicketType
      OwnerNotificationBody:
        complex:
          root: inputs.OwnerNotificationBody
      RemediationGuidance:
        complex:
          root: RemediationGuidance
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: a9ddad5d-48a5-408c-8ffa-0befe07917c4
      iscommand: false
      name: Cortex ASM - ServiceNow Notification
      playbookId: Cortex ASM - ServiceNow Notification
      type: playbook
      version: -1
    taskid: a9ddad5d-48a5-408c-8ffa-0befe07917c4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 800,
          "y": 1755
        }
      }
  "180":
    continueonerrortype: ""
    id: "180"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "171"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "yes"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.12/Cortex-XSOAR-Administrator-Guide/Automations
      id: 21d391e7-543a-4bd0-8b0b-bc56ac517439
      iscommand: false
      name: Delete context
      script: DeleteContext
      type: regular
      version: -1
    taskid: 21d391e7-543a-4bd0-8b0b-bc56ac517439
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 70,
          "y": -1500
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "110_111_Close Now": 0.88,
      "110_112_ Automated-Remediation": 0.88,
      "145_152_Manual Remediation": 0.68,
      "145_161_Jira Ticket": 0.87,
      "145_163_Notification Email": 0.74,
      "20_135_no": 0.53,
      "48_10_ServiceNow ticket": 0.82,
      "48_60_Notification email": 0.88,
      "48_63_Manual remediation": 0.52
    },
    "paper": {
      "dimensions": {
        "height": 7105,
        "width": 2710,
        "x": -1110,
        "y": -1780
      }
    }
  }
