playbook/playbook-Eradication_Plan_-_Delete_File.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    itemVersion: 2.6.15
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: "This playbook is one of the sub-playbooks in the eradication plan. \nThis
  playbook executes actions of file deletion, which is a crucial step in the eradication
  process."
id: Eradication Plan - Delete File
inputs:
- description: "Choose 'Quarantine' or 'Delete' to avoid file remediation conflicts.
    \nFor example, choosing 'Delete' ignores the 'Quarantine file' task under the
    containment playbook and executes only file deletion."
  key: FileRemediation
  playbookInputQuery: null
  required: false
  value:
    simple: Delete
- description: The endpoint ID.
  key: EndpointID
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: Endpoints
- description: The file path for the file deletion task.
  key: FilePath
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: Path
name: Eradication Plan - Delete File
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 48cbb13a-a0c0-4a27-815a-66e38f3387ff
      iscommand: false
      name: ""
      version: -1
    taskid: 48cbb13a-a0c0-4a27-815a-66e38f3387ff
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 350,
          "y": 80
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_ids:
        complex:
          root: inputs.EndpointID
      file_path:
        complex:
          root: inputs.FilePath
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Initiates a new endpoint script execution to delete the specified
        file.
      id: 7c4ec73d-fff2-45de-8387-699ac5c64a2d
      iscommand: true
      name: Auto file deletion
      script: '|||core-run-script-delete-file'
      type: regular
      version: -1
    taskid: 7c4ec73d-fff2-45de-8387-699ac5c64a2d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 350,
          "y": 430
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 040279ae-6f3d-42a1-8def-2c0565fd669f
      iscommand: false
      name: Done - File Deletion
      type: title
      version: -1
    taskid: 040279ae-6f3d-42a1-8def-2c0565fd669f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 350,
          "y": 790
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      action_id:
        complex:
          accessor: action_id
          root: Core.GetActionStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieve the results of a script execution action.
      id: e6efaf8f-a382-45a5-8286-e3e8b86eee8e
      iscommand: true
      name: Get command result
      script: '|||core-get-script-execution-results'
      type: regular
      version: -1
    taskid: e6efaf8f-a382-45a5-8286-e3e8b86eee8e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 350,
          "y": 600
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FilePath
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.EndpointID
          operator: isNotEmpty
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.FileRemediation
          operator: isEqualString
          right:
            value:
              simple: Delete
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to delete the file based on the input values.
      id: a1a09dd3-d1de-40ae-898b-6fe92bd93c6e
      iscommand: false
      name: Should delete the file?
      type: condition
      version: -1
    taskid: a1a09dd3-d1de-40ae-898b-6fe92bd93c6e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 350,
          "y": 220
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "21_3_yes": 0.59
    },
    "paper": {
      "dimensions": {
        "height": 775,
        "width": 380,
        "x": 350,
        "y": 80
      }
    }
  }
