playbook/playbook-Cortex_ASM_-_Enrichment.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.8.0
    itemVersion: 1.6.33
    packID: CortexAttackSurfaceManagement
    packName: Cortex Attack Surface Management
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: Used as a container folder for all enrichments of ASM alerts.
id: Cortex ASM - Enrichment
inputs:
- description: IP address of service
  key: RemoteIP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: remoteip
      root: alert
name: Cortex ASM - Enrichment
outputs:
- contextPath: ASM.ExternalService.externally_detected_providers
  description: Providers of the external service.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bd81427f-0b18-4854-8067-12d30ecd305b
      iscommand: false
      name: ""
      version: -1
    taskid: bd81427f-0b18-4854-8067-12d30ecd305b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 460,
          "y": -130
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RemoteIP
                transformers:
                - args:
                    error_if_no_match: {}
                    ignore_case: {}
                    multi_line: {}
                    period_matches_newline: {}
                    regex:
                      value:
                        simple: \b(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])(?:\[\.\]|\.)){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\b
                    unpack_matches: {}
                  operator: RegexExtractAll
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "68"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the IP address has been supplied to proceed with
        cloud enrichment.
      id: 749e139e-0bd0-43e6-8b70-ec6887d6f44c
      iscommand: false
      name: Is there an IP address?
      type: condition
      version: -1
    taskid: 749e139e-0bd0-43e6-8b70-ec6887d6f44c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 110,
          "y": 1845
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ed49e8a4-f7d6-4f3f-8ec0-afe044ff8b2a
      iscommand: false
      name: ServiceNow CMDB Enrichment
      type: title
      version: -1
    taskid: ed49e8a4-f7d6-4f3f-8ec0-afe044ff8b2a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2270
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ASM.ExternalService
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "85"
      "yes":
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there was a result from the previous command to continue
        cloud enrichment.
      id: 8d8d3caa-9c02-4792-81d7-5f159e37ebef
      iscommand: false
      name: Was there a result?
      type: condition
      version: -1
    taskid: 8d8d3caa-9c02-4792-81d7-5f159e37ebef
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 455
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: externally_detected_providers
                root: ASM.ExternalService
          operator: containsGeneral
          right:
            value:
              simple: Amazon Web Services
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RemoteIP
                transformers:
                - args:
                    error_if_no_match: {}
                    ignore_case: {}
                    multi_line: {}
                    period_matches_newline: {}
                    regex:
                      value:
                        simple: \b(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])(?:\[\.\]|\.)){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\b
                    unpack_matches: {}
                  operator: RegexExtractAll
          operator: isNotEmpty
      label: AWS
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: externally_detected_providers
                root: ASM.ExternalService
          operator: containsGeneral
          right:
            value:
              simple: Google
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RemoteIP
                transformers:
                - args:
                    error_if_no_match: {}
                    ignore_case: {}
                    multi_line: {}
                    period_matches_newline: {}
                    regex:
                      value:
                        simple: \b(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])(?:\[\.\]|\.)){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\b
                    unpack_matches: {}
                  operator: RegexExtractAll
          operator: isNotEmpty
      label: GCP
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: externally_detected_providers
                root: ASM.ExternalService
          operator: containsGeneral
          right:
            value:
              simple: Azure
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RemoteIP
                transformers:
                - args:
                    error_if_no_match: {}
                    ignore_case: {}
                    multi_line: {}
                    period_matches_newline: {}
                    regex:
                      value:
                        simple: \b(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])(?:\[\.\]|\.)){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\b
                    unpack_matches: {}
                  operator: RegexExtractAll
          operator: isNotEmpty
      label: Azure
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "1"
      AWS:
      - "84"
      Azure:
      - "69"
      GCP:
      - "76"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines which cloud provider the service is in order to direct
        to the correct enrichment.
      id: aef54f14-3612-487f-873d-b9a3170beec0
      iscommand: false
      name: What provider is this service?
      type: condition
      version: -1
    taskid: aef54f14-3612-487f-873d-b9a3170beec0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1550
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Cortex Attack Surface Management
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "1"
      "yes":
      - "66"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the "Cortex Attack Surface Management" integration
        instance is configured to continue with cloud enrichment.
      id: bf9bc181-4d75-436f-808a-3390fe289517
      iscommand: false
      name: Is Cortex ASM enabled?
      type: condition
      version: -1
    taskid: bf9bc181-4d75-436f-808a-3390fe289517
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 70
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2946f0ab-a0b2-4ca3-80ba-f92b8e15958a
      iscommand: false
      name: Cloud Enrichment
      type: title
      version: -1
    taskid: 2946f0ab-a0b2-4ca3-80ba-f92b8e15958a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1405
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ac5266ca-1735-46be-81a6-63b924837e89
      iscommand: false
      name: Complete
      type: title
      version: -1
    taskid: ac5266ca-1735-46be-81a6-63b924837e89
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 110,
          "y": 5210
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 0
    scriptarguments:
      RemoteIP:
        complex:
          root: inputs.RemoteIP
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: fbbfa1d7-0b7f-4ade-84c2-b8c3770128f2
      iscommand: false
      name: Cortex ASM - ServiceNow CMDB Enrichment
      playbookId: Cortex ASM - ServiceNow CMDB Enrichment
      type: playbook
      version: -1
    taskid: fbbfa1d7-0b7f-4ade-84c2-b8c3770128f2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2420
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f9e407eb-b8cd-46aa-8fee-cd49815ddba5
      iscommand: false
      name: Tenable.io Enrichment
      type: title
      version: -1
    taskid: f9e407eb-b8cd-46aa-8fee-cd49815ddba5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2590
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    scriptarguments:
      IPAddress:
        complex:
          root: inputs.RemoteIP
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Given the IP address this playbook enriches Tenable.io information
        relevant to ASM alerts.
      id: 4f4d8a1f-f39d-4efb-85fe-63c7a7913197
      iscommand: false
      name: Cortex ASM - Tenable.io Enrichment
      playbookId: Cortex ASM - Tenable.io Enrichment
      type: playbook
      version: -1
    taskid: 4f4d8a1f-f39d-4efb-85fe-63c7a7913197
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2740
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      service_id:
        complex:
          accessor: asmserviceid
          root: alert
          transformers:
          - args:
              chars:
                value:
                  simple: '[\"]'
            operator: StripChars
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex Attack Surface Management
      description: Get service details according to the service ID.
      id: d44c0e22-65e8-4bc4-816f-3affc2334a1c
      iscommand: true
      name: Get external service information
      script: Cortex Attack Surface Management|||asm-get-external-service
      type: regular
      version: -1
    taskid: d44c0e22-65e8-4bc4-816f-3affc2334a1c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 280
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      protocol:
        complex:
          accessor: protocol
          root: ASM.ExternalService
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: bbdf6750-10f4-49a2-8fd9-3ec98925e7e8
      iscommand: true
      name: Set protocol
      script: Builtin|||setAlert
      type: regular
      version: -1
    taskid: bbdf6750-10f4-49a2-8fd9-3ec98925e7e8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1240
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "78"
    note: false
    quietmode: 0
    scriptarguments:
      active_classifications:
        complex:
          accessor: active_classifications
          root: ASM.ExternalService
      asm_tags:
        complex:
          accessor: asmtags
          root: alert
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Identify whether the service is a "development" server. Development
        servers have no external users and run no production workflows. These servers
        might be named "dev", but they might also be named "qa", "pre-production",
        "user acceptance testing", or use other non-production terms. This automation
        uses both public data visible to anyone (`active_classifications` as derived
        by Xpanse ASM) as well as checking internal data for AI-learned indicators
        of development systems (`asm_tags` as derived from integrations with non-public
        systems).
      id: 54398952-9c5c-4f93-8090-f32d0f58f4a3
      iscommand: false
      name: Infer whether service is used for development (vs. production)
      script: InferWhetherServiceIsDev
      type: regular
      version: -1
    taskid: 54398952-9c5c-4f93-8090-f32d0f58f4a3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": 4860
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      RemoteIP:
        complex:
          root: inputs.RemoteIP
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Given the IP address, this playbook enriches Azure information
        relevant to ASM alerts.
      id: 869e8493-816d-4548-8908-4cbc088e09be
      iscommand: false
      name: Cortex ASM - Azure Enrichment
      playbookId: Cortex ASM - Azure Enrichment
      type: playbook
      version: -1
    taskid: 869e8493-816d-4548-8908-4cbc088e09be
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1120,
          "y": 1740
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "71"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ad08d1b9-9745-4123-82cc-b5a4db969781
      iscommand: false
      name: Splunk Enrichment
      type: title
      version: -1
    taskid: ad08d1b9-9745-4123-82cc-b5a4db969781
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2910
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "73"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          root: inputs.RemoteIP
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: 'Given the IP address this playbook enriches information from Splunk
        results relevant to ASM alerts. '
      id: 8026d630-6577-4f7e-8ee4-91afb1dd33c6
      iscommand: false
      name: Cortex ASM - Splunk Enrichment
      playbookId: Cortex ASM - Splunk Enrichment
      type: playbook
      version: -1
    taskid: 8026d630-6577-4f7e-8ee4-91afb1dd33c6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3050
        }
      }
  "72":
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "74"
    note: false
    quietmode: 0
    scriptarguments:
      IPAddress:
        complex:
          root: inputs.RemoteIP
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Given the IP address this playbook enriches Rapid7 InsightVM (Nexpose)
        information relevant to ASM alerts.
      id: 7a1aa580-c79e-4def-832a-6c76f919b3e4
      iscommand: false
      name: Cortex ASM - Rapid7 Enrichment
      playbookId: Cortex ASM - Rapid7 Enrichment
      type: playbook
      version: -1
    taskid: 7a1aa580-c79e-4def-832a-6c76f919b3e4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3350
        }
      }
  "73":
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "72"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c4460aec-1b5d-4189-8d52-fe7c71803501
      iscommand: false
      name: Rapid7 Enrichment
      type: title
      version: -1
    taskid: c4460aec-1b5d-4189-8d52-fe7c71803501
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3220
        }
      }
  "74":
    continueonerrortype: ""
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "75"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a56a4cbf-3445-44b4-8d74-7641b034c244
      iscommand: false
      name: Qualys Enrichment
      type: title
      version: -1
    taskid: a56a4cbf-3445-44b4-8d74-7641b034c244
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3520
        }
      }
  "75":
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    scriptarguments:
      QualysIP:
        complex:
          root: inputs.RemoteIP
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Given the IP address this playbook enriches information from Qualys
        assets.
      id: 2a1d1161-ef36-4bac-8348-0804e9bc8597
      iscommand: false
      name: Cortex ASM - Qualys Enrichment
      playbookId: Cortex ASM - Qualys Enrichment
      type: playbook
      version: -1
    taskid: 2a1d1161-ef36-4bac-8348-0804e9bc8597
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3650
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Given the IP address this playbook enriches GCP information relevant
        to ASM alerts.
      id: e6d5c7c5-5611-4653-83c5-59fa0bbf6280
      iscommand: false
      name: Cortex ASM - GCP Enrichment
      playbookId: Cortex ASM - GCP Enrichment
      type: playbook
      version: -1
    taskid: e6d5c7c5-5611-4653-83c5-59fa0bbf6280
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 790,
          "y": 1880
        }
      }
  "78":
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 014ea56f-2ff8-43b7-8b3c-2d6c48d05e69
      iscommand: false
      name: Cortex ASM - Service Ownership
      playbookId: Cortex ASM - Service Ownership
      type: playbook
      version: -1
    taskid: 014ea56f-2ff8-43b7-8b3c-2d6c48d05e69
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 110,
          "y": 5030
        }
      }
  "79":
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "80"
    note: false
    quietmode: 0
    scriptarguments:
      cloudProvider:
        complex:
          accessor: externally_detected_providers
          root: ASM.ExternalService
      remoteIP:
        complex:
          root: inputs.RemoteIP
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Given the IP address this playbook enriches information from Prisma
        Cloud.
      id: 13abe148-9470-4170-8e52-9e6ed74a120c
      iscommand: false
      name: Cortex ASM - Prisma Cloud Enrichment
      playbookId: Cortex ASM - Prisma Cloud Enrichment
      type: playbook
      version: -1
    taskid: 13abe148-9470-4170-8e52-9e6ed74a120c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3855
        }
      }
  "80":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmtags.value
                    operator: containsGeneral
                    right:
                      value:
                        simple: '@'
                root: alert.asmtags.value
                transformers:
                - args:
                    error_if_no_match: {}
                    ignore_case: {}
                    multi_line: {}
                    period_matches_newline: {}
                    regex:
                      value:
                        simple: '[\w-\.]+@[\w-]+\.+[\w-]{2,4}'
                    unpack_matches: {}
                  operator: RegexExtractAll
                - operator: uniq
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "68"
      "yes":
      - "81"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is email in the tags.
      id: 9fece904-670e-42ad-8e0a-31d69b39a685
      iscommand: false
      name: Are there any emails in tags?
      type: condition
      version: -1
    taskid: 9fece904-670e-42ad-8e0a-31d69b39a685
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4080
        }
      }
  "81":
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3aeec609-0a09-4019-8f13-ce78d3f0f1f0
      iscommand: false
      name: Service Owner from Tags
      type: title
      version: -1
    taskid: 3aeec609-0a09-4019-8f13-ce78d3f0f1f0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4300
        }
      }
  "82":
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "83"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: 58b3546e-5bf0-4312-8dac-1d9f9f0ee623
      iscommand: false
      name: Get current time
      script: GetTime
      type: regular
      version: -1
    taskid: 58b3546e-5bf0-4312-8dac-1d9f9f0ee623
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4440
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmserviceowner
      keys:
        simple: name,email,source,timestamp
      val1:
        simple: n/a
      val2:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: alert.asmtags.value
              operator: containsGeneral
              right:
                value:
                  simple: '@'
          root: alert.asmtags.value
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: '[\w-\.]+@[\w-]+\.+[\w-]{2,4}'
              unpack_matches: {}
            operator: RegexExtractAll
          - operator: uniq
      val3:
        complex:
          accessor: source
          root: alert.asmtags
          transformers:
          - args:
              prefix:
                value:
                  simple: Owner-In-Tags-From-
              suffix: {}
            operator: concat
          - operator: uniq
      val4:
        complex:
          root: TimeNowUnix
          transformers:
          - operator: TimeStampToDate
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Example of command:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: a1c806a0-c11f-4ea3-8adb-d4c1a3ffc466
      iscommand: false
      name: Set service owners from Tag grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: a1c806a0-c11f-4ea3-8adb-d4c1a3ffc466
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4630
        }
      }
  "84":
    continueonerrortype: ""
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      RemoteIP:
        complex:
          root: inputs.RemoteIP
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 9d1cc00b-2198-4a99-8db3-5ec85e3b464d
      iscommand: false
      name: Cortex ASM - AWS Enrichment
      playbookId: Cortex ASM - AWS Enrichment
      type: playbook
      version: -1
    taskid: 9d1cc00b-2198-4a99-8db3-5ec85e3b464d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1995
        }
      }
  "85":
    continueonerrortype: ""
    id: "85"
    ignoreworker: true
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "87"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "3660"
      seconds:
        simple: "3600"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: 6a1eaa17-3d05-4304-8613-a1a84229ae39
      iscommand: false
      name: Sleep for 1 hour
      script: Sleep
      type: regular
      version: -1
    taskid: 6a1eaa17-3d05-4304-8613-a1a84229ae39
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 940,
          "y": 640
        }
      }
  "86":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ASM.ExternalService
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "1"
      "yes":
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there was a result from the previous command to continue
        cloud enrichment.
      id: da1ae0f9-43b2-4814-8a96-53b30be702b7
      iscommand: false
      name: Was there a result?
      type: condition
      version: -1
    taskid: da1ae0f9-43b2-4814-8a96-53b30be702b7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 940,
          "y": 1040
        }
      }
  "87":
    continueonerrortype: ""
    id: "87"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "86"
    note: false
    quietmode: 0
    scriptarguments:
      service_id:
        complex:
          accessor: asmserviceid
          root: alert
          transformers:
          - args:
              chars:
                value:
                  simple: '[\"]'
            operator: StripChars
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex Attack Surface Management
      description: Get service details according to the service ID.
      id: 7d26fca6-9f79-4ebb-861b-b72153e4e3c5
      iscommand: true
      name: Get external service information
      script: Cortex Attack Surface Management|||asm-get-external-service
      type: regular
      version: -1
    taskid: 7d26fca6-9f79-4ebb-861b-b72153e4e3c5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 940,
          "y": 830
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "11_1_#default#": 0.2,
      "11_66_yes": 0.59,
      "1_3_yes": 0.24,
      "6_67_yes": 0.62,
      "7_1_#default#": 0.35,
      "7_69_Azure": 0.81
    },
    "paper": {
      "dimensions": {
        "height": 5405,
        "width": 1390,
        "x": 110,
        "y": -130
      }
    }
  }
