playbook/playbook-Cortex_ASM_-_Remediation_Path_Rules.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.9.0
    itemVersion: 1.7.30
    packID: CortexAttackSurfaceManagement
    packName: Cortex Attack Surface Management
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: This playbook returns "RemediationAction" options based on the return
  from the Remediation Path Rules API, or defaults to data collection task.
id: Cortex ASM - Remediation Path Rules
inputs:
- description: Providers of external service.
  key: ExternallyDetectedProviders
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Determine whether to bypass the Dev Check in automated remediation criteria: https://docs-cortex.paloaltonetworks.com/r/Cortex-XPANSE/Cortex-Xpanse-Expander-User-Guide/Automated-Remediation-Capabilities-Matrix

    Set to "True" if you want to bypass.  "
  key: BypassDevCheck
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
name: Cortex ASM - Remediation Path Rules
outputs:
- contextPath: RemediationAction
  description: Remediation action to be taken.
  type: string
- contextPath: RPR_Timestamp
  description: Timestamp of when the remediation path rule action was determined.
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f53e0e04-0bde-4421-81c2-3408fbb0ad52
      iscommand: false
      name: ""
      version: -1
    taskid: f53e0e04-0bde-4421-81c2-3408fbb0ad52
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 470,
          "y": -1790
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      asm_rule_id:
        complex:
          accessor: asmattacksurfaceruleid
          root: alert
          transformers:
          - args:
              chars:
                value:
                  simple: '[\"]'
            operator: StripChars
      sort_by_creation_time:
        simple: desc
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns list of remediation path rules.
      id: 0207b014-5eb8-4ef5-8f8c-c614cd144f9a
      iscommand: true
      name: List remediation path rules
      script: '|||asm-list-remediation-rule'
      type: regular
      version: -1
    taskid: 0207b014-5eb8-4ef5-8f8c-c614cd144f9a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": 405
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ASM.RemediationRule
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "45"
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there was a result from the previous command to continue.
      id: 6665e4f1-2958-4a7e-85f8-95111f0a8024
      iscommand: false
      name: Was there a result?
      type: condition
      version: -1
    taskid: 6665e4f1-2958-4a7e-85f8-95111f0a8024
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 470,
          "y": 575
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      cloud_managed:
        complex:
          accessor: asmcloud
          root: alert
      development_environment:
        complex:
          accessor: result
          root: alert.asmdevcheckdetails
      ip:
        complex:
          accessor: remoteip
          root: alert
      providers:
        complex:
          root: inputs.ExternallyDetectedProviders
      remediation_path_rules:
        complex:
          accessor: RemediationRule
          root: ASM
      service_owner_identified:
        complex:
          accessor: asmserviceowner
          root: alert
      severity:
        complex:
          accessor: severity
          root: alert
      tags:
        complex:
          accessor: asmtags
          root: alert
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: For a given alert and remediation path rules that are defined for
        that alert's attack surface rule, this takes each remediation path rule and
        looks at the rule criteria too see if the rule matches for the given alert.
        If multiple rules match, it will return the most recently created rule. This
        assumes that the rules passed in are filtered to correlate with the alert's
        attack surface rule.
      id: f2a13bb9-2de5-46b3-8b11-f37790e5e7aa
      iscommand: false
      name: Evaluate remediation path rules
      script: RemediationPathRuleEvaluation
      type: regular
      version: -1
    taskid: f2a13bb9-2de5-46b3-8b11-f37790e5e7aa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": 750
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 475baaab-5fc4-404b-83a3-12d3d7ab2fcf
      iscommand: false
      name: Complete
      type: title
      version: -1
    taskid: 475baaab-5fc4-404b-83a3-12d3d7ab2fcf
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1855
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: asmattacksurfaceruleid
                root: alert
                transformers:
                - args:
                    chars:
                      value:
                        simple: '[\"]'
                  operator: StripChars
          operator: inList
          right:
            value:
              simple: RdpServer,InsecureOpenSSH,TelnetServer,UnencryptedFtpServer,OpenSSH,SshServer,SnmpServer,MysqlServer,MongoServer,PostgresServer,ElasticsearchServer
      - - left:
            iscontext: true
            value:
              complex:
                accessor: provider
                root: alert.asmcloud
          operator: inList
          right:
            value:
              simple: AWS,GCP,Azure,On Prem
      - - left:
            iscontext: true
            value:
              complex:
                accessor: asmserviceowner
                root: alert
          operator: isNotEmpty
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: result
                root: alert.asmdevcheckdetails
          operator: isTrue
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.BypassDevCheck
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: asmattacksurfaceruleid
                root: alert
                transformers:
                - args:
                    chars:
                      value:
                        simple: '[\"]'
                  operator: StripChars
          operator: inList
          right:
            value:
              simple: UnclaimedS3Bucket
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: AWS - S3
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: Unclaimed S3 Bucket
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      Unclaimed S3 Bucket:
      - "33"
      "yes":
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the alert meets the criteria for automated remediation.
      id: d46de1a3-299d-4a2b-8a5d-541d684b5183
      iscommand: false
      name: Meets automated remediation requirements?
      type: condition
      version: -1
    taskid: d46de1a3-299d-4a2b-8a5d-541d684b5183
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 470,
          "y": -1660
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Cortex Attack Surface Management
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "45"
      "yes":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the "Cortex Attack Surface Management" integration
        instance is configured to pull Remediation Path Rules.
      id: ee07dc79-0d84-44b7-855e-c22a0c02245f
      iscommand: false
      name: Is Cortex ASM enabled?
      type: condition
      version: -1
    taskid: ee07dc79-0d84-44b7-855e-c22a0c02245f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 470,
          "y": 230
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: ServiceNow v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the "ServiceNow v2" integration instance is enabled
        in order to send ServiceNow tickets as notifications.
      id: dc8ed22e-42a4-4f17-865d-748a6497b01f
      iscommand: false
      name: Is ServiceNow v2 enabled?
      type: condition
      version: -1
    taskid: dc8ed22e-42a4-4f17-865d-748a6497b01f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 240,
          "y": -720
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ServiceNowv2Enabled
      value:
        simple: "True"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 61f1db44-72bc-4ac5-820c-e9cd290ac79c
      iscommand: false
      name: Set ServiceNowv2Enabled to true
      script: Set
      type: regular
      version: -1
    taskid: 61f1db44-72bc-4ac5-820c-e9cd290ac79c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 240,
          "y": -520
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ServiceNowv2Enabled
      value:
        simple: "False"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: e9b92d4e-6ad9-42ad-8664-73071081b9e0
      iscommand: false
      name: Set ServiceNowv2Enabled to false
      script: Set
      type: regular
      version: -1
    taskid: e9b92d4e-6ad9-42ad-8664-73071081b9e0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -170,
          "y": -510
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: AutoRemediationRequirements
      value:
        simple: "True"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 3c333ac9-103f-4df3-877c-ef08a0b2ce2c
      iscommand: false
      name: Set AutoRemediationRequirements to true
      script: Set
      type: regular
      version: -1
    taskid: 3c333ac9-103f-4df3-877c-ef08a0b2ce2c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": -1195
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: AutoRemediationRequirements
      value:
        simple: "False"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 98f3fdfd-a9a7-43ea-8fc1-d10bf21bb126
      iscommand: false
      name: Set AutoRemediationRequirements to false
      script: Set
      type: regular
      version: -1
    taskid: 98f3fdfd-a9a7-43ea-8fc1-d10bf21bb126
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 60,
          "y": -1480
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: asmremediationpathrule
                root: alert
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "45"
      "yes":
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if a matching remediation path rule was found based
        on population of the "ASM - Remediation Path Rule" field.
      id: 29f89903-4450-4edb-89a8-4dcb7eefb484
      iscommand: false
      name: Was there a match?
      type: condition
      version: -1
    taskid: 29f89903-4450-4edb-89a8-4dcb7eefb484
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 470,
          "y": 910
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: action
                root: alert.asmremediationpathrule
          operator: isEqualString
          right:
            value:
              simple: automated_remediation
      - - left:
            iscontext: true
            value:
              simple: AutoRemediationRequirements
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: return AR
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: action
                root: alert.asmremediationpathrule
          operator: isEqualString
          right:
            value:
              simple: servicenow
      - - left:
            iscontext: true
            value:
              simple: ServiceNowv2Enabled
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: return SNOW
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: action
                root: alert.asmremediationpathrule
          operator: isEqualString
          right:
            value:
              simple: email
      label: return Email
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: action
                root: alert.asmremediationpathrule
          operator: isEqualString
          right:
            value:
              simple: manual_remediation
      label: Manual
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: action
                root: ASM.RemediationRule
          operator: isEqualString
          right:
            value:
              simple: jira
      - - left:
            iscontext: true
            value:
              complex:
                root: JiraEnabled
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: Jira
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "45"
      Jira:
      - "48"
      Manual:
      - "27"
      return AR:
      - "24"
      return Email:
      - "26"
      return SNOW:
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines what is returned to the parent playbook based on contents
        of "ASM - Remediation Path Rule" field and other requirements.
      id: 1c420f97-4985-4bba-8cee-d8ed51cce2ff
      iscommand: false
      name: What is the action of the matched rule?
      type: condition
      version: -1
    taskid: 1c420f97-4985-4bba-8cee-d8ed51cce2ff
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 470,
          "y": 1120
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: RemediationAction
      value:
        simple: AR
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 68e6d8ee-e670-4beb-8dce-9e34b64f585f
      iscommand: false
      name: Return AR
      script: Set
      type: regular
      version: -1
    taskid: 68e6d8ee-e670-4beb-8dce-9e34b64f585f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1350
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: RemediationAction
      value:
        simple: SNOW
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 09502b4c-8588-4a1b-8530-f854e6c995e2
      iscommand: false
      name: Return SNOW
      script: Set
      type: regular
      version: -1
    taskid: 09502b4c-8588-4a1b-8530-f854e6c995e2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1350
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: RemediationAction
      value:
        simple: Email
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 3fda1c2d-d726-4835-8540-1c2aa16f474a
      iscommand: false
      name: Return Email
      script: Set
      type: regular
      version: -1
    taskid: 3fda1c2d-d726-4835-8540-1c2aa16f474a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 890,
          "y": 1350
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: RemediationAction
      value:
        simple: Manual
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c7a1c4d2-0e40-44ac-8d66-5361aeb0c4ad
      iscommand: false
      name: Return Manual
      script: Set
      type: regular
      version: -1
    taskid: c7a1c4d2-0e40-44ac-8d66-5361aeb0c4ad
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1310,
          "y": 1350
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: 2f03729d-b3a7-4a6c-8f85-71b5f6f15ef5
      iscommand: false
      name: Get current time
      script: GetTime
      type: regular
      version: -1
    taskid: 2f03729d-b3a7-4a6c-8f85-71b5f6f15ef5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1530
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: RPR_Timestamp
      value:
        complex:
          root: TimeNowUnix
          transformers:
          - operator: TimeStampToDate
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 26734940-913f-4bd8-8652-a63e5068f0d1
      iscommand: false
      name: Set timestamp
      script: Set
      type: regular
      version: -1
    taskid: 26734940-913f-4bd8-8652-a63e5068f0d1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1670
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dabc7f51-0ced-4b11-8b38-165e5b9077b5
      iscommand: false
      name: Also True
      type: title
      version: -1
    taskid: dabc7f51-0ced-4b11-8b38-165e5b9077b5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 910,
          "y": -1480
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: remediationoptions
      value:
        simple: Automated remediation by restricting open ports
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 717271bd-270f-4db9-86c4-22aa8a9535a0
      iscommand: false
      name: Set remediationoptions context (AR ports)
      script: Set
      type: regular
      version: -1
    taskid: 717271bd-270f-4db9-86c4-22aa8a9535a0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 470,
          "y": -1480
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: remediationoptions
      value:
        simple: Automated remediation by creating empty S3 bucket
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 74551098-9d92-446b-8eb2-30301c0196d4
      iscommand: false
      name: Set remediationoptions context (AR S3)
      script: Set
      type: regular
      version: -1
    taskid: 74551098-9d92-446b-8eb2-30301c0196d4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": -1365
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
      - "49"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a78048a8-0b1d-4f50-81d1-ec9a638828fb
      iscommand: false
      name: Notification Check
      type: title
      version: -1
    taskid: a78048a8-0b1d-4f50-81d1-ec9a638828fb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 470,
          "y": -865
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: remediationoptions
      value:
        simple: File a ServiceNow Ticket
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 581af6af-fb23-49b8-84d0-b55c3917143b
      iscommand: false
      name: Set remediationoptions context (SNOW)
      script: Set
      type: regular
      version: -1
    taskid: 581af6af-fb23-49b8-84d0-b55c3917143b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 240,
          "y": -360
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: JiraEnabled
      value:
        simple: "True"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c9fcfadd-d65c-403c-85b7-3fe6c92ebe26
      iscommand: false
      name: Set JiraEnabled to true
      script: Set
      type: regular
      version: -1
    taskid: c9fcfadd-d65c-403c-85b7-3fe6c92ebe26
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 680,
          "y": -520
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: JiraEnabled
      value:
        simple: "False"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7805e705-95f5-418c-88fb-84fccde4e45d
      iscommand: false
      name: Set JiraEnabled to false
      script: Set
      type: regular
      version: -1
    taskid: 7805e705-95f5-418c-88fb-84fccde4e45d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1090,
          "y": -520
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: remediationoptions
      value:
        simple: File a Jira Ticket
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 82db1979-3555-498d-8483-c3c12bc9fec3
      iscommand: false
      name: Set remediationoptions context (Jira)
      script: Set
      type: regular
      version: -1
    taskid: 82db1979-3555-498d-8483-c3c12bc9fec3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 680,
          "y": -360
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: remediationoptions
      value:
        simple: Send a notification email
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: d3342595-7841-4e8d-829c-2b5fb00d8bbd
      iscommand: false
      name: Set remediationoptions context (Email)
      script: Set
      type: regular
      version: -1
    taskid: d3342595-7841-4e8d-829c-2b5fb00d8bbd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": -110
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: remediationoptions
      value:
        simple: Manual remediation
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 8ef9ae63-6742-4910-8cad-82b870a3b035
      iscommand: false
      name: Set remediationoptions context (Manual)
      script: Set
      type: regular
      version: -1
    taskid: 8ef9ae63-6742-4910-8cad-82b870a3b035
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 50
        }
      }
  "45":
    continueonerrortype: ""
    form:
      description: Cortex Xpanse has the ability to fully remediate or augment your
        remediation process via integrations in other security and IT tools and control
        surfaces. The options presented in this prompt may vary depending on the integrations
        that your organization has configured and the type of alert. You can learn
        more about why you're seeing these options and what they mean at https://pan.dev.
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: What remediation action would you like to take?
        options: []
        optionsarg:
        - complex:
            root: ${remediationoptions}
        placeholder: ""
        readonly: false
        required: true
        tooltip: A selection is necessary in order for the playbook to progress further.
        type: singleSelect
      sender: Your SOC team
      title: Select a remediation option
      totalanswers: 0
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Cortex Xpanse has the ability to fully remediate or augment your remediation
          process via integrations in other security and IT tools and control surfaces.
          The options presented in this prompt may vary depending on the integrations
          that your organization has configured and the type of alert. You can learn
          more about why you're seeing these options and what they mean at https://pan.dev.
      cc: null
      format: html
      methods: []
      subject:
        simple: Select Remediation Action
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines the next action (remediation or ticket) based on user
        input. Options are based on if ServiceNowV2 integration is set up and/or the
        alert meets the requirement for automated remediation.
      id: 3dae14eb-59a7-478d-85ac-a8ef1de6e844
      iscommand: false
      name: Select remediation action (dynamic)
      type: collection
      version: -1
    taskid: 3dae14eb-59a7-478d-85ac-a8ef1de6e844
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -370,
          "y": 1350
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmdatacollection
      keys:
        simple: options,selected,answerer,timestamp
      val1:
        simple: What remediation action would you like to take?
      val2:
        complex:
          accessor: "0"
          root: Select a remediation option.Answers
          transformers:
          - operator: LastArrayElement
      val3:
        complex:
          accessor: name
          root: Select a remediation option.Answers
          transformers:
          - operator: LastArrayElement
      val4:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 6e6043e3-9638-4940-8c37-e862b439ee6a
      iscommand: false
      name: Set data collection grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 6e6043e3-9638-4940-8c37-e862b439ee6a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -370,
          "y": 1510
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmplaybookstage
      keys:
        simple: stage,timestamp
      val1:
        simple: decision
      val2:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. Instead of a value, you can enter `TIMESTAMP` to get the current timestamp in ISO format.  Example of the command:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: e44336e3-305e-4d96-8731-f5aef3c67e7a
      iscommand: false
      name: Set playbook stage grid field (decision)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: e44336e3-305e-4d96-8731-f5aef3c67e7a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -370,
          "y": 1680
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: RemediationAction
      value:
        simple: Jira
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c35cce8e-1c8e-4432-831c-65df7e04b004
      iscommand: false
      name: Return Jira
      script: Set
      type: regular
      version: -1
    taskid: c35cce8e-1c8e-4432-831c-65df7e04b004
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1720,
          "y": 1350
        }
      }
  "49":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: jira-v2
                  - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Jira V3
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "40"
      "yes":
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the "Atlassian Jira v2" or "Atlassian Jira v3" integration
        instance is enabled in order to send Jira tickets as notifications.
      id: fdfbace2-fb0b-48b1-895f-6d17a21b55a1
      iscommand: false
      name: Is Atlassian Jira v2 or v3 enabled?
      type: condition
      version: -1
    taskid: fdfbace2-fb0b-48b1-895f-6d17a21b55a1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 680,
          "y": -720
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      RemotePort:
        complex:
          accessor: remoteport
          root: alert
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Playbook that populates remediation objectives field used to display
        the remediation actions to the end user
      id: e8c04311-35a4-4a38-832d-b9d29bc149a3
      iscommand: false
      name: Cortex ASM - Remediation Objectives
      playbookId: Cortex ASM - Remediation Objectives
      type: playbook
      version: -1
    taskid: e8c04311-35a4-4a38-832d-b9d29bc149a3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 470,
          "y": -1030
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_17_yes": 0.55
    },
    "paper": {
      "dimensions": {
        "height": 3710,
        "width": 2470,
        "x": -370,
        "y": -1790
      }
    }
  }
