playbook/playbook-Cortex_ASM_-_Enrichment.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.10.0
    itemVersion: 1.7.29
    packID: CortexAttackSurfaceManagement
    packName: Cortex Attack Surface Management
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: Used as a container folder for all enrichments of ASM alerts.
id: Cortex ASM - Enrichment
inputs:
- description: IP address of service
  key: RemoteIP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: remoteip
      root: alert
- description: If assuming roles for AWS, this is the name of the role to assume (should
    be the same for all organizations).
  key: AWSAssumeRoleName
  playbookInputQuery: null
  required: false
  value: {}
name: Cortex ASM - Enrichment
outputs:
- contextPath: ASM.ExternalService.externally_detected_providers
  description: Providers of the external service.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8d5dbe75-e3d4-4313-8bb4-3bc416bb3b8a
      iscommand: false
      name: ""
      version: -1
    taskid: 8d5dbe75-e3d4-4313-8bb4-3bc416bb3b8a
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 460,
          "y": -130
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RemoteIP
                transformers:
                - args:
                    error_if_no_match: {}
                    ignore_case: {}
                    multi_line: {}
                    period_matches_newline: {}
                    regex:
                      value:
                        simple: \b(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])(?:\[\.\]|\.)){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\b
                    unpack_matches: {}
                  operator: RegexExtractAll
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "97"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the IP address has been supplied to proceed with
        cloud enrichment.
      id: 8fc95915-ad1a-4e94-8934-50053af216e4
      iscommand: false
      name: Is there an IP address?
      type: condition
      version: -1
    taskid: 8fc95915-ad1a-4e94-8934-50053af216e4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 110,
          "y": 1575
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bae432f1-a99e-44ef-8dfd-c06cd17b9271
      iscommand: false
      name: ServiceNow Enrichment
      type: title
      version: -1
    taskid: bae432f1-a99e-44ef-8dfd-c06cd17b9271
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2080
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ASM.ExternalService
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "85"
      "yes":
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there was a result from the previous command to continue
        cloud enrichment.
      id: 60b765de-17d1-47f3-81e2-872a28774620
      iscommand: false
      name: Was there a result?
      type: condition
      version: -1
    taskid: 60b765de-17d1-47f3-81e2-872a28774620
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 435
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: externally_detected_providers
                root: ASM.ExternalService
          operator: containsGeneral
          right:
            value:
              simple: Amazon Web Services
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RemoteIP
                transformers:
                - args:
                    error_if_no_match: {}
                    ignore_case: {}
                    multi_line: {}
                    period_matches_newline: {}
                    regex:
                      value:
                        simple: \b(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])(?:\[\.\]|\.)){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\b
                    unpack_matches: {}
                  operator: RegexExtractAll
          operator: isNotEmpty
      label: AWS
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: externally_detected_providers
                root: ASM.ExternalService
          operator: containsGeneral
          right:
            value:
              simple: Google
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RemoteIP
                transformers:
                - args:
                    error_if_no_match: {}
                    ignore_case: {}
                    multi_line: {}
                    period_matches_newline: {}
                    regex:
                      value:
                        simple: \b(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])(?:\[\.\]|\.)){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\b
                    unpack_matches: {}
                  operator: RegexExtractAll
          operator: isNotEmpty
      label: GCP
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: externally_detected_providers
                root: ASM.ExternalService
          operator: containsGeneral
          right:
            value:
              simple: Azure
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RemoteIP
                transformers:
                - args:
                    error_if_no_match: {}
                    ignore_case: {}
                    multi_line: {}
                    period_matches_newline: {}
                    regex:
                      value:
                        simple: \b(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])(?:\[\.\]|\.)){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\b
                    unpack_matches: {}
                  operator: RegexExtractAll
          operator: isNotEmpty
      label: Azure
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: externally_detected_providers
                root: ASM.ExternalService
          operator: containsGeneral
          right:
            value:
              simple: On Prem
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RemoteIP
                transformers:
                - args:
                    error_if_no_match: {}
                    ignore_case: {}
                    multi_line: {}
                    period_matches_newline: {}
                    regex:
                      value:
                        simple: \b(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])(?:\[\.\]|\.)){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\b
                    unpack_matches: {}
                  operator: RegexExtractAll
          operator: isNotEmpty
      label: On Prem
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "1"
      AWS:
      - "84"
      Azure:
      - "69"
      GCP:
      - "76"
      On Prem:
      - "88"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines which cloud provider the service is in order to direct
        to the correct enrichment.
      id: b30f029a-f6fe-496c-8c52-c241983692fb
      iscommand: false
      name: What provider is this service?
      type: condition
      version: -1
    taskid: b30f029a-f6fe-496c-8c52-c241983692fb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1400
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Cortex Attack Surface Management
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                accessor: asmserviceid
                root: alert
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "1"
      "yes":
      - "66"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the "Cortex Attack Surface Management" integration
        instance is configured and that there is a service to continue with enrichment.
      id: 59d2a4ff-e6e0-4a39-8d0e-9e041fb13f76
      iscommand: false
      name: Is Cortex ASM enabled and is there a service?
      type: condition
      version: -1
    taskid: 59d2a4ff-e6e0-4a39-8d0e-9e041fb13f76
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 0
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5827381b-3e20-45e6-8fd0-82e981f15c06
      iscommand: false
      name: Cloud Enrichment
      type: title
      version: -1
    taskid: 5827381b-3e20-45e6-8fd0-82e981f15c06
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1265
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 03fb1120-28e7-4a0e-875d-a3b13dc29a8a
      iscommand: false
      name: Complete
      type: title
      version: -1
    taskid: 03fb1120-28e7-4a0e-875d-a3b13dc29a8a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 110,
          "y": 5770
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "89"
    note: false
    quietmode: 0
    scriptarguments:
      RemoteIP:
        complex:
          root: inputs.RemoteIP
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 14e6642a-c405-4706-8367-4c8e708c191d
      iscommand: false
      name: Cortex ASM - ServiceNow CMDB Enrichment
      playbookId: Cortex ASM - ServiceNow CMDB Enrichment
      type: playbook
      version: -1
    taskid: 14e6642a-c405-4706-8367-4c8e708c191d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2210
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cb1861a2-5f3d-485e-8577-efc1539fcaf9
      iscommand: false
      name: Tenable.io Enrichment
      type: title
      version: -1
    taskid: cb1861a2-5f3d-485e-8577-efc1539fcaf9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2540
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    scriptarguments:
      IPAddress:
        complex:
          root: inputs.RemoteIP
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Given the IP address this playbook enriches Tenable.io information
        relevant to ASM alerts.
      id: 249a0a6e-ec59-4ecf-8bc9-a653b0cc8dcf
      iscommand: false
      name: Cortex ASM - Tenable.io Enrichment
      playbookId: Cortex ASM - Tenable.io Enrichment
      type: playbook
      version: -1
    taskid: 249a0a6e-ec59-4ecf-8bc9-a653b0cc8dcf
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2670
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      service_id:
        complex:
          accessor: asmserviceid
          root: alert
          transformers:
          - args:
              chars:
                value:
                  simple: '[\"]'
            operator: StripChars
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex Attack Surface Management
      description: Get service details according to the service ID.
      id: 961f5823-47ec-4caa-8f05-af42d0ef28bc
      iscommand: true
      name: Get external service information
      script: Cortex Attack Surface Management|||asm-get-external-service
      type: regular
      version: -1
    taskid: 961f5823-47ec-4caa-8f05-af42d0ef28bc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 270
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      protocol:
        complex:
          accessor: protocol
          root: ASM.ExternalService
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 1f83a760-1cd2-4a27-87d3-cfebd7bcb1c3
      iscommand: true
      name: Set protocol
      script: Builtin|||setAlert
      type: regular
      version: -1
    taskid: 1f83a760-1cd2-4a27-87d3-cfebd7bcb1c3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1100
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "78"
    note: false
    quietmode: 0
    scriptarguments:
      active_classifications:
        complex:
          accessor: active_classifications
          root: ASM.ExternalService
      asm_tags:
        complex:
          accessor: asmtags
          root: alert
      hierarchy_info:
        complex:
          accessor: asmassethierarchy
          root: alert
          transformers:
          - args:
              delimiter:
                value:
                  simple: /
            operator: split
      provider:
        complex:
          accessor: provider
          root: alert.asmcloud
          transformers:
          - operator: FirstArrayElement
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Identify whether the service is a "development" server. Development
        servers have no external users and run no production workflows. These servers
        might be named "dev", but they might also be named "qa", "pre-production",
        "user acceptance testing", or use other non-production terms. This automation
        uses both public data visible to anyone (`active_classifications` as derived
        by Xpanse ASM) as well as checking internal data for AI-learned indicators
        of development systems (`asm_tags` as derived from integrations with non-public
        systems).
      id: 02b9a5b3-011a-4174-8102-47b182af6349
      iscommand: false
      name: Infer whether service is used for development (vs. production)
      script: InferWhetherServiceIsDev
      type: regular
      version: -1
    taskid: 02b9a5b3-011a-4174-8102-47b182af6349
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": 5420
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      RemoteIP:
        complex:
          root: inputs.RemoteIP
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Given the IP address, this playbook enriches Azure information
        relevant to ASM alerts.
      id: e6a6c9b3-95b7-4c85-8ad6-2c9c165d59ca
      iscommand: false
      name: Cortex ASM - Azure Enrichment
      playbookId: Cortex ASM - Azure Enrichment
      type: playbook
      version: -1
    taskid: e6a6c9b3-95b7-4c85-8ad6-2c9c165d59ca
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1070,
          "y": 1680
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "71"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f4e5d947-fbc0-46af-82c7-581ff23547fc
      iscommand: false
      name: Splunk Enrichment
      type: title
      version: -1
    taskid: f4e5d947-fbc0-46af-82c7-581ff23547fc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2830
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "73"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          root: inputs.RemoteIP
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: 'Given the IP address this playbook enriches information from Splunk
        results relevant to ASM alerts. '
      id: 42597166-447c-4f51-8eec-f9ee56a39cfa
      iscommand: false
      name: Cortex ASM - Splunk Enrichment
      playbookId: Cortex ASM - Splunk Enrichment
      type: playbook
      version: -1
    taskid: 42597166-447c-4f51-8eec-f9ee56a39cfa
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2960
        }
      }
  "72":
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "74"
    note: false
    quietmode: 0
    scriptarguments:
      IPAddress:
        complex:
          root: inputs.RemoteIP
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Given the IP address this playbook enriches Rapid7 InsightVM (Nexpose)
        information relevant to ASM alerts.
      id: fcf58aef-87c8-44dc-8721-2bfd92278810
      iscommand: false
      name: Cortex ASM - Rapid7 Enrichment
      playbookId: Cortex ASM - Rapid7 Enrichment
      type: playbook
      version: -1
    taskid: fcf58aef-87c8-44dc-8721-2bfd92278810
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3250
        }
      }
  "73":
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "72"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 80e14db8-5a6e-4974-8ee9-2592f8faf339
      iscommand: false
      name: Rapid7 Enrichment
      type: title
      version: -1
    taskid: 80e14db8-5a6e-4974-8ee9-2592f8faf339
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3120
        }
      }
  "74":
    continueonerrortype: ""
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "75"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 511d3c2e-4e40-4b5e-81fa-4448d0617cee
      iscommand: false
      name: Qualys Enrichment
      type: title
      version: -1
    taskid: 511d3c2e-4e40-4b5e-81fa-4448d0617cee
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3410
        }
      }
  "75":
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    scriptarguments:
      QualysIP:
        complex:
          root: inputs.RemoteIP
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Given the IP address this playbook enriches information from Qualys
        assets.
      id: 83fc6f7a-6408-417c-8f4c-c294fa71b6af
      iscommand: false
      name: Cortex ASM - Qualys Enrichment
      playbookId: Cortex ASM - Qualys Enrichment
      type: playbook
      version: -1
    taskid: 83fc6f7a-6408-417c-8f4c-c294fa71b6af
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3540
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Given the IP address this playbook enriches GCP information relevant
        to ASM alerts.
      id: b2e4a2b0-c98a-4b26-891e-f0e46e3051c3
      iscommand: false
      name: Cortex ASM - GCP Enrichment
      playbookId: Cortex ASM - GCP Enrichment
      type: playbook
      version: -1
    taskid: b2e4a2b0-c98a-4b26-891e-f0e46e3051c3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 800,
          "y": 1790
        }
      }
  "78":
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: b47dd9bc-3b60-481b-80e3-7c28f00d8d60
      iscommand: false
      name: Cortex ASM - Service Ownership
      playbookId: Cortex ASM - Service Ownership
      type: playbook
      version: -1
    taskid: b47dd9bc-3b60-481b-80e3-7c28f00d8d60
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 110,
          "y": 5600
        }
      }
  "79":
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "95"
    note: false
    quietmode: 0
    scriptarguments:
      cloudProvider:
        complex:
          accessor: externally_detected_providers
          root: ASM.ExternalService
      remoteIP:
        complex:
          root: inputs.RemoteIP
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Given the IP address this playbook enriches information from Prisma
        Cloud.
      id: fc7041a9-0b73-473f-8383-28a7e8f27b5f
      iscommand: false
      name: Cortex ASM - Prisma Cloud Enrichment
      playbookId: Cortex ASM - Prisma Cloud Enrichment
      type: playbook
      version: -1
    taskid: fc7041a9-0b73-473f-8383-28a7e8f27b5f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3830
        }
      }
  "80":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: alert.asmtags.value
                    operator: containsGeneral
                    right:
                      value:
                        simple: '@'
                root: alert.asmtags.value
                transformers:
                - args:
                    error_if_no_match: {}
                    ignore_case: {}
                    multi_line: {}
                    period_matches_newline: {}
                    regex:
                      value:
                        simple: '[\w-\.]+@[\w-]+\.+[\w-]{2,4}'
                    unpack_matches: {}
                  operator: RegexExtractAll
                - operator: uniq
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "97"
      "yes":
      - "81"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is email in the tags.
      id: 86ea25e8-35ac-41ed-84b5-79d9edba8c67
      iscommand: false
      name: Are there any emails in tags?
      type: condition
      version: -1
    taskid: 86ea25e8-35ac-41ed-84b5-79d9edba8c67
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4330
        }
      }
  "81":
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 772ea111-00e3-496f-8e31-ca431de2353b
      iscommand: false
      name: Service Owner from Tags
      type: title
      version: -1
    taskid: 772ea111-00e3-496f-8e31-ca431de2353b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4550
        }
      }
  "82":
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "83"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Retrieves the current date and time.
      id: e5e7e221-bd10-41b9-850d-3255de42395c
      iscommand: false
      name: Get current time
      script: GetTime
      type: regular
      version: -1
    taskid: e5e7e221-bd10-41b9-850d-3255de42395c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4700
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmserviceowner
      keys:
        simple: name,email,source,timestamp
      val1:
        simple: n/a
      val2:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: alert.asmtags.value
              operator: containsGeneral
              right:
                value:
                  simple: '@'
          root: alert.asmtags.value
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: '[\w-\.]+@[\w-]+\.+[\w-]{2,4}'
              unpack_matches: {}
            operator: RegexExtractAll
          - operator: uniq
      val3:
        complex:
          accessor: source
          root: alert.asmtags
          transformers:
          - args:
              prefix:
                value:
                  simple: Owner-In-Tags-From-
              suffix: {}
            operator: concat
          - operator: uniq
      val4:
        complex:
          root: TimeNowUnix
          transformers:
          - operator: TimeStampToDate
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Automation used to more easily populate a grid field.  This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Example of command:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: bebad225-af88-459a-8922-c895da3b4b22
      iscommand: false
      name: Set service owners from Tag grid field
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: bebad225-af88-459a-8922-c895da3b4b22
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4870
        }
      }
  "84":
    continueonerrortype: ""
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      ASMRuleID:
        complex:
          accessor: asmattacksurfaceruleid
          root: alert
      AWSAssumeRoleName:
        simple: ${inputs.AWSAssumeRoleName}
      RemoteIP:
        complex:
          root: inputs.RemoteIP
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Given the IP address this playbook enriches AWS information relevant
        to ASM alerts.
      id: 575e1330-58ac-46f4-865d-90b726f4913a
      iscommand: false
      name: Cortex ASM - AWS Enrichment
      playbookId: Cortex ASM - AWS Enrichment
      type: playbook
      version: -1
    taskid: 575e1330-58ac-46f4-865d-90b726f4913a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1905
        }
      }
  "85":
    continueonerrortype: ""
    id: "85"
    ignoreworker: true
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "87"
    note: false
    quietmode: 0
    scriptarguments:
      execution-timeout:
        simple: "3660"
      seconds:
        simple: "3600"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sleep for X seconds
      id: c3569b49-537f-4bec-8669-bc9b871c700d
      iscommand: false
      name: Sleep for 1 hour
      script: Sleep
      type: regular
      version: -1
    taskid: c3569b49-537f-4bec-8669-bc9b871c700d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 940,
          "y": 610
        }
      }
  "86":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ASM.ExternalService
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "1"
      "yes":
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there was a result from the previous command to continue
        cloud enrichment.
      id: 530bee0a-c292-456c-8fb4-df383e8c1ceb
      iscommand: false
      name: Was there a result?
      type: condition
      version: -1
    taskid: 530bee0a-c292-456c-8fb4-df383e8c1ceb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 940,
          "y": 930
        }
      }
  "87":
    continueonerrortype: ""
    id: "87"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "86"
    note: false
    quietmode: 0
    scriptarguments:
      service_id:
        complex:
          accessor: asmserviceid
          root: alert
          transformers:
          - args:
              chars:
                value:
                  simple: '[\"]'
            operator: StripChars
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex Attack Surface Management
      description: Get service details according to the service ID.
      id: 2639a169-6226-4fc6-89cf-b18e94ab8364
      iscommand: true
      name: Get external service information
      script: Cortex Attack Surface Management|||asm-get-external-service
      type: regular
      version: -1
    taskid: 2639a169-6226-4fc6-89cf-b18e94ab8364
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 940,
          "y": 770
        }
      }
  "88":
    continueonerrortype: ""
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      RemoteIP:
        complex:
          root: inputs.RemoteIP
      RemotePort:
        complex:
          accessor: remoteport
          root: alert
      RemoteProtocol:
        complex:
          accessor: protocol
          root: alert
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: b2dbfba1-bd1e-4ad8-856f-7f5588e5e87c
      iscommand: false
      name: Cortex ASM - On Prem Enrichment
      playbookId: Cortex ASM - On Prem Enrichment
      type: playbook
      version: -1
    taskid: b2dbfba1-bd1e-4ad8-856f-7f5588e5e87c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1575
        }
      }
  "89":
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 0
    scriptarguments:
      search_terms:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: alert.asmsystemids.type
              operator: isEqualString
              right:
                value:
                  simple: ASSET-NAME
            - left:
                iscontext: true
                value:
                  simple: alert.asmsystemids.type
              operator: isEqualString
              right:
                value:
                  simple: ASSET-ID
          root: alert.asmsystemids
          transformers:
          - args:
              field:
                value:
                  simple: id
            operator: getField
          - operator: uniq
          - args:
              regex:
                value:
                  simple: '[nN]/[aA]'
              replaceWith: {}
            operator: replaceMatch
          - args:
              empty_values: {}
              remove_keys: {}
            operator: RemoveEmpty
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 3a6a9a5b-9caa-49c2-84fc-4278c39c360c
      iscommand: false
      name: Cortex ASM - ServiceNow ITSM Enrichment
      playbookId: Cortex ASM - ServiceNow ITSM Enrichment
      type: playbook
      version: -1
    taskid: 3a6a9a5b-9caa-49c2-84fc-4278c39c360c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 2375
        }
      }
  "90":
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6c285b25-4a3a-417d-8db9-7bab605df0c9
      iscommand: false
      name: Prisma Cloud Enrichment
      type: title
      version: -1
    taskid: 6c285b25-4a3a-417d-8db9-7bab605df0c9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3700
        }
      }
  "94":
    continueonerrortype: ""
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "80"
    note: false
    quietmode: 0
    scriptarguments:
      RemoteIP:
        simple: ${inputs.RemoteIP}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook is used to pull information from Cortex Endpoint
        (XSIAM/XDR) systems for enrichment purposes.
      id: 40eef9bd-ae5a-4ea4-8a5c-9c3d55dabdd2
      iscommand: false
      name: Cortex ASM - Cortex Endpoint Enrichment
      playbookId: Cortex ASM - Cortex Endpoint Enrichment
      type: playbook
      version: -1
    taskid: 40eef9bd-ae5a-4ea4-8a5c-9c3d55dabdd2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4160
        }
      }
  "95":
    continueonerrortype: ""
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "94"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2ec48b64-a84e-41ce-8a75-52385e333823
      iscommand: false
      name: Cortex Endpoint Enrichment
      type: title
      version: -1
    taskid: 2ec48b64-a84e-41ce-8a75-52385e333823
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4010
        }
      }
  "96":
    continueonerrortype: ""
    id: "96"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    scriptarguments:
      serviceowner:
        simple: ${alert.asmserviceowner.email}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Playbook to enriches Service ownership info in Azure and On-Prem
        Active Directory.
      id: dcc10bc8-d8bf-4d15-8a62-4e6ca0b2759b
      iscommand: false
      name: Cortex ASM - Active Directory Enrichment
      playbookId: Cortex ASM - Active Directory Enrichment
      type: playbook
      version: -1
    taskid: dcc10bc8-d8bf-4d15-8a62-4e6ca0b2759b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 110,
          "y": 5250
        }
      }
  "97":
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "96"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cee627d6-2c68-409e-8d33-98ab4379aa46
      iscommand: false
      name: Active Directory Enrichment
      type: title
      version: -1
    taskid: cee627d6-2c68-409e-8d33-98ab4379aa46
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 110,
          "y": 5100
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "11_1_#default#": 0.2,
      "11_66_yes": 0.59,
      "1_3_yes": 0.24,
      "6_67_yes": 0.62,
      "7_1_#default#": 0.35,
      "7_69_Azure": 0.81,
      "80_97_#default#": 0.9
    },
    "paper": {
      "dimensions": {
        "height": 5965,
        "width": 1610,
        "x": 110,
        "y": -130
      }
    }
  }
