playbook/playbook-Ransomware_Response.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    itemVersion: 3.0.21
    packID: Core
    packName: Core - Investigation and Response
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: "This playbook handles ransomware alerts based on the Cortex XDR Traps
  module signature 'Suspicious File Modification'\n\n**Attacker’s Goals:**\n\nAn attacker
  is attempting to encrypt the victim files for either extortion or destruction purposes.\n\n**Investigative
  Actions:**\n\nInvestigate the executed process image and verify if it is malicious
  using:\n\nXDR trusted signers\n\nVT trusted signers\n\nVT detection rate\n\nNSRL
  DB\n\n**Response Actions:**\n\nThe playbook’s first response action is a remediation
  plan which includes two sub-playbooks, **Containment Plan** and **Eradication Plan**,
  which is based on the initial data provided within the alert. In that phase, the
  playbooks will execute:\n\nAuto endpoint isolation\n\nAuto block indicators\n\nAuto
  file quarantine\n\nAuto user disable\n\nAuto process termination\n\nNext, the playbook
  executes an enrichment and response phase which includes two sub-playbooks, **Ransomware
  Enrich and Contain** & **Account Enrichment - Generic v2.1**.\nThe Ransomware Enrich
  and Contain playbook does the following:\n\n1.Checks if the initiator is a remote
  attacker and allows isolating the remote host, if possible. \n\n2.Retrieves the
  WildFire sandbox report and extracts the indicators within it. * The playbook tries
  to retrieve the report, but if there is no report available, the playbook tries
  to fetch the ransomware file for detonation. \n\n3.Hunts for the ransomware alert
  indicators from the alert table, searches for endpoints that have been seen with
  them, and allows containing the identified endpoints.\n\nNext, an advanced analysis
  playbook, which is currently done mostly manually, will be executed. This sub-playbook,
  **Ransomware Advanced Analysis** allows the analyst to upload the ransomware note
  and for the ransomware identification. Using the **ID-Ransomware** service, the
  analyst will be able to get the ransomware type and the decryptor if available.\n\nWhen
  the playbook executes, it checks for additional activity using the Endpoint Investigation
  Plan playbook, and another phase, which includes the Containment Plan sub-playbook,
  is executed.\n\n**This phase will execute the following containment actions:**\n\nManual
  block indicators\n\nManual file quarantine\n\nAuto endpoint isolation\n\nFinally,
  the recovery phase is executed. If the analysts decides to continue with the investigation
  rather than recover and close the alert, a manual task with **CISA** official ransomware
  investigation checklist is provided for further investigation.\n\n**External resources:**\n\n[MITRE
  Technique T1486](https://attack.mitre.org/techniques/T1486/)\n\n[CISA Ransomware
  Guide](https://www.cisa.gov/stopransomware/ransomware-guide)"
id: Ransomware Response
inputSections:
- description: Alert management settings and data, including escalation processes,
    and user engagements.
  inputs:
  - ShouldCloseAutomatically
  - FileSHA256
  - FilePath
  - IP
  name: Alert Management
- description: Investigation settings and data, including any deep dive alert investigation
    and verdict determination.
  inputs:
  - RunAdvancedAnalysis
  name: Investigation
- description: Remediation settings and data, including containment, eradication,
    and recovery.
  inputs:
  - earlyRemediation
  - AutoContainment
  - AutoEradication
  - isolateRemoteAttacker
  - isolateSimilarEndpoints
  name: Remediation
- description: Ticket management settings and data.
  inputs:
  - ShouldOpenTicket
  - serviceNowShortDescription
  - serviceNowImpact
  - serviceNowUrgency
  - serviceNowSeverity
  - serviceNowTicketType
  - serviceNowCategory
  - serviceNowAssignmentGroup
  - ZendeskPriority
  - ZendeskRequester
  - ZendeskStatus
  - ZendeskSubject
  - ZendeskTags
  - ZendeskType
  - ZendeskAssigne
  - ZendeskCollaborators
  - description
  - addCommentPerEndpoint
  - CommentToAdd
  name: Ticket Management
inputs:
- description: Whether to execute the early remediation phase.
  key: earlyRemediation
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Whether to execute the containment actions automatically.
  key: AutoContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Whether to execute the eradication actions automatically.
  key: AutoEradication
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Whether to isolate the remote endpoint if the attack has been triggered
    remotely.
  key: isolateRemoteAttacker
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Whether to isolate the endpoints identified with similar IoCs to the
    ransomware alert.
  key: isolateSimilarEndpoints
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Whether to execute the Ransomware Advanced Analysis playbook.  Note
    that advanced analysis contains manual tasks which will stop the playbook's flow
    until the analysts's response.
  key: RunAdvancedAnalysis
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Whether to close the alert automatically.
  key: ShouldCloseAutomatically
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: The file SHA256 to investigate.
  key: FileSHA256
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: initiatorsha256
      root: alert
- description: The file path to investigate.
  key: FilePath
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: initiatorpath
      root: alert
- description: The IP address to investigate.
  key: IP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: hostip
      root: alert
- description: Whether to open a ticket automatically in a ticketing system. (True/False).
  key: ShouldOpenTicket
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: A short description of the ticket.
  key: serviceNowShortDescription
  playbookInputQuery: null
  required: false
  value:
    simple: XSIAM Incident ID - ${parentIncidentFields.incident_id}
- description: The impact for the new ticket. Leave empty for ServiceNow default impact.
  key: serviceNowImpact
  playbookInputQuery: null
  required: false
  value: {}
- description: The urgency of the new ticket. Leave empty for ServiceNow default urgency.
  key: serviceNowUrgency
  playbookInputQuery: null
  required: false
  value: {}
- description: The severity of the new ticket. Leave empty for ServiceNow default
    severity.
  key: serviceNowSeverity
  playbookInputQuery: null
  required: false
  value: {}
- description: The ServiceNow ticket type. Options are "incident", "problem", "change_request",
    "sc_request", "sc_task", or "sc_req_item". Default is "incident".
  key: serviceNowTicketType
  playbookInputQuery: null
  required: false
  value: {}
- description: The category of the ServiceNow ticket.
  key: serviceNowCategory
  playbookInputQuery: null
  required: false
  value: {}
- description: The group to which to assign the new ticket.
  key: serviceNowAssignmentGroup
  playbookInputQuery: null
  required: false
  value: {}
- description: The urgency with which the ticket should be addressed. Allowed values
    are "urgent", "high", "normal", or "low".
  key: ZendeskPriority
  playbookInputQuery: null
  required: false
  value: {}
- description: The user who requested this ticket.
  key: ZendeskRequester
  playbookInputQuery: null
  required: false
  value: {}
- description: The state of the ticket. Allowed values are "new", "open", "pending",
    "hold", "solved", or "closed".
  key: ZendeskStatus
  playbookInputQuery: null
  required: false
  value: {}
- description: The value of the subject field for this ticket.
  key: ZendeskSubject
  playbookInputQuery: null
  required: false
  value:
    simple: XSIAM Incident ID - ${parentIncidentFields.incident_id}
- description: The array of tags applied to this ticket.
  key: ZendeskTags
  playbookInputQuery: null
  required: false
  value: {}
- description: The type of this ticket. Allowed values are "problem", "incident",
    "question", or "task".
  key: ZendeskType
  playbookInputQuery: null
  required: false
  value: {}
- description: The agent currently assigned to the ticket.
  key: ZendeskAssigne
  playbookInputQuery: null
  required: false
  value: {}
- description: The users currently CC'ed on the ticket.
  key: ZendeskCollaborators
  playbookInputQuery: null
  required: false
  value: {}
- description: The ticket description.
  key: description
  playbookInputQuery: null
  required: false
  value:
    simple: ${parentIncidentFields.description}. ${parentIncidentFields.xdr_url}
- description: 'Whether to append a new comment to the ticket for each endpoint in
    the incident. Possible values: True/False.'
  key: addCommentPerEndpoint
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Comment for the ticket.
  key: CommentToAdd
  playbookInputQuery: null
  required: false
  value:
    simple: '${alert.name}. Alert ID: ${alert.id}'
name: Ransomware Response
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "133"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6298549f-49f4-40d2-8191-7569bc462e87
      iscommand: false
      name: ""
      version: -1
    taskid: 6298549f-49f4-40d2-8191-7569bc462e87
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 360,
          "y": 2070
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: aab72395-ab25-404f-8ed3-0bb11e2f0f54
      iscommand: false
      name: Pre-Analysis Containment
      type: title
      version: -1
    taskid: aab72395-ab25-404f-8ed3-0bb11e2f0f54
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 360,
          "y": 3125
        }
      }
  "5":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.earlyRemediation
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "103"
      - "136"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to execute an early remediation.
      id: a370e139-e6b7-4ae8-869a-a17c21f0deb9
      iscommand: false
      name: Should execute early remediation?
      type: condition
      version: -1
    taskid: a370e139-e6b7-4ae8-869a-a17c21f0deb9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 360,
          "y": 3260
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "120"
      - "137"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fcd06da8-42be-451f-8732-578fa30d464f
      iscommand: false
      name: Identify and Respond
      type: title
      version: -1
    taskid: fcd06da8-42be-451f-8732-578fa30d464f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 360,
          "y": 3600
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "121"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fe283460-c0d2-4830-8560-1b8dd76d2e06
      iscommand: false
      name: Advanced Analysis
      type: title
      version: -1
    taskid: fe283460-c0d2-4830-8560-1b8dd76d2e06
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 360,
          "y": 3930
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "135"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fd0440b6-35fb-43d2-83fe-7f92f493282e
      iscommand: false
      name: Investigation
      type: title
      version: -1
    taskid: fd0440b6-35fb-43d2-83fe-7f92f493282e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 360,
          "y": 4410
        }
      }
  "81":
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "106"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 449cb9c3-df2f-4302-88c0-038c41c0c705
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: 449cb9c3-df2f-4302-88c0-038c41c0c705
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 740,
          "y": 4910
        }
      }
  "95":
    continueonerrortype: ""
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 090eb73d-6b18-4d1f-8c19-f2da08a8ddf7
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 090eb73d-6b18-4d1f-8c19-f2da08a8ddf7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -250,
          "y": 6070
        }
      }
  "103":
    continueonerrortype: ""
    id: "103"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      AutoContainment:
        complex:
          root: inputs.AutoContainment
      BlockIndicators:
        simple: "True"
      ClearUserSessions:
        simple: "false"
      EndpointID:
        complex:
          accessor: agentid
          root: alert
      FileContainment:
        simple: "True"
      FileHash:
        complex:
          root: inputs.FileSHA256
      FilePath:
        complex:
          root: inputs.FilePath
      FileRemediation:
        simple: Quarantine
      HostContainment:
        simple: "True"
      UserContainment:
        simple: "True"
      UserVerification:
        simple: "False"
      Username:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: alert.username
              operator: notIn
              right:
                value:
                  simple: administrator,system
          root: alert.username
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the containment actions available with Cortex XSIAM.
        The playbook allows you to contain the alert with one of the following tasks:
        * Isolate endpoint
        * Disable account
        * Quarantine file
        * Block indicators
        * Clear user session (currently, the playbook supports only Okta)

        The playbook inputs allows you to manipulate the execution flow. Review the inputs description.
      id: d399b4d5-b204-4739-897b-929ad87cc3bc
      iscommand: false
      name: Containment Plan
      playbookId: Containment Plan
      type: playbook
      version: -1
    taskid: d399b4d5-b204-4739-897b-929ad87cc3bc
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 720,
          "y": 3430
        }
      }
  "106":
    continueonerrortype: ""
    id: "106"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "129"
    note: false
    quietmode: 0
    scriptarguments:
      AutoContainment:
        simple: "False"
      BlockIndicators:
        simple: "True"
      ClearUserSessions:
        simple: "False"
      EndpointID:
        complex:
          accessor: agentid
          root: foundIncidents.CustomFields
      FileContainment:
        simple: "True"
      FileHash:
        complex:
          accessor: initiatorsha256
          root: foundIncidents.CustomFields
      FilePath:
        complex:
          accessor: initiatorpath
          root: foundIncidents.CustomFields
      FileRemediation:
        simple: Delete
      HostContainment:
        simple: "True"
      UserContainment:
        simple: "True"
      UserVerification:
        simple: "False"
      Username:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.username
              operator: notContainsGeneral
              right:
                value:
                  simple: administrator
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.username
              operator: notContainsGeneral
              right:
                value:
                  simple: system
          root: foundIncidents.CustomFields.username
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the containment actions available with Cortex XSIAM.
        The playbook allows you to contain the alert with one of the following tasks:
        * Isolate endpoint
        * Disable account
        * Quarantine file
        * Block indicators
        * Clear user session (currently, the playbook supports only Okta)

        The playbook inputs allows you to manipulate the execution flow. Review the inputs description.
      id: 8418ec9c-2074-4d98-8192-07db5af2ac8b
      iscommand: false
      name: Containment Plan
      playbookId: Containment Plan
      type: playbook
      version: -1
    taskid: 8418ec9c-2074-4d98-8192-07db5af2ac8b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 740,
          "y": 4910
        }
      }
  "120":
    continueonerrortype: ""
    id: "120"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      FileSHA256:
        complex:
          root: inputs.FileSHA256
      detonateRansomFile:
        simple: "True"
      isolateRemoteAttacker:
        complex:
          root: inputs.isolateRemoteAttacker
      isolateSimilarEndpoints:
        complex:
          root: inputs.isolateSimilarEndpoints
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook is responsible for alert data enrichment and response.
        The playbook executes the following:

        1.Checks if the initiator is a remote attacker and allows isolating the remote host, if possible.

        2.Retrieves the WildFire sandbox report and extract the indicators within it.
            * The playbook tries to retrieve the report, but if there is no report available, the playbook tries to fetch the ransomware file for detonation.

        3.Hunts for the ransomware alert indicators from the alert table, searches for endpoints that have been seen with them, and allows containing the identified endpoints.
      id: 4fff2e3f-c54e-4917-849b-b4e1caf8a688
      iscommand: false
      name: Ransomware Enrich and Contain
      playbookId: Ransomware Enrich and Contain
      type: playbook
      version: -1
    taskid: 4fff2e3f-c54e-4917-849b-b4e1caf8a688
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 720,
          "y": 3750
        }
      }
  "121":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.RunAdvancedAnalysis
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "121"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "63"
      "yes":
      - "138"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to execute advanced analysis.
      id: 91d3b754-2bf2-470f-8b6e-f8868e846b10
      iscommand: false
      name: Should run advanced analysis?
      type: condition
      version: -1
    taskid: 91d3b754-2bf2-470f-8b6e-f8868e846b10
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 360,
          "y": 4060
        }
      }
  "122":
    continueonerrortype: ""
    id: "122"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "95"
    note: false
    quietmode: 0
    scriptarguments:
      FileSHA256:
        complex:
          root: inputs.FileSHA256
      ShouldCloseAutomatically:
        complex:
          root: inputs.ShouldCloseAutomatically
      alertName:
        complex:
          accessor: name
          root: alert
      sourceIP:
        complex:
          root: inputs.IP
      username:
        complex:
          accessor: username
          root: alert
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |
        This playbook handles false positive alerts.
      id: 47278d70-0f8a-4ed3-83b1-de3f461f030f
      iscommand: false
      name: Handle False Positive Alerts
      playbookId: Handle False Positive Alerts
      type: playbook
      version: -1
    taskid: 47278d70-0f8a-4ed3-83b1-de3f461f030f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -260,
          "y": 2890
        }
      }
  "124":
    continueonerrortype: ""
    id: "124"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "95"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: Resolved - True Positive
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 3e89a364-3a58-436e-83d7-01a23bae2a4f
      iscommand: true
      name: Close alert
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 3e89a364-3a58-436e-83d7-01a23bae2a4f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 370,
          "y": 5900
        }
      }
  "125":
    continueonerrortype: ""
    id: "125"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "126"
      "yes":
      - "128"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to restore the isolated endpoints.
      id: 3f443fba-f5ef-4af5-81d4-938e01501ac5
      iscommand: false
      name: Should restore affected endpoint?
      type: condition
      version: -1
    taskid: 3f443fba-f5ef-4af5-81d4-938e01501ac5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 370,
          "y": 5205
        }
      }
  "126":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.ShouldCloseAutomatically
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "126"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "127"
      "yes":
      - "124"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to close the alert automatically.
      id: ad58dec4-ad0e-4942-8aa5-37d5b8895d7c
      iscommand: false
      name: Should close alert automatically?
      type: condition
      version: -1
    taskid: ad58dec4-ad0e-4942-8aa5-37d5b8895d7c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 370,
          "y": 5560
        }
      }
  "127":
    continueonerrortype: ""
    id: "127"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "124"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Follow the [CISA ransomware investigation checklist](https://www.cisa.gov/stopransomware/ransomware-guide).
      id: 48d129cf-955d-49c1-8227-b754d5f8f2af
      iscommand: false
      name: Ransomware investigation steps
      type: regular
      version: -1
    taskid: 48d129cf-955d-49c1-8227-b754d5f8f2af
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 730,
          "y": 5730
        }
      }
  "128":
    continueonerrortype: ""
    id: "128"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "126"
    note: false
    quietmode: 0
    scriptarguments:
      FileHash:
        complex:
          root: inputs.FileSHA256
      endpointID:
        complex:
          accessor: agentsid
          root: alert
      releaseFile:
        simple: "False"
      unIsolateEndpoint:
        simple: "True"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the recovery actions available with Cortex XSIAM.
        The playbook allows you, from the alert, to recover one of the following tasks:
        * Unisolate endpoint
        * Restore quarantined file

        The playbook inputs allow you to manipulate the execution flow. Review the inputs description.
      id: 7dda58d5-d915-4d0b-82db-edca50ea1890
      iscommand: false
      name: Recovery Plan
      playbookId: Recovery Plan
      type: playbook
      version: -1
    taskid: 7dda58d5-d915-4d0b-82db-edca50ea1890
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 730,
          "y": 5380
        }
      }
  "129":
    continueonerrortype: ""
    id: "129"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "125"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1b78ec0a-fb85-452c-82f1-7687ecc2cee2
      iscommand: false
      name: Recovery
      type: title
      version: -1
    taskid: 1b78ec0a-fb85-452c-82f1-7687ecc2cee2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 370,
          "y": 5080
        }
      }
  "130":
    continueonerrortype: ""
    id: "130"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "122"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a30248bf-e7f2-40b4-8e3b-05537a5b6af3
      iscommand: false
      name: Handle False Positive
      type: title
      version: -1
    taskid: a30248bf-e7f2-40b4-8e3b-05537a5b6af3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -260,
          "y": 2755
        }
      }
  "132":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: foundIncidents
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "132"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "129"
      "yes":
      - "81"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if relevant alerts were found in the previous query.
      id: 4dbf4631-7419-4a88-83c2-c9d2a0761149
      iscommand: false
      name: Found relevant information?
      type: condition
      version: -1
    taskid: 4dbf4631-7419-4a88-83c2-c9d2a0761149
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 360,
          "y": 4725
        }
      }
  "133":
    continueonerrortype: ""
    id: "133"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "134"
    note: false
    quietmode: 0
    scriptarguments:
      CloseReason:
        simple: Resolved - False Positive,Resolved - Duplicate Incident,Resolved -
          Known Issue
      Domain:
        complex:
          accessor: domainname
          root: alert
      FileSHA256:
        complex:
          root: inputs.FileSHA256
      IP:
        complex:
          root: inputs.IP
      URL:
        complex:
          accessor: url
          root: alert
      User:
        complex:
          accessor: username
          root: alert
      query:
        simple: (initiatorsha256:${inputs.FileSHA256} or hostip:${inputs.IP}) and
          sourceBrand:"${alert.sourceBrand}" and name:"${alert.name}"
      threshold:
        simple: "2"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook checks prior alert closing reasons and performs enrichment
        and prevalence checks on different IOC types. It then  returns the information
        needed to establish the alert's verdict.
      id: c4da120b-58c7-4521-8180-954cbb09f227
      iscommand: false
      name: Enrichment for Verdict
      playbookId: Enrichment for Verdict
      type: playbook
      version: -1
    taskid: c4da120b-58c7-4521-8180-954cbb09f227
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 360,
          "y": 2210
        }
      }
  "134":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: VTFileVerdict
          operator: isEqualString
          right:
            value:
              simple: malicious
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: FileVerdict
          operator: isEqualString
          right:
            value:
              simple: suspicious
        - left:
            iscontext: true
            value:
              complex:
                root: VTFileSigners
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: XDRFileSigners
                  operator: append
          operator: isEqualString
          right:
            value:
              simple: unTrusted
      label: True Positive
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: VTFileVerdict
          operator: isEqualString
          right:
            value:
              simple: benign
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: NSRLFileVerdict
          operator: isEqualString
          right:
            value:
              simple: isNSRL
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: VTFileSigners
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: XDRFileSigners
                  operator: append
                - operator: uniq
          operator: notContainsGeneral
          right:
            value:
              simple: unTrusted
      label: False Positive
    continueonerrortype: ""
    id: "134"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      False Positive:
      - "130"
      True Positive:
      - "140"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the verdict received from the Enrichment for Verdict sub-playbook.
      id: 4a1fda2c-53f2-4931-835f-693ca1e803dc
      iscommand: false
      name: Got possible verdict?
      type: condition
      version: -1
    taskid: 4a1fda2c-53f2-4931-835f-693ca1e803dc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 360,
          "y": 2370
        }
      }
  "135":
    continueonerrortype: ""
    id: "135"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "132"
    note: false
    quietmode: 0
    scriptarguments:
      FileSHA256:
        complex:
          root: inputs.FileSHA256
      HuntByFile:
        simple: "True"
      HuntCnCTechniques:
        simple: "True"
      HuntCollectionTechniques:
        simple: "True"
      HuntDefenseEvasionTechniques:
        simple: "True"
      HuntDiscoveryTechniques:
        simple: "True"
      HuntExecutionTechniques:
        simple: "True"
      HuntImpactTechniques:
        simple: "True"
      HuntInitialAccessTechniques:
        simple: "True"
      HuntLateralMovementTechniques:
        simple: "True"
      HuntPersistenceTechniques:
        simple: "True"
      HuntPrivilegeEscalationTechniques:
        simple: "True"
      HuntReconnaissanceTechniques:
        simple: "True"
      agentID:
        complex:
          accessor: agentid
          root: alert
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the endpoint investigation actions available with Cortex XSIAM.
        The playbook allows you to investigate and hunt for more information using one of the following tasks:
        * Pre-defined MITRE Tactics
        * Host fields (Host ID)
        * Attacker fields (Attacker IP, External host)
        * MITRE techniques
        * File hash (currently, the playbook supports only SHA256)

        The playbook inputs allow you to manipulate the execution flow. Review the inputs description.
      id: b41f8a42-a2e9-49ec-80d0-f7efc093e38d
      iscommand: false
      name: Endpoint Investigation Plan
      playbookId: Endpoint Investigation Plan
      type: playbook
      version: -1
    taskid: b41f8a42-a2e9-49ec-80d0-f7efc093e38d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 360,
          "y": 4555
        }
      }
  "136":
    continueonerrortype: ""
    id: "136"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      AutoEradicate:
        complex:
          root: inputs.AutoEradication
      EndpointID:
        complex:
          accessor: agentid
          root: alert
      FilePath:
        complex:
          root: inputs.FilePath
      FileRemediation:
        simple: Quarantine
      Username:
        complex:
          accessor: username
          root: alert
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the eradication actions available with Cortex XSIAM.
        The playbook allows you to eradicate the alert with one of the following tasks:
        * Reset user password
        * Delete file
        * Kill process (currently, the playbook supports terminating a process by name)

        The playbook inputs allows you to manipulate the execution flow. Review the inputs description.
      id: a4bb8e27-30f5-4ca1-8fd9-aca658aefad0
      iscommand: false
      name: Eradication Plan
      playbookId: Eradication Plan
      type: playbook
      version: -1
    taskid: a4bb8e27-30f5-4ca1-8fd9-aca658aefad0
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1140,
          "y": 3430
        }
      }
  "137":
    continueonerrortype: ""
    id: "137"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      Username:
        complex:
          accessor: username
          root: alert
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich accounts using one or more integrations.
        Supported integrations:
        - Active Directory
      id: fac17c32-a38d-4dd7-8f4e-3b6e8337928c
      iscommand: false
      name: Account Enrichment - Generic v2.1
      playbookId: Account Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: fac17c32-a38d-4dd7-8f4e-3b6e8337928c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1140,
          "y": 3750
        }
      }
  "138":
    continueonerrortype: ""
    id: "138"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook is responsible for detecting the ransomware type and searching for available decryptors.

        The playbook uses the ID-Ransomware service, which allows detecting the ransomware using multiple methods.
      id: 5b75d413-1efc-4a67-8d38-b54073d7d67e
      iscommand: false
      name: Ransomware Advanced Analysis
      playbookId: Ransomware Advanced Analysis
      type: playbook
      version: -1
    taskid: 5b75d413-1efc-4a67-8d38-b54073d7d67e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 720,
          "y": 4230
        }
      }
  "140":
    continueonerrortype: ""
    id: "140"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "141"
    note: false
    quietmode: 2
    scriptarguments:
      manual_severity:
        simple: high
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.field
      id: 1a210c1f-8746-4536-81c4-a84c2d981ada
      iscommand: true
      name: Set Alert Severity to High
      script: Builtin|||setParentIncidentFields
      type: regular
      version: -1
    taskid: 1a210c1f-8746-4536-81c4-a84c2d981ada
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 360,
          "y": 2590
        }
      }
  "141":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.ShouldOpenTicket
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "141"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "142"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether to open a ticket automatically in a ticketing system.
      id: a37c2429-bcfa-4efb-8b34-36844860cdef
      iscommand: false
      name: Should open a ticket automatically in a ticketing system?
      type: condition
      version: -1
    taskid: a37c2429-bcfa-4efb-8b34-36844860cdef
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 360,
          "y": 2770
        }
      }
  "142":
    continueonerrortype: ""
    id: "142"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      CommentToAdd:
        complex:
          root: inputs.CommentToAdd
      ZendeskAssigne:
        complex:
          root: inputs.ZendeskAssigne
      ZendeskCollaborators:
        complex:
          root: inputs.ZendeskCollaborators
      ZendeskPriority:
        complex:
          root: inputs.ZendeskPriority
      ZendeskRequester:
        complex:
          root: inputs.ZendeskRequester
      ZendeskStatus:
        complex:
          root: inputs.ZendeskStatus
      ZendeskSubject:
        complex:
          root: inputs.ZendeskSubject
      ZendeskTags:
        complex:
          root: inputs.ZendeskTags
      ZendeskType:
        complex:
          root: inputs.ZendeskType
      addCommentPerEndpoint:
        complex:
          root: inputs.addCommentPerEndpoint
      description:
        complex:
          root: inputs.description
      serviceNowAssignmentGroup:
        complex:
          root: inputs.serviceNowAssignmentGroup
      serviceNowCategory:
        complex:
          root: inputs.serviceNowCategory
      serviceNowImpact:
        complex:
          root: inputs.serviceNowImpact
      serviceNowSeverity:
        complex:
          root: inputs.serviceNowSeverity
      serviceNowShortDescription:
        complex:
          root: inputs.serviceNowShortDescription
      serviceNowTicketType:
        complex:
          root: inputs.serviceNowTicketType
      serviceNowUrgency:
        complex:
          root: inputs.serviceNowUrgency
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: "`Ticket Management - Generic` allows you to open new tickets or
        update comments to the existing ticket in the following ticketing systems:\n-ServiceNow
        \n-Zendesk \nusing the following sub-playbooks:\n-`ServiceNow - Ticket Management`\n-`Zendesk
        - Ticket Management`\n"
      id: 13d55115-036a-47ad-825e-acbc645458fe
      iscommand: false
      name: Ticket Management - Generic
      playbookId: Ticket Management - Generic
      type: playbook
      version: -1
    taskid: 13d55115-036a-47ad-825e-acbc645458fe
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 650,
          "y": 2940
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "121_63_#default#": 0.31,
      "125_126_#default#": 0.51,
      "126_124_yes": 0.53,
      "134_130_False Positive": 0.49,
      "134_140_True Positive": 0.55,
      "5_103_yes": 0.54,
      "5_136_yes": 0.78,
      "5_14_#default#": 0.54
    },
    "paper": {
      "dimensions": {
        "height": 4065,
        "width": 1780,
        "x": -260,
        "y": 2070
      }
    }
  }
