playbook/playbook-Cortex_ASM_-_ServiceNow_CMDB_Enrichment.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 1.6.33
    packID: CortexAttackSurfaceManagement
    packName: Cortex Attack Surface Management
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: Given the IP address this playbook enriches ServiceNow CMDB information
  relevant to ASM alerts.
id: Cortex ASM - ServiceNow CMDB Enrichment
inputs:
- description: IP address of service
  key: RemoteIP
  playbookInputQuery: null
  required: true
  value:
    complex:
      accessor: remoteip
      root: alert
name: Cortex ASM - ServiceNow CMDB Enrichment
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8d85a97d-e9c4-4667-8470-ca11013c5125
      iscommand: false
      name: ""
      version: -1
    taskid: 8d85a97d-e9c4-4667-8470-ca11013c5125
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 390,
          "y": 20
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: de0af0d3-d963-455b-802c-656bb68298b7
      iscommand: false
      name: Set Field
      type: title
      version: -1
    taskid: de0af0d3-d963-455b-802c-656bb68298b7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 390,
          "y": 310
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: ServiceNow v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the "ServiceNow v2" integration instance is enabled
        in order to find email accounts for ServiceNow usernames.
      id: c2640c9a-3d6e-489e-81f7-f9c316c84b8e
      iscommand: false
      name: Is ServiceNow v2 enabled?
      type: condition
      version: -1
    taskid: c2640c9a-3d6e-489e-81f7-f9c316c84b8e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -10,
          "y": 840
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      user_id:
        complex:
          accessor: value
          root: ServiceNowCMDB.Record.Attributes.assigned_to
    separatecontext: false
    skipunavailable: false
    task:
      brand: ServiceNow v2
      description: Pull information on the user that was "assigned_to" for a CMDB
        object.
      id: 97afd59f-3b38-4d70-8a45-40ebe12230f2
      iscommand: true
      name: Pull ServiceNow user information
      script: ServiceNow v2|||servicenow-query-users
      type: regular
      version: -1
    taskid: 97afd59f-3b38-4d70-8a45-40ebe12230f2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -280,
          "y": 1030
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 88ead121-ab0f-4677-8602-259592cd2eae
      iscommand: false
      name: Service Owner
      type: title
      version: -1
    taskid: 88ead121-ab0f-4677-8602-259592cd2eae
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -10,
          "y": 710
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f0707763-f03d-4afd-8ff9-411d0d96c5e5
      iscommand: false
      name: System IDs
      type: title
      version: -1
    taskid: f0707763-f03d-4afd-8ff9-411d0d96c5e5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 750,
          "y": 710
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmserviceowner
      keys:
        simple: name,email,source,timestamp
      val1:
        complex:
          accessor: display_value
          root: ServiceNowCMDB.Record.Attributes.assigned_to
      val2:
        simple: n/a
      val3:
        simple: SNOW-CMDB
      val4:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: 5c085714-faed-47d8-8cdb-d1c7f8c33072
      iscommand: false
      name: Set service owner grid field (no email)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 5c085714-faed-47d8-8cdb-d1c7f8c33072
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 1030
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmserviceowner
      keys:
        simple: name,email,source,timestamp
      val1:
        complex:
          accessor: display_value
          root: ServiceNowCMDB.Record.Attributes.assigned_to
      val2:
        complex:
          accessor: Email
          root: ServiceNow.User
      val3:
        simple: SNOW-CMDB
      val4:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: a0bd526c-743c-49b3-8fdb-ec9634e461c6
      iscommand: false
      name: Set service owner grid field (email)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: a0bd526c-743c-49b3-8fdb-ec9634e461c6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -280,
          "y": 1200
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: SNOW-CMDB-NIC
      val2:
        complex:
          accessor: sys_id
          root: ServiceNowCMDB.Records.[0]
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: 253eb0d5-4d44-4a9c-8e91-7faad73f8fa9
      iscommand: false
      name: Set system IDs grid field (NIC)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 253eb0d5-4d44-4a9c-8e91-7faad73f8fa9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 750,
          "y": 840
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: SNOW-CMDB-Parent
      val2:
        complex:
          accessor: SysID
          root: ServiceNowCMDB.Record
      val3:
        simple: n/a
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: c0fabc15-6b6c-4f1b-850f-64864a16052e
      iscommand: false
      name: Set system IDs grid field (Parent)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: c0fabc15-6b6c-4f1b-850f-64864a16052e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 750,
          "y": 1000
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: SNOW-CMDB-ASSIGN
      val2:
        complex:
          accessor: value
          root: ServiceNowCMDB.Record.Attributes.assigned_to
      val3:
        complex:
          accessor: link
          root: ServiceNowCMDB.Record.Attributes.assigned_to
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: 0348e497-2e99-4791-8ffb-78fcf13f9b7a
      iscommand: false
      name: Set system IDs grid field (Assigned)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 0348e497-2e99-4791-8ffb-78fcf13f9b7a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 10,
          "y": 1385
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: SNOW-CMDB-COMPANY
      val2:
        complex:
          accessor: value
          root: ServiceNowCMDB.Record.Attributes.company
      val3:
        complex:
          accessor: link
          root: ServiceNowCMDB.Record.Attributes.company
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well. For example:
        `!GridFieldSetup keys=ip,src val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" gridfiled="gridfield"`
      id: d3b854e7-02da-4db5-81fe-418555cf97f2
      iscommand: false
      name: Set system IDs grid field (Company)
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: d3b854e7-02da-4db5-81fe-418555cf97f2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 640,
          "y": 1520
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: display_value
                root: ServiceNowCMDB.Record.Attributes.assigned_to
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there is ServiceNow assigned_to information to set
        in the service owner field.
      id: 1df765c8-1a4d-41d1-8124-809175430b42
      iscommand: false
      name: Is there ServiceNow assigned_to information?
      type: condition
      version: -1
    taskid: 1df765c8-1a4d-41d1-8124-809175430b42
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -10,
          "y": 470
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Records
                root: ServiceNowCMDB
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Record
                root: ServiceNowCMDB
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there is ServiceNow record and records information
        to set in the system ID field.
      id: e8822762-03c6-4e7c-86da-9b3db0c4a0b6
      iscommand: false
      name: Is there ServiceNow record and records information?
      type: condition
      version: -1
    taskid: e8822762-03c6-4e7c-86da-9b3db0c4a0b6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 750,
          "y": 470
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      BypassAddRecord:
        simple: "true"
      SearchCIClass:
        simple: cmdb_ci
      SearchQueryField:
        simple: ip_address
      SearchQueryValue:
        complex:
          root: inputs.RemoteIP
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |
        Subplaybook for finding CI records in ServiceNow CMDB.
      id: bdfcee02-6256-46e7-82b3-30923ef57cb0
      iscommand: false
      name: ServiceNow CMDB Search
      playbookName: ServiceNow CMDB Search
      type: playbook
      version: -1
    taskid: bdfcee02-6256-46e7-82b3-30923ef57cb0
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 390,
          "y": 150
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                root: ServiceNowCMDB.Record.Attributes.company
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "22"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if there is ServiceNow company information to set in
        the systemID field.
      id: a5ff1282-3e03-4983-802d-8e0082572779
      iscommand: false
      name: Is there ServiceNow company information?
      type: condition
      version: -1
    taskid: a5ff1282-3e03-4983-802d-8e0082572779
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 750,
          "y": 1325
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b6703f8f-6630-4e60-8459-ac1b3897425e
      iscommand: false
      name: Closing Steps
      type: title
      version: -1
    taskid: b6703f8f-6630-4e60-8459-ac1b3897425e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1047.5,
          "y": 1910
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_status_flag_servicenow_cmdb
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 008bab14-f4e4-4ea5-87ab-ddfd8b36b395
      iscommand: false
      name: Set flag for enrichment status to true
      script: Set
      type: regular
      version: -1
    taskid: 008bab14-f4e4-4ea5-87ab-ddfd8b36b395
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 10,
          "y": 1565
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_status_flag_servicenow_cmdb
      value:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 1aa2962a-87bc-46d7-8273-777fb08f3d79
      iscommand: false
      name: Set flag for enrichment status to true
      script: Set
      type: regular
      version: -1
    taskid: 1aa2962a-87bc-46d7-8273-777fb08f3d79
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 750,
          "y": 1160
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_status_flag_servicenow_cmdb
      value:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 1d1e457c-ae70-4b4b-8a0a-3b3d313da791
      iscommand: false
      name: Set flag for enrichment status to false
      script: Set
      type: regular
      version: -1
    taskid: 1d1e457c-ae70-4b4b-8a0a-3b3d313da791
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 390,
          "y": 1705
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 90ca1050-cfdc-4759-86bd-e4c65ea6b159
      iscommand: false
      name: Complete
      type: title
      version: -1
    taskid: 90ca1050-cfdc-4759-86bd-e4c65ea6b159
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1047.5,
          "y": 2490
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmenrichmentstatus
      keys:
        simple: source,record_exists,timestamp
      val1:
        simple: ServiceNow CMDB
      val2:
        simple: "true"
      val3:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format. For example:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: f406b13d-1ede-48d5-844a-95f8c9d9f56a
      iscommand: false
      name: Set ASM enrichment status to true
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: f406b13d-1ede-48d5-844a-95f8c9d9f56a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1282.5,
          "y": 2270
        }
      }
  "28":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: asm_enrichment_status_flag_servicenow_cmdb
          operator: containsGeneral
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "29"
      "yes":
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if enrichment was performed by checking for a value of true
        in the relevant flag variable.
      id: b3351065-7372-46f0-8cb8-5a077dfc50e0
      iscommand: false
      name: Was enrichment performed?
      type: condition
      version: -1
    taskid: b3351065-7372-46f0-8cb8-5a077dfc50e0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1047.5,
          "y": 2050
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      gridfield:
        simple: asmenrichmentstatus
      keys:
        simple: source,record_exists,timestamp
      val1:
        simple: ServiceNow CMDB
      val2:
        simple: "false"
      val3:
        simple: TIMESTAMP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format. For example:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      id: 69f6dacb-b229-40f5-8b01-1012f0445900
      iscommand: false
      name: Set ASM enrichment status to false
      script: GridFieldSetup
      type: regular
      version: -1
    taskid: 69f6dacb-b229-40f5-8b01-1012f0445900
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 830,
          "y": 2270
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "12_25_#default#": 0.27,
      "12_4_yes": 0.39,
      "13_25_#default#": 0.22,
      "13_5_yes": 0.53,
      "17_11_yes": 0.5,
      "2_6_#default#": 0.52
    },
    "paper": {
      "dimensions": {
        "height": 2535,
        "width": 1942.5,
        "x": -280,
        "y": 20
      }
    }
  }
