playbook/playbook-Ransomware_Enrich_and_Contain.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    itemVersion: 2.0.12
    packID: Core
    packName: Core - Investigation and Response
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook is responsible for ransomware alert data enrichment and response.
  The playbook executes the following:

  1.Checks if the initiator is a remote attacker and allows isolating the remote host, if possible.

  2.Retrieves the WildFire sandbox report and extract the indicators within it.
      * The playbook tries to retrieve the report, but if there is no report available, the playbook tries to fetch the ransomware file for detonation.

  3.Hunts for the ransomware alert indicators from the alert table, searches for endpoints that have been seen with them, and allows containing the identified endpoints.
id: Ransomware Enrich and Contain
inputs:
- description: Whether to isolate the remote attacker host.
  key: isolateRemoteAttacker
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
- description: Whether to isolate endpoints which has been detected with the alert
    IoCs.
  key: isolateSimilarEndpoints
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: The ransomware file SHA256.
  key: FileSHA256
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: initiatorsha256
      root: alert
- description: |-
    Whether to detonate the ransomware file in sandbox, Set to True to enable file detonation and False to disable it.
    By default is set to True
  key: detonateRansomFile
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
name: Ransomware Enrich and Contain
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b971d934-f80f-4986-8217-dabc32a749d1
      iscommand: false
      name: ""
      version: -1
    taskid: b971d934-f80f-4986-8217-dabc32a749d1
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -520,
          "y": -890
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b9facc01-0c99-441d-8ed2-0d519586b8f8
      iscommand: false
      name: Check Remote Attacker
      type: title
      version: -1
    taskid: b9facc01-0c99-441d-8ed2-0d519586b8f8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -520,
          "y": -755
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: alert.remoteip
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "yes":
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether the attack has been made by a remote host.
      id: af3e825a-a69f-4e5f-8ffd-c96a1c525074
      iscommand: false
      name: Is remote attacker?
      type: condition
      version: -1
    taskid: af3e825a-a69f-4e5f-8ffd-c96a1c525074
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -520,
          "y": -630
        }
      }
  "9":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.isolateRemoteAttacker
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "yes":
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to isolate the remote host.
      id: 9fb633f9-7d1a-4793-8a8c-116e8a609a49
      iscommand: false
      name: Should execute remote attacker containment?
      type: condition
      version: -1
    taskid: 9fb633f9-7d1a-4793-8a8c-116e8a609a49
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -520,
          "y": -310
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      fromdate:
        simple: 2 hours ago
      query:
        simple: initiatorsha256:${inputs.FileSHA256} OR remoteip:${alert.remoteip}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Searches Cortex XSIAM indicators. '
      id: 25f7c2e8-f0e2-4ac5-81e8-78eb6cacc629
      iscommand: false
      name: Robust search of IoCs
      script: SearchIncidentsV2
      type: regular
      version: -1
    taskid: 25f7c2e8-f0e2-4ac5-81e8-78eb6cacc629
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -520,
          "y": 2190
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: foundIncidents
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if relevant alerts were found for the IoCs search.
      id: d48b844a-9b30-4016-8474-e22a04cc8b79
      iscommand: false
      name: Found more endpoints?
      type: condition
      version: -1
    taskid: d48b844a-9b30-4016-8474-e22a04cc8b79
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -520,
          "y": 2340
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    scriptarguments:
      text:
        complex:
          accessor: Host
          root: WildFire.Report.NetworkInfo.URL
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: WildFire.Report.NetworkInfo.UDP.IP
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: WildFire.Report.NetworkInfo.TCP.IP
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: WildFire.Report.NetworkInfo.DNS.Query
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: WildFire.Report.NetworkInfo.DNS.Response
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: WildFire.Report.SHA256
            operator: append
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: 5a69845e-e43b-470b-88a5-3d883554565f
      iscommand: true
      name: Indicators extraction
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: 5a69845e-e43b-470b-88a5-3d883554565f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -520,
          "y": 1575
        }
      }
  "22":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.isolateSimilarEndpoints
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to contain the identified endpoints.
      id: e2f8c1e7-f9ec-4433-8a73-7ca0aa676328
      iscommand: false
      name: Should contain identified endpoints?
      type: condition
      version: -1
    taskid: e2f8c1e7-f9ec-4433-8a73-7ca0aa676328
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -520,
          "y": 2510
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      scriptArguments:
        BlockIndicators:
          simple: "True"
        ContainmentType:
          simple: Auto
        EndpointContainment:
          simple: "True"
        FileContainment:
          simple: "False"
        ScheduledTaskConatinment:
          simple: "False"
        UserContainment:
          simple: "False"
      wait: 1
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      AutoContainment:
        simple: "True"
      BlockIndicators:
        simple: "False"
      ClearUserSessions:
        simple: "False"
      EndpointID:
        complex:
          accessor: agentid
          root: foundIncidents.CustomFields
      FileContainment:
        simple: "False"
      FileRemediation:
        simple: Quarantine
      HostContainment:
        simple: "True"
      IAMUserDomain:
        simple: '@demisto.com'
      UserContainment:
        simple: "False"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook handles all the containment actions available with Cortex XSIAM.
        The playbook allows you to contain the alert with one of the following tasks:
        * Isolate endpoint
        * Disable account
        * Quarantine file
        * Block indicators
        * Clear user session (currently, the playbook supports only Okta)

        The playbook inputs allows you to manipulate the execution flow. Review the inputs description.
      id: dc0afbc5-f8d4-4ea4-8a24-bfafcf52a7c1
      iscommand: false
      name: Containment Plan
      playbookId: Containment Plan
      type: playbook
      version: -1
    taskid: dc0afbc5-f8d4-4ea4-8a24-bfafcf52a7c1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -520,
          "y": 2680
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1cf031e6-9fd9-4894-8b3b-f4934aa23f65
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 1cf031e6-9fd9-4894-8b3b-f4934aa23f65
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -520,
          "y": 2840
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 99af3005-a3a7-4d0b-8aba-06e587a9d1ad
      iscommand: false
      name: Detonation
      type: title
      version: -1
    taskid: 99af3005-a3a7-4d0b-8aba-06e587a9d1ad
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -520,
          "y": 375
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_ids:
        complex:
          accessor: agentid
          root: alert
      windows_file_paths:
        complex:
          accessor: initiatorpath
          root: alert
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves files from selected endpoints. You can retrieve up to
        20 files, from no more than 10 endpoints. At least one endpoint ID and one
        file path are necessary in order to run the command. After running this command,
        you can use the core-action-status-get command with returned action_id, to
        check the action status.
      id: ade305d6-da72-4303-8d53-e61c6461da53
      iscommand: true
      name: Fetch ransomware file
      script: '|||core-retrieve-files'
      type: regular
      version: -1
    taskid: ade305d6-da72-4303-8d53-e61c6461da53
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -520,
          "y": 850
        }
      }
  "28":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.detonateRansomFile
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to detonate the fetched ransomware file.
      id: a6949390-5ec2-4703-8f15-f52cbff129ff
      iscommand: false
      name: Should detonate file?
      type: condition
      version: -1
    taskid: a6949390-5ec2-4703-8f15-f52cbff129ff
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -520,
          "y": 1200
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      File:
        complex:
          root: File
      Interval:
        simple: "1"
      Timeout:
        simple: "15"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Detonate one or more files using the Wildfire integration. This playbook
        returns relevant reports to the Alerts War Room and file reputations to the context data.
        The detonation supports the following file types -
        APK, JAR, DOC, DOCX, RTF, XLS, XLSX, PPT, PPTX, OOXML, PE32, PE, PDF, DMG, PKG, RAR, 7Z, JS, ELF, HTA, LNK, VBS, PS1, PERL, PYTHON, SHELL.
      id: b9596e34-c1d6-4838-8c25-bfd9657f6e6f
      iscommand: false
      name: WildFire - Detonate file
      playbookId: WildFire - Detonate file
      type: playbook
      version: -1
    taskid: b9596e34-c1d6-4838-8c25-bfd9657f6e6f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -740,
          "y": 1390
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      extended_data:
        simple: "true"
      format:
        simple: pdf
      sha256:
        complex:
          accessor: initiatorsha256
          root: alert
      verbose:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves results for a file hash using WildFire.
      id: 15f199c3-7100-484e-82b5-21fd628f7087
      iscommand: true
      name: Get WildFire report
      script: '|||wildfire-report'
      type: regular
      version: -1
    taskid: 15f199c3-7100-484e-82b5-21fd628f7087
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -520,
          "y": 510
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Report
                root: WildFire
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if a report was found for the ransomware SHA256.
      id: 4a16fea7-a2c4-4a6a-8fd8-58c02e95bd16
      iscommand: false
      name: Was there a report for the ransomware SHA256?
      type: condition
      version: -1
    taskid: 4a16fea7-a2c4-4a6a-8fd8-58c02e95bd16
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -520,
          "y": 670
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      action_id:
        complex:
          accessor: action_id
          root: Core.RetrievedFiles
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: View the file retrieved by the core-retrieve-files command according
        to the action ID. Before running this command, use the core-action-status-get
        command to check if this action completed successfully.
      id: c074ea2f-9389-402e-826a-ed1bd9ba7d0f
      iscommand: true
      name: Retrieve file to the playbook's war room
      script: '|||core-retrieve-file-details'
      type: regular
      version: -1
    taskid: c074ea2f-9389-402e-826a-ed1bd9ba7d0f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -520,
          "y": 1020
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      ip_list:
        complex:
          accessor: remoteip
          root: alert
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a list of endpoints, according to the passed filters. If there
        are no filters, all endpoints are returned. Filtering by multiple fields will
        be concatenated using AND condition (OR is not supported). Maximum result
        set size is 100. Offset is the zero-based number of endpoint from the start
        of the result set (start by counting from 0).
      id: b354207a-e502-48a3-8b4d-81cb2606d5a8
      iscommand: true
      name: Remote attacker enrichment
      script: '|||core-get-endpoints'
      type: regular
      version: -1
    taskid: b354207a-e502-48a3-8b4d-81cb2606d5a8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -520,
          "y": -480
        }
      }
  "35":
    continueonerror: true
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "26"
      "yes":
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether given entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      id: 28922639-6ad8-4bf1-8aba-df6392955d35
      iscommand: false
      name: Checks if the containment plan completed successfully
      script: isError
      type: condition
      version: -1
    taskid: 28922639-6ad8-4bf1-8aba-df6392955d35
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -520,
          "y": 30
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: A manual containment is needed for the remote attacker.
      id: 1a61ccc8-5920-43d6-80da-7325d4551d4d
      iscommand: false
      name: Manual containment of the remote attacker
      type: regular
      version: -1
    taskid: 1a61ccc8-5920-43d6-80da-7325d4551d4d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -930,
          "y": 200
        }
      }
  "37":
    continueonerror: true
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id:
        complex:
          accessor: endpoint_id
          root: Core.Endpoint
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Isolates the specified endpoint.
      id: 8bbbd1a9-e3d0-449d-8ced-8c06e58a815a
      iscommand: true
      name: Remote attacker isolation
      script: '|||core-isolate-endpoint'
      type: regular
      version: -1
    taskid: 8bbbd1a9-e3d0-449d-8ced-8c06e58a815a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -520,
          "y": -130
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 63a86244-5bbc-4a15-862a-e7f4dd806bc6
      iscommand: false
      name: Determine Scope
      type: title
      version: -1
    taskid: 63a86244-5bbc-4a15-862a-e7f4dd806bc6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -520,
          "y": 2060
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
      - "41"
      - "42"
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.enrich.indicators
      id: 5261efef-ab21-4c55-88e4-2ac0952e9682
      iscommand: false
      name: Enrichment
      type: title
      version: -1
    taskid: 5261efef-ab21-4c55-88e4-2ac0952e9682
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -520,
          "y": 1740
        }
      }
  "40":
    continueonerror: true
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      ip:
        complex:
          accessor: IP
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the specified IP address against the AbuseIP database.
      id: 7999a5a6-6455-47a2-8cb8-a9df66b17e2c
      iscommand: true
      name: IP enrichment
      script: '|||ip'
      type: regular
      version: -1
    taskid: 7999a5a6-6455-47a2-8cb8-a9df66b17e2c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1170,
          "y": 1880
        }
      }
  "41":
    continueonerror: true
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      domain:
        complex:
          accessor: Domain
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the reputation of a domain.
      id: 5425931a-6e34-446d-82ec-667e922d45f9
      iscommand: true
      name: Domain enrichment
      script: '|||domain'
      type: regular
      version: -1
    taskid: 5425931a-6e34-446d-82ec-667e922d45f9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -740,
          "y": 1880
        }
      }
  "42":
    continueonerror: true
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      url:
        complex:
          accessor: URL
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the reputation of a URL.
      id: 5db585b3-0fa9-4242-8c5f-f8c65d6f2426
      iscommand: true
      name: URL enrichment
      script: '|||url'
      type: regular
      version: -1
    taskid: 5db585b3-0fa9-4242-8c5f-f8c65d6f2426
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -300,
          "y": 1880
        }
      }
  "43":
    continueonerror: true
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      file:
        complex:
          accessor: File
          root: ExtractedIndicators
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieve results for a file hash using WildFire.
      id: e1976d83-f010-4d58-8cfd-42cf6bb2c124
      iscommand: true
      name: File enrichment
      script: '|||file'
      type: regular
      version: -1
    taskid: e1976d83-f010-4d58-8cfd-42cf6bb2c124
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 130,
          "y": 1880
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "19_22_yes": 0.45,
      "22_23_yes": 0.41,
      "28_21_#default#": 0.5,
      "28_29_yes": 0.55,
      "31_21_yes": 0.37,
      "35_26_no": 0.45,
      "8_26_#default#": 0.31
    },
    "paper": {
      "dimensions": {
        "height": 3795,
        "width": 1680,
        "x": -1170,
        "y": -890
      }
    }
  }
