playbook-Pentera_Filter_And_Create_Incident.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 1.3.5
    packID: Pcysys
    packName: Pentera
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: Sub-playbook to select specific entries from the Pentera action report
  and create incidents for each of the selected entries
id: Pentera Filter And Create Incident
inputs:
- description: Filter all password cracking operation types
  key: Filter password cracking
  playbookInputQuery: null
  required: true
  value:
    simple: "True"
- description: Filter all BlueKeep operation types
  key: Filter BlueKeep vulnerability
  playbookInputQuery: null
  required: true
  value:
    simple: "True"
- description: "Filters actions according to given value. \nWill not filter anything
    if got zero (0) as value."
  key: Filter Minimum Severity
  playbookInputQuery: null
  required: true
  value:
    simple: "0"
- description: "Pentera Full Action Report is the summary of the given TaskName in
    a CSV format, that contains all the actions that Pentera performed during the
    task run. \nThe value will be provided from Pentera Run Scan and Create Incidents
    playbook."
  key: FullActionReport
  playbookInputQuery: null
  required: true
  value: {}
- description: Filter all MS17-010 operation types
  key: Filter MS17-010 vulnerability
  playbookInputQuery: null
  required: true
  value:
    simple: "True"
- description: Filter all network device default password operation types
  key: Filter network device default password usage
  playbookInputQuery: null
  required: true
  value:
    simple: "True"
- description: Filter all open shares operation types
  key: 'Filter open shares '
  playbookInputQuery: null
  required: true
  value:
    simple: "True"
name: Pentera Filter And Create Incident
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ed5fe622-78c8-499a-8122-404fad3e2339
      iscommand: false
      name: ""
      version: -1
    taskid: ed5fe622-78c8-499a-8122-404fad3e2339
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 950,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: FilteredBySeverity
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: SuccessfulOperations.Severity
              operator: greaterThan
              right:
                iscontext: true
                value:
                  simple: inputs.Filter Minimum Severity
          root: SuccessfulOperations
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set in context.
      id: 2ff4fb91-5267-486a-8139-c6bd26c43e42
      iscommand: false
      name: FilterBySeverity
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 2ff4fb91-5267-486a-8139-c6bd26c43e42
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1165,
          "y": 835
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Filter Minimum Severity
          operator: greaterThan
          right:
            value:
              simple: "0"
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8a58b205-8db2-4f66-833e-26292c0f4164
      iscommand: false
      name: Is Minimum Severity Greater Than Zero
      type: condition
      version: -1
    taskid: 8a58b205-8db2-4f66-833e-26292c0f4164
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 950,
          "y": 660
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: FilteredBySeverity
      value:
        complex:
          root: SuccessfulOperations
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set in context.
      id: a0aa3683-ff03-44d8-8c00-641e2791ae3a
      iscommand: false
      name: Select all the entries
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: a0aa3683-ff03-44d8-8c00-641e2791ae3a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 735,
          "y": 835
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
      - "9"
      - "11"
      - "13"
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0cdc17a2-92ca-49db-8fbb-282b27ff6ec0
      iscommand: false
      name: Filter by Operation Type and a successful Status
      type: title
      version: -1
    taskid: 0cdc17a2-92ca-49db-8fbb-282b27ff6ec0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 950,
          "y": 1010
        }
      }
  "5":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.Filter BlueKeep vulnerability
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2c797aac-dfe4-4586-8833-660c3f57ba2b
      iscommand: false
      name: Are we filtering BlueKeep
      type: condition
      version: -1
    taskid: 2c797aac-dfe4-4586-8833-660c3f57ba2b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1155
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f97ebe5a-1bad-432c-8cd2-4cce1ff9051c
      iscommand: false
      name: Incidents
      type: title
      version: -1
    taskid: f97ebe5a-1bad-432c-8cd2-4cce1ff9051c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -250,
          "y": 2280
        }
      }
  "9":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.Filter MS17-010 vulnerability
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cccf54e0-f450-4e83-8299-036f0f144870
      iscommand: false
      name: Are filtering we MS17-010 vulnerability
      type: condition
      version: -1
    taskid: cccf54e0-f450-4e83-8299-036f0f144870
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 500,
          "y": 1155
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FilterPenteraOperations
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: FilteredBySeverity.Operation Type
              operator: containsString
              right:
                value:
                  simple: MS017-10 Analysis
          root: FilteredBySeverity
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set in context.
      id: ec9c975c-1556-4a4a-8d95-c5bf56968034
      iscommand: false
      name: FilterMS17010OperationTypes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: ec9c975c-1556-4a4a-8d95-c5bf56968034
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 612.5,
          "y": 1330
        }
      }
  "11":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.Filter password cracking
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 93c28eb8-dd1f-470e-869f-95cce6ff4162
      iscommand: false
      name: Are we filtering password cracking
      type: condition
      version: -1
    taskid: 93c28eb8-dd1f-470e-869f-95cce6ff4162
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 950,
          "y": 1155
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FilterPenteraOperations
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: FilteredBySeverity.Operation Type
              operator: containsString
              right:
                value:
                  simple: Password Crack Level
          root: FilteredBySeverity
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set in context.
      id: 98ca5d8e-849f-4f7a-8e5a-90e748794ab8
      iscommand: false
      name: FilterPasswordCrackingOperationTypes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 98ca5d8e-849f-4f7a-8e5a-90e748794ab8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1062.5,
          "y": 1330
        }
      }
  "13":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.Filter network device default password usage
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 950328b4-5ced-4d17-8da7-4d7ddb56ca3b
      iscommand: false
      name: Are we filtering network device default password usage
      type: condition
      version: -1
    taskid: 950328b4-5ced-4d17-8da7-4d7ddb56ca3b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1400,
          "y": 1155
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FilterPenteraOperations
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: FilteredBySeverity.Operation Type
              operator: isEqualString
              right:
                value:
                  simple: Using default credentials on a network device or a Firewall
          root: FilteredBySeverity
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set in context.
      id: 3d4d8e9b-e83a-4513-8a87-6ea8f45e6497
      iscommand: false
      name: FilterDefaultPasswordsOperationTypes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 3d4d8e9b-e83a-4513-8a87-6ea8f45e6497
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1512.5,
          "y": 1330
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 69b6dab6-7d90-459f-864f-49938335a70d
      iscommand: false
      name: Filter by "success" status
      type: title
      version: -1
    taskid: 69b6dab6-7d90-459f-864f-49938335a70d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 950,
          "y": 195
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SuccessfulOperations
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.FullActionReport.Status
              operator: isEqualString
              right:
                value:
                  simple: success
          root: inputs.FullActionReport
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set in context.
      id: 0643290f-a130-4c67-8bf8-008791c20138
      iscommand: false
      name: FilterSuccessStatus
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 0643290f-a130-4c67-8bf8-008791c20138
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 950,
          "y": 340
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f34f18b2-efb3-433d-8aaf-391dd5166b21
      iscommand: false
      name: Filter by severity
      type: title
      version: -1
    taskid: f34f18b2-efb3-433d-8aaf-391dd5166b21
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 950,
          "y": 515
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      customFields:
        complex:
          accessor: penteraoperationdetails_cf
          root: PenteraIncidents
      details:
        complex:
          accessor: details
          root: PenteraIncidents
      name:
        complex:
          accessor: name
          root: PenteraIncidents
      penteraoperationtype:
        complex:
          accessor: penteraoperationtype
          root: PenteraIncidents
      severity:
        simple: High
      type:
        simple: Pentera Insight
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.create.inc
      id: be8973c3-d090-4c22-8203-b1bf29dea320
      iscommand: true
      name: Create Pentera Incidents
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: be8973c3-d090-4c22-8203-b1bf29dea320
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1050,
          "y": 2020
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FilterPenteraOperations
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: FilteredBySeverity.Operation Type
              operator: containsString
              right:
                value:
                  simple: CVE-2019-0708
          root: FilteredBySeverity
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set in context.
      id: 8c0987ae-977b-4e76-8e51-559ee51c1cf2
      iscommand: false
      name: FilterBlueKeepOperationTypes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 8c0987ae-977b-4e76-8e51-559ee51c1cf2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1330
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: FilterPenteraOperations
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9633a8b1-efb1-4750-8d67-c9c102caf026
      iscommand: false
      name: Is Pentera Operations not empty?
      type: condition
      version: -1
    taskid: 9633a8b1-efb1-4750-8d67-c9c102caf026
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1050,
          "y": 1640
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: FilterPenteraOperations
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: FilteredBySeverity.Operation Type
              operator: containsString
              right:
                value:
                  simple: Ability to access an open share
          root: FilteredBySeverity
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the specified value exists in context. If the value exists,
        it will be set in context, otherwise no value will be set in context.
      id: 9e73be18-14ab-43e2-87f2-6803f907f992
      iscommand: false
      name: FilterOpenShares
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 9e73be18-14ab-43e2-87f2-6803f907f992
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1962.5,
          "y": 1330
        }
      }
  "25":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: 'inputs.Filter open shares '
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7d3b5789-9dce-49a5-8232-47040ef4e08b
      iscommand: false
      name: Are we filtering open shares
      type: condition
      version: -1
    taskid: 7d3b5789-9dce-49a5-8232-47040ef4e08b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1850,
          "y": 1155
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      custom_fields_output:
        simple: penteraoperationdetails
      full_action_report:
        complex:
          root: FilterPenteraOperations
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2466a731-6e00-4f30-8a8b-6079bd4d92ed
      iscommand: false
      name: Pentera Group Incidents
      script: PenteraOperationToIncident
      type: regular
      version: -1
    taskid: 2466a731-6e00-4f30-8a8b-6079bd4d92ed
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1050,
          "y": 1860
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2295,
        "width": 2592.5,
        "x": -250,
        "y": 50
      }
    }
  }
