playbook-amir_-test_ask_user_and_Q.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 7d008369-d635-4898-868f-74223581994c
inputs: []
name: amir -test ask user and Q
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 78fa8570-bc2d-4cad-825e-54e7d6493ecd
      iscommand: false
      name: ""
      version: -1
    taskid: 78fa8570-bc2d-4cad-825e-54e7d6493ecd
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: is this o.k?
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: true
        tooltip: ""
        type: shortText
      sender: ""
      title: show me the bug!!!??
      totalanswers: 0
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: aaa
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: 'show me the bug please '
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: amr876@gmail.com
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 88624f75-bac1-452d-8f33-e268474c9c78
      iscommand: false
      name: yes - no Q
      type: collection
      version: -1
    taskid: 88624f75-bac1-452d-8f33-e268474c9c78
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 430,
          "y": 460
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: aaaaaaaa
      cc: null
      format: ""
      methods:
      - email
      replyOptions:
      - "Yes"
      - "No"
      subject:
        simple: aaa
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: amir876@gmail.com
    nexttasks:
      "Yes":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extract user's response from EmailAskUser reply. Returns the first
        textual response line of the provided entry that contains the reply body.
        Use ${lastCompletedTaskEntries} to analyze the previous playbook task containing
        the user's reply.
      id: a114a7b7-495d-4835-84b5-6ed98f1aaad2
      iscommand: false
      name: condition - ask user
      type: condition
      version: -1
    taskid: a114a7b7-495d-4835-84b5-6ed98f1aaad2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 440,
          "y": 240
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4b6da10c-6c0f-4b1d-8e4c-0918783cba7e
      iscommand: false
      name: success
      type: regular
      version: -1
    taskid: 4b6da10c-6c0f-4b1d-8e4c-0918783cba7e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440,
          "y": 650
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 695,
        "width": 400,
        "x": 430,
        "y": 50
      }
    }
  }
